<div th:fragment="create_external_dpia_modal" class="modal fade" id="createExternalDPIAModal" tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Opret Extern DPIA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createExternalDPIAForm" class="row g-3 needs-validation" action="#"
                      th:action="@{/rest/dpia/external/create}" method="post" novalidate>
                    <div class="row mt-3">
                        <label for="linkInput" class="col-sm-4 col-form-label">Link</label>
                        <div class="col-sm-8">
                            <input id="linkInput" class="form-control form-input"/>
                        </div>
                    </div>
                    <div class="row mt-3" id="assetSelectRow">
                        <label for="externalDPIAAssetSelect" class="col-sm-4 col-form-label">For Aktiv</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" name="selectedAsset"
                                    data-trigger="" id="externalDPIAAssetSelect" hidden="" tabindex="-1"></select>
                            <div class="invalid-feedback" id="assetError">Der skal vælges mindst et aktiv</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="createExternalDPIAService.formReset()" class="btn btn-secondary"
                        data-bs-dismiss="modal">Annuller
                </button>
                <button type="button" form="createExternalDPIAForm" class="btn btn-primary"
                        onclick="createExternalDPIAService.submitNewExternalDPIA()">Gem
                </button>
            </div>
        </div>
    </div>
</div>
