<th:block th:fragment="dpiaResponseFragment" xmlns:th="http://www.thymeleaf.org">
    <table id="dpiaSchema" style="width: 100%">
        <tbody>
            <th:block th:each="section : ${dpiaSections}">
                <tr class="dpiaSchemaSectionTr"  th:data-sectionid="${section.id}">
                    <th class="dpiaSchemaTh">
                        <em class="pli-arrow-up fs-4" th:id="'sectionIcon' + ${section.id}"></em> &nbsp;
                        <span th:text="${section.heading}"></span>
                        <span style="float:right;">
                            <th:block th:if="${section.canOptOut}">
                                <input type="checkbox" class="form-check-input" th:checked="${section.hasOptedOutResponse}" autocomplete="off" th:id="'sectionCheckbox' + ${section.id}" th:data-sectionid="${section.id}" />
                                <label style="margin-left: 5px;">Undlades</label> &nbsp;
                            </th:block>
                        </span>
                    </th>
                </tr>
                <tr th:classappend="'sectionRow' + ${section.id}" style="border: 0.5px solid #E8E8E8;">
                    <td style="padding: 30px;">
                        <p th:utext="${section.explainer}"></p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">Spørgsmål</th>
                                    <th class="col-lg-4">Vejledning</th>
                                    <th class="col-lg-5">Besvarelse</th>
                                </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${section.sectionIdentifier == 'scope'}">
                                <tr>
                                    <td>Systemets navn</td>
                                    <td></td>
                                    <td th:text="${assetNames}"></td>
                                </tr>
                                <tr>
                                    <td>Systemejer</td>
                                    <td></td>
                                    <td th:text="${responsibleUserNames}"></td>
                                </tr>
                                <tr>
                                    <td>Systemtype</td>
                                    <td></td>
                                    <td th:text="${assetTypeNames}"></td>
                                </tr>
                                <tr>
                                    <td>Leverandør</td>
                                    <td></td>
                                    <td th:text="${supplierNames}"></td>
                                </tr>
                                <tr>
                                    <td>Systemansvarlig</td>
                                    <td></td>
                                    <td th:text="${managerNames}"></td>
                                </tr>
                            </th:block>
                            <tr th:each="question : ${section.questions}">
                                <td th:text="${question.question}"></td>
                                <td th:utext="${question.instructions}">
                                </td>
                                <td>
<!--                                    <div th:if="${question.templateAnswer != null} AND ${question.templateAnswer != ''}" th:utext="${question.templateAnswer}"></div>-->
                                    <div class="editor-container" style="max-width: 100%">
                                        <textarea class="responses p-2" style="max-width: 100%" th:value="${question.response}" th:text="${question.response}" rows="4" th:data-questionid="${question.id}"></textarea>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </th:block>

            <tr class="dpiaSchemaSectionTr" data-sectionid="Risks">
                <th class="dpiaSchemaTh">
                    <em class="pli-arrow-up fs-4" id="sectionIconRisks"></em> &nbsp;
                    Risikovurderinger
                </th>
            </tr>
            <tr class="sectionRowRisks" style="border: 0.5px solid #E8E8E8;">
                <td style="padding: 30px;">
                    Denne sektion indeholder en liste af risikovurderinger af aktivet. </br>
                    Her er det muligt at vælge hvilke, der skal medtages i det samlede materiale.

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-lg-1">Tilvalgt</th>
                                <th class="col-lg-8">Risikovurdering</th>
                                <th class="col-lg-2">Dato</th>
                                <th class="col-lg-1">Signeret?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="threatAssessment : ${dpiaThreatAssesments}">
                                <td style="text-align: center;">
                                    <input type="checkbox" class="form-check-input selectThreatAssessment" th:checked="${threatAssessment.selected}" autocomplete="off" th:data-threatid="${threatAssessment.threatAssessmentId}" />
                                </td>
                                <td>
                                    <a th:href="'/risks/' + ${threatAssessment.threatAssessmentId}" th:text="${threatAssessment.threatAssessmentName}"></a>
                                </td>
                                <td th:text="${threatAssessment.date}"></td>
                                <td th:text="${threatAssessment.signed} ? 'Ja' : 'Nej'"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr class="dpiaSchemaSectionTr" data-sectionid="Conclusions">
                <th class="dpiaSchemaTh">
                    <em class="pli-arrow-up fs-4" id="sectionIconConclusions"></em> &nbsp;
                    Konklusion
                </th>
            </tr>
            <tr class="sectionRowConclusions" style="border: 0.5px solid #E8E8E8;">
                <td style="padding: 30px;">
                    <div class="editor-container" style="max-width: 100%">
                        <textarea id="conclusion" class="p-2" style="max-width: 100%" th:value="${conclusion}" th:text="${conclusion}" rows="4"></textarea>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</th:block>
