<!DOCTYPE html>
<html lang="da"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: head (textEditor = true, burgermenu = true)}"></head>
<body class="jumping">
<script th:src="@{/js/dpia/schema.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/dpia_schema.css}" />

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Skema til konsekvensanalyse</li>
                            </ol>
                        </nav>
                        <div class="row mt-4 mb-2">
                            <h1 class="page-title mb-0">Skema til konsekvensanalyse</h1>
                        </div>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button type="button" class="btn btn-info btn-lg hstack gap-2" style="margin-bottom: 8px; margin-right: 14px; height: 45px" data-bs-toggle="modal" data-bs-target="#createQuestionDialog">
                            <i class="ti-plus"></i> <span class="vr"></span> Nyt spørgsmål
                        </button>
                        <button type="button" onclick="createTaskService.show()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny opgave
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed rounded-0">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div id="spinner" class="sk-circle-fade" style="display: none;">
                                    <div class="sk-circle1 sk-circle"></div>
                                    <div class="sk-circle2 sk-circle"></div>
                                    <div class="sk-circle3 sk-circle"></div>
                                    <div class="sk-circle4 sk-circle"></div>
                                    <div class="sk-circle5 sk-circle"></div>
                                    <div class="sk-circle6 sk-circle"></div>
                                    <div class="sk-circle7 sk-circle"></div>
                                    <div class="sk-circle8 sk-circle"></div>
                                    <div class="sk-circle9 sk-circle"></div>
                                    <div class="sk-circle10 sk-circle"></div>
                                    <div class="sk-circle11 sk-circle"></div>
                                    <div class="sk-circle12 sk-circle"></div>
                                </div>
                                <div id="schemaPlaceholder"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <div class="modal fade" tabindex="-1" id="createQuestionDialog" aria-hidden="true"></div>
    <div class="modal fade" tabindex="-1" id="editQuestionDialog" aria-hidden="true"></div>

    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='dpia_template')}"></nav>
</div>

<div th:replace="~{fragments/footer :: footer (textEditor = true, taskDialog = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        var questionFormUrl = [[@{/assets/dpia/schema/question/form}]];
    +]*/
    let token = document.getElementsByName("_csrf")[0].getAttribute("content");

    document.addEventListener("DOMContentLoaded", function(event) {
        pageLoaded()
    });

    /*]]>*/
</script>

</body>

</html>
