<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true)}"></head>
<body class="jumping">
<script th:src="@{/js/admin/inactive_users.js}" defer></script>

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Valglister</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Valglister</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button type="button" onclick="createTaskService.show()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny opgave
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
<!--                                view main body-->
                                <div id="customChoiceListTable"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='choicelists')}"></nav>
</div>


<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true)}"></div>
<script th:src="@{/js/customChoiceLists/customChoiceLists.js}" defer></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        const viewUrl = [[@{/admin/tags}]];
        const restUrl = [[@{/rest/tags}]];
        const data = [[${choiceLists}]];
    +]*/
    let token = document.getElementsByName("_csrf")[0].getAttribute("content");
    let customChoiceListService

    document.addEventListener("DOMContentLoaded", function(event) {
        customChoiceListService = new CustomChoiceListService()
    });

    /*]]>*/
</script>

</body>

</html>
