
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="editRoleModal">
    <div class="modal fade" id="editRoleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Opret dokument</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form id="editRoleModalForm" class="row g-3 needs-validation" th:action="@{/rest/asset/roles/create}" th:object="${role}" th:attr="data-assetId=${role.assetId}" method="post" novalidate>
                        <div class="row mt-3">
                            <label for="name" class="col-lg-4 col-form-label">Navn</label>
                            <div class="col-lg-8">
                                <input id="name" th:field="*{name}" type="text" class="form-control" required>
                                <div class="invalid-feedback">Der skal angives et navn</div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                    <button type="submit" form="editRoleModalForm" class="btn btn-primary">Gem</button>
                </div>
            </div>
        </div>
        <div class="mc-calendar">

        </div>
    </div>
</th:block>
</body>
</html>
