<!DOCTYPE html>
<html lang="da">

<head th:replace="~{fragments/header :: head}" />

<body class="jumping">
<link rel="stylesheet" th:href="@{/css/standard/buttons.css}"/>
<div id="root" class="root mn--max hd--expanded">
	<section id="content" class="content">
		<div class="content__header content__boxed overlapping">
			<div class="content__wrap">
				<div class="d-md-flex">
					<div class="me-auto">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
								<li class="breadcrumb-item active" aria-current="page">Standarder</li>
							</ol>
						</nav>
						<h1 class="page-title mb-0 mt-2">Standarder</h1>
						<p class="lead"></p>

						</div>
						<div class="align-self-center d-inline-flex">
							<button type="button" class="btn btn-success btn-lg hstack gap-2" data-bs-toggle="modal" data-bs-target="#taskFormDialog"
								style="margin-bottom: 8px; height: 45px">
							<i class="ti-plus"></i> <span class="vr"></span> Ny opgave
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="content__boxed">
			<div class="content__wrap">
				<article class="d-md-flex gap-4">
					<div class="flex-fill">
						<div class="container">
							<div class="row" style="max-width: 950px; margin-left: auto; margin-right: auto; margin-top: 5em">
								<div class="col-6 mb-5" onclick="gotoPage('act')">
									<div class="card link me-3" id="act" onmouseover="hover('act')" onmouseout="mouseout()">
										<div class="card-header bg-dark">
											<h5 class="text-white mt-1 mb-1">Act (kap. 10)</h5>
										</div>
										<div class="card-body">
											<ul class="list-group list-group-flush">
												<li class="list-group-item">Afvigelser og korrigerende handlinger</li>
												<li class="list-group-item">Løbende forbedring</li>
												<li class="list-group-item">&nbsp</li>
												<li class="list-group-item">&nbsp</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="col-6 mb-5" onclick="gotoPage('plan')">
									<div class="card link ms-3" id="plan" onmouseover="hover('plan')" onmouseout="mouseout()">
										<div class="card-header bg-dark">
											<h5 class="text-white mt-1 mb-1 text-end">Plan (kap. 4-7)</h5>
										</div>
										<div class="card-body">
											<ul class="list-group list-group-flush">
												<li class="list-group-item text-end">Organisationens kontekst</li>
												<li class="list-group-item text-end">Lederskab</li>
												<li class="list-group-item text-end">Planlægning</li>
												<li class="list-group-item text-end">Support</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="col-6 mb-5" onclick="gotoPage('check')">
									<div class="card link me-3" id="check" onmouseover="hover('check')" onmouseout="mouseout()">
										<div class="card-header bg-dark">
											<h5 class="text-white mt-1 mb-1">Check (kap. 9)</h5>
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">Overvågning, måling, analyse og
												evaluering
											</li>
											<li class="list-group-item">intern audit</li>
											<li class="list-group-item">Ledelsens gennemgang</li>
											<li class="list-group-item">&nbsp</li>
										</ul>
									</div>
								</div>

								<div class="col-6 mb-5" onclick="gotoPage('do')">
									<div class="card link ms-3" id="do" onmouseover="hover('do')" onmouseout="mouseout()">
										<div class="card-header bg-dark">
											<h5 class="text-white mt-1 mb-1 text-end">Do (kap. 8)</h5>
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item text-end">Driftsplanlægning og -styring</li>
											<li class="list-group-item text-end">Vurdering af
												informationssikkerhedsrisici
											</li>
											<li class="list-group-item text-end">Håndtering af
												informationssikkerhedsrisici
											</li>
											<li class="list-group-item">&nbsp</li>
										</ul>
									</div>
								</div>


								<div class="col-12" id="center">
									<div class="circle">
										<a id="planbtn" href="" th:href="@{/standards/plan}" class="circle-li"
										   style="border: none;" onmouseover="hover('plan')" onmouseout="mouseout('plan')">
											<div class="text text1">Plan</div>
										</a>
										<a id="dobtn" th:href="@{/standards/do}" class="circle-li"
										   style="border: none;" onmouseover="hover('do')" onmouseout="mouseout('do')">
											<div class="text text1">Do</div>
										</a>
										<a id="checkbtn" th:href="@{/standards/check}" class="circle-li"
										   style="border: none;" onmouseover="hover('check')" onmouseout="mouseout('check')">
											<div class="text text1">Check</div>
										</a>
										<a id="actbtn" th:href="@{/standards/act}" class="circle-li"
										   style="border: none;"  onmouseover="hover('act')" onmouseout="mouseout('act')">
											<div class="text text1">Act</div>
										</a>
                                        <button onclick="gotoPage('supporting')" style="border: none; "
                                                class="center middle-text">Understøttende
                                            Standarder
                                        </button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
	<header th:replace="~{fragments/header :: header}"></header>
	<nav th:replace="~{fragments/navbar :: main (page='standarder')}"></nav>
</div>
<div th:replace="~{fragments/footer :: scripts}"></div>
<div th:replace="~{fragments/footer :: taskDialog}"></div>

<script th:inline="javascript">
	/*<![CDATA[*/
	/*[+
		const standardsUrl = [[@{/standards}]];
	+]*/


	let cards = [];
	cards['act'] = document.getElementById("act");
	cards['plan'] = document.getElementById("plan");
	cards['check'] = document.getElementById("check");
	cards['do'] = document.getElementById("do");
	let buttons = [];
	buttons['act'] = document.getElementById("actbtn");
	buttons['plan'] = document.getElementById("planbtn");
	buttons['check'] = document.getElementById("checkbtn");
	buttons['do'] = document.getElementById("dobtn");

	function clearAllActives() {
		for (let i in cards) {
			let elem = cards[i];
			if (elem.classList && elem.classList.contains('active')) {
				elem.classList.remove('active');
			}
		}
		for (let i in buttons) {
			let elem = buttons[i];
			if (elem.classList && elem.classList.contains('active')) {
				elem.classList.remove('active');
			}
		}
	}

	function mouseout() {
		clearAllActives();
	}
	function hover(part) {
		clearAllActives();
		cards[part].classList.add('active');
		buttons[part].classList.add('active');
	}

	function gotoPage(part) {
		window.location.href = standardsUrl + "/" + part;
	}


	/*]]>*/
</script>

</body>

</html>
