<!DOCTYPE html>
<html lang="da" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true, burgermenu = true)}"></head>
<body class="jumping">

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/standards}">Standarder</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Understøttende standarder</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Understøttende standarder</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex gap-2">
                        <div th:replace="~{fragments/component/pageTopButton :: createButton(id='createStandardButton', text='Ny standard', iconClass='ti-plus')}"></div>
                        <div th:replace="~{fragments/component/createTaskButton :: createTaskButton}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div id="tablePlaceholder"></div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='standarder')}"></nav>
</div>

<script type="text/javascript" th:src="@{/js/standards/supporting.js}" defer></script>
<script type="module" th:src="@{/js/standards/list.js}"></script>
<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        var data = [[${templates}]];
        var viewUrl = [[@{/standards/supporting/}]];
    +]*/
    /*]]>*/
</script>

</body>

</html>
