<!DOCTYPE html>
<html lang="da" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: head (textEditor = true, burgermenu = true)}"></head>
<body class="jumping">
<link rel="stylesheet" th:href="@{/css/standard/supporting_view.css}" />

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/standards}">Standarder</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/standards}">Understøttende standarder</a></li>
                                <li class="breadcrumb-item active" aria-current="page" th:text="${template.name}"></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="align-self-center d-inline-flex gap-2">
                        <a id="exportStandardToExcel" th:href="@{/reports/word(identifier=${template.identifier})}" type="button" class="btn btn-success btn-lg hstack gap-2"><i class="ti-plus"></i>Udskriv standard</a>
                        <div th:if="${template.standardTemplateSections != null && !template.standardTemplateSections.isEmpty()}" th:replace="~{fragments/component/pageTopButton :: infoButtonWithDataId(id='createRequirementButton', text='Ny krav', dataId=${template.identifier}, iconClass='ti-plus')}"></div>
                        <div th:replace="~{fragments/component/pageTopButton :: infoButtonWithDataId(id='addHeaderButton', text='Ny gruppe', dataId=${template.identifier}, iconClass='ti-plus')}"></div>
                        <div th:replace="~{fragments/component/createTaskButton :: createTaskButton}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row col-lg-12 mb-3">
                                    <label for="statusFilter" class="col-sm-2 col-form-label">Filtrér på status</label>
                                    <div class="col-sm-4">
                                        <select class="form-control form-select" id="statusFilter" onChange="filterOnStatusChanged();">
                                            <option th:selected="${statusFilter == null}" value="ALL">Alle</option>
                                            <option th:each="status : ${T(dk.digitalidentity.model.entity.enums.StandardSectionStatus).values()}" th:value="${status}" th:text="${status.getMessage()}" th:selected="${statusFilter == status}"></option>
                                        </select>
                                    </div>
                                </div>
                                <table class="col-lg-12 table">
                                    <thead>
                                    <tr class="bg-light">
                                        <th class="col-lg-3" style="border-right: 1px solid black;">Foranstaltning</th>
                                        <th th:unless="${isNSIS}" class="col-lg-1">Tilvalgt /fravalgt</th>
                                        <th th:if="${isNSIS}" class="col-lg-1">Sikkerhedsniveau</th>
                                        <th th:class="${isNSIS} ? 'col-lg-4' : 'col-lg-5'">Note</th>
                                        <th class="col-lg-1">Senest redigeret</th>
                                        <th class="col-lg-1">Ansvarlig</th>
                                        <th class="col-lg-1">Status</th>
                                        <th class="col-lg-1">Handlinger</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="sectionParent, stat : ${template.standardTemplateSections}">
                                            <tr class="bg-light">
                                                <td style="border-right: 1px solid black; font-weight: bold; color: black;" th:text="${sectionParent.section} + ' ' + ${sectionParent.description}"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span>
                                                        <button sec:authorize="hasRole('ROLE_update_all')" th:data-id="${sectionParent.identifier}" th:data-header="${template.identifier}" onclick="createSectionService.openHeaderModal(this, true)" type="button" class="btn btn-icon btn-outline-light btn-xs"><i class="pli-pen fs-5"></i></button>
                                                        <button sec:authorize="hasRole('ROLE_delete_all')" th:data-id="${sectionParent.identifier}" onclick="createSectionService.openDeleteSwal(this)" type="button" class="btn btn-icon btn-outline-light btn-xs"><i class="pli-trash fs-5"></i></button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <th:block th:if="${statusFilter == null || section.standardSection.status == statusFilter}" th:each="section, statSection : ${#lists.sort(sectionParent.children, standardTemplateSectionComparator)}">
                                                <tr class="foldable" th:attr="data-index=${stat.index} + '.' + ${statSection.index}">
                                                    <td style="border-right: 1px solid black; font-weight: bold; color: black;" th:text="${section.section} + ' ' + ${section.description}"></td>
                                                    <td th:unless="${isNSIS}" th:id="'selectedTD' + ${stat.index} + '.' + ${statSection.index}" th:text="${section.standardSection.selected} ? 'Tilvalgt' : 'Fravalgt'" style="font-weight: bold;"></td>
                                                    <td th:if="${isNSIS}" th:text="${section.securityLevel}" style="font-weight: bold;"></td>
                                                    <td th:id="'reasonTD' + ${stat.index} + '.' + ${statSection.index}" th:text="${section.standardSection.reason}" style="font-weight: bold;"></td>
                                                    <td th:id="'dateTD' + ${stat.index} + '.' + ${statSection.index}" th:text="${#temporals.format(section.standardSection.updatedAt, 'dd-MM-yyyy')}" style="font-weight: bold;"></td>
                                                    <td th:id="'responsibleTD' + ${stat.index} + '.' + ${statSection.index}" th:text="${section.standardSection.responsibleUser} == null ? '' : ${section.standardSection.responsibleUser.name}" style="font-weight: bold;"></td>
                                                    <td th:if="${section.standardSection != null && section.standardSection.status != null}" th:id="'statusTD' + ${stat.index} + '.' + ${statSection.index}" th:style="${'display: ' + (section.standardSection.selected ? 'block' : 'none')}">
                                                        <div th:if="${T(dk.digitalidentity.model.entity.enums.StandardSectionStatus).NOT_STARTED.equals(section.standardSection.status)} " class="d-block badge bg-yellow-500" style="width: 70px" th:text="${section.standardSection.status.getMessage()}"></div>
                                                        <div th:if="${T(dk.digitalidentity.model.entity.enums.StandardSectionStatus).IN_PROGRESS.equals(section.standardSection.status)} " class="d-block badge bg-blue-500" style="width: 70px" th:text="${section.standardSection.status.getMessage()}"></div>
                                                        <div th:if="${T(dk.digitalidentity.model.entity.enums.StandardSectionStatus).READY.equals(section.standardSection.status)} " class="d-block badge bg-green-500" style="width: 70px" th:text="${section.standardSection.status.getMessage()}"></div>
                                                        <div th:if="${T(dk.digitalidentity.model.entity.enums.StandardSectionStatus).NOT_RELEVANT.equals(section.standardSection.status)} " class="d-block badge bg-gray-500" style="width: 70px" th:text="${section.standardSection.status.getMessage()}"></div>
                                                    </td>
                                                    <td><span ><button sec:authorize="hasRole('ROLE_delete_all')" th:data-id="${section.identifier}" onclick="createSectionService.openDeleteSwal(this, false)" type="button" class="btn btn-icon btn-outline-light btn-xs"><i class="pli-trash fs-5"></i></button></span></td>
                                                </tr>
                                                <tr class="hidden">
                                                    <td style="border-right: 1px solid black;"></td>
                                                    <td colspan="5">
                                                        <div sec:authorize="hasRole('update_all')" th:replace="~{standards/fragments/sectionFragment :: editable-section}"></div>
                                                        <div sec:authorize="!hasRole('update_all')" th:replace="~{standards/fragments/sectionFragment :: readonly-section}"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0; border-right: 1px solid black;">
                                                        <hr style="margin: 0;"/>
                                                    </td>
                                                    <td style="padding: 0;" colspan="5">
                                                        <hr style="margin: 0;"/>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='standarder')}"></nav>
</div>

<div th:replace="~{fragments/addRelation :: addRelation(customAddRelationBtn = true)}"></div>

<script type="text/javascript" th:src="@{/js/standards/supporting.js}" defer></script>
<div th:replace="~{fragments/footer :: footer (taskDialog = true, textEditor = true, sweetalerts = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        var viewUrl = [[@{/standards/supporting/}]];
        var today = [[${today}]];
        var templateIdentifier = [[${template.identifier}]];
        var testMap = [[${relationMap}]]
        var modalError = [[${headerModalError}]]
    +]*/
    let token = document.getElementsByName("_csrf")[0].getAttribute("content");
    document.addEventListener("DOMContentLoaded", function(event) {
        supportingStandartsViewLoaded();
        addRelationFormLoaded();
        if (modalError) {
            document.getElementById('addHeaderButton').click();
            toastService.error(modalError);
        }

        initPageTopButtons()

        // choiceService.initHeaderSelect("headerSelect");
    });

    function initPageTopButtons() {
        const createGroupButton = document.getElementById("addHeaderButton");
        createGroupButton.addEventListener("click",  () => createSectionService.openHeaderModal(createGroupButton))

        const createReqButton = document.getElementById("createRequirementButton");
        createReqButton.addEventListener("click",  () => createSectionService.openRequirementModal(createReqButton))
    }
    /*]]>*/
</script>

</body>

</html>
