<!DOCTYPE html>
<html lang="da" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true, burgermenu = true)}"></head>
<body class="jumping">
<link rel="stylesheet" th:href="@{/css/horizontal_scroll.css}" />

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Hændelseslog</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Hændelseslog</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex gap-2">
                        <div th:replace="~{fragments/component/pageTopButton :: infoButton(id='saveAsExcelButton', text='Gem som Excel', iconClass='ti-bookmark')}"></div>
                        <div th:replace="~{fragments/component/pageTopButton :: openModalInfoButton(id='createIncidentButton', text='Ny hændelse', iconClass='ti-plus', target='#createIncidentDialog')}"></div>
                        <div th:replace="~{fragments/component/createTaskButton :: createTaskButton}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-start justify-content-between gap-3">
                                    <div class="d-flex gap-2 tableOptionsContainer">
                                        <div th:replace="~{statistic/fragment/toggleButton :: toggleStatisticButton}"></div>
                                    </div>
                                    <div class="d-flex gap-2 flex-column">
                                        <div class="input-group gap-2">
                                            <label for="dateFieldSelect" class="col-form-label text-nowrap">Filtrer efter dato</label>
                                            <select id="dateFieldSelect" class="form-control form-select w-auto">
                                                <option value="CREATED">Oprettelsesdato</option>
                                                <option value="UPDATED">Opdateringsdato</option>
                                            </select>
                                        </div>
                                        <div class="input-group gap-2">
                                            <label for="incidentSearch" class="col-form-label text-nowrap">Søg</label>
                                            <input id="incidentSearch" type="text" class="form-control"
                                                   name="incidentSearch" placeholder="Søg i alle felter">
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2 flex-column">
                                        <div class="input-group gap-2">
                                            <label for="filterFrom" class="col-form-label">Fra</label>
                                            <input id="filterFrom" type="text" class="form-control"
                                                   name="filterFrom">
                                            <button id="filterFromBtn" class="btn btn-primary" type="button">
                                                <i class="pli-calendar-4 fs-5"></i>
                                            </button>
                                        </div>
                                        <div class="input-group gap-2">
                                            <label for="filterTo" class="col-form-label">Til</label>
                                            <input id="filterTo" type="text" class="form-control"
                                                   name="filterTo">
                                            <button id="filterToBtn" class="btn btn-primary" type="button">
                                                <i class="pli-calendar-4 fs-5"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button id="clearFiltersBtn" class="btn btn-outline-secondary" type="button">Ryd filtre</button>
                                        <button id="printReportBtn" sec:authorize="hasRole('ROLE_read_all')" class="btn btn-success" type="button" style="z-index: 2; position: relative">Print rapport</button>
                                        <a id="fetchExcelBtn" sec:authorize="hasRole('ROLE_read_all')" class="btn btn-success" type="button" style="z-index: 2; position: relative">Hent excel fil</a>
                                    </div>
                                </div>

                                <div class="grid-scroll-wrapper">
                                    <div id="incidentsTable"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <div sec:authorize="hasRole('ROLE_create_all')" class="modal fade" tabindex="-1" id="createIncidentDialog" aria-hidden="true"></div>
    <div sec:authorize="hasRole('ROLE_update_all')" class="modal fade" tabindex="-1" id="editIncidentDialog" aria-hidden="true"></div>

    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='incidentlogs')}"></nav>
</div>

<div th:replace="~{fragments/excel-export-modal :: excelExportModal}"></div>

<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true, gridoptions = true, statistic = true)}"></div>

<script type="module"  th:src="@{/js/incidents/incident-service.js}" defer></script>
<script type="module"  th:src="@{/js/incidents/incidentlog.js}" defer></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
    var formUrl = [[@{/incidents/logForm}]];
    var restUrl = [[@{/rest/incidents/}]];
    var viewUrl = [[@{/incidents/logs/}]];
    var superuser = [[${superuser}]];
    +]*/
    let token = document.getElementsByName("_csrf")[0].getAttribute("content");
    /*]]>*/
</script>

</body>

</html>
