<!DOCTYPE html>
<html lang="da" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true, burgermenu = true)}"></head>
<body class="jumping">
<script th:src="@{/js/incidents/incident-service.js}" defer></script>
<script th:src="@{/js/incidents/incident-grid-service.js}" defer></script>
<script th:src="@{/js/export-service.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/horizontal_scroll.css}" />

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Hændelseslog</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Hændelseslog</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex gap-2">
                        <div th:replace="~{fragments/component/pageTopButton :: infoButton(id='saveAsExcelButton', text='Gem som Excel', iconClass='ti-bookmark')}"></div>
                        <div th:replace="~{fragments/component/pageTopButton :: openModalInfoButton(id='createIncidentButton', text='Ny hændelse', iconClass='ti-plus', target='#createIncidentDialog')}"></div>
                        <div th:replace="~{fragments/component/createTaskButton :: createTaskButton}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row mt-1">
                                    <div class="col-lg-1 col-md-1 col-sm-2"></div>
                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                        <div class="input-group">
                                            <label for="filterFrom" class="col-form-label" style="width: 40px">Fra</label>
                                            <input id="filterFrom" type="text" class="form-control" name="filterFrom">
                                            <button id="filterFromBtn" class="btn btn-primary" type="button">
                                                <i class="pli-calendar-4 fs-5"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                        <div class="input-group">
                                            <label for="filterTo" class="col-form-label col-2" style="width: 40px">Til</label>
                                            <input id="filterTo" type="text" class="form-control" name="filterTo">
                                            <button id="filterToBtn" class="btn btn-primary" type="button">
                                                <i class="pli-calendar-4 fs-5"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <button sec:authorize="hasRole('ROLE_read_all')" class="btn btn-success" type="button" onclick="incidentGridService.generateReport()" style="z-index: 2; position: relative">Print rapport</button>
                                        <a sec:authorize="hasRole('ROLE_read_all')" class="btn btn-success" onclick="incidentGridService.generateExcel()" type="button" style="z-index: 2; position: relative">Hent excel fil</a>
                                    </div>
                                    <div class="col-lg-3 col-md-1"></div>
                                </div>
                                <div th:replace="~{fragments/gridOptions :: dropdown}">

                                </div>
                                <div class="grid-scroll-wrapper">
                                    <div id="incidentsTable"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <div sec:authorize="hasRole('ROLE_create_all')" class="modal fade" tabindex="-1" id="createIncidentDialog" aria-hidden="true"></div>
    <div sec:authorize="hasRole('ROLE_update_all')" class="modal fade" tabindex="-1" id="editIncidentDialog" aria-hidden="true"></div>

    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='incidentlogs')}"></nav>
</div>

<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true, gridoptions = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
    var formUrl = [[@{/incidents/logForm}]];
    var restUrl = [[@{/rest/incidents/}]];
    var viewUrl = [[@{/incidents/logs/}]];
    var superuser = [[${superuser}]];
    +]*/
    let token = document.getElementsByName("_csrf")[0].getAttribute("content");
    /*]]>*/
</script>

</body>

</html>
