<!DOCTYPE html>
<html lang="en">
<body>

<!--x & y axis choices-->
<div class="form-group" th:if="${config.type != T(dk.digitalidentity.service.statistic.enumerable.ChartType).PIE && !config.getAllowedXFieldChoices().isEmpty()}">
    <label for="xAxisSelector" class="form-label col-4">Vælg grupperingsakse</label>
    <select id="xAxisSelector" class="form-control col-7">
        <option th:each="option : ${config.allowedXFieldChoices}" th:value="${option.fieldName}" th:text="${option.label}"></option>
    </select>
</div>

<div class="form-group" th:if="${!config.getAllowedYFieldChoices().isEmpty()}">
    <label for="yAxisSelector" class="form-label col-4">Vælg dataakse</label>
    <select id="yAxisSelector" class="form-control col-7">
        <option th:each="option : ${config.allowedYFieldChoices}" th:value="${option.fieldName}" th:text="${option.label}"></option>
    </select>
</div>

<!--Time period-->
<div id="timePeriodContainer">
    <div class="form-group">
        <label for="fromTimePicker" class="form-label col-4">Fra tidspunkt</label>
        <input id="fromTimePicker" type="datetime-local" class="form-control datepicker col-7">
    </div>

    <div class="form-group">
        <label for="toTimePicker" class="form-label col-4">Til tidspunkt</label>
        <input id="toTimePicker" type="datetime-local" class="form-control datepicker col-7">
    </div>

    <div class="form-group">
        <label for="periodGroupingSelector" class="form-label col-4">Vælg gruppering af datoer</label>
        <select id="periodGroupingSelector" class="form-control col-7">
            <option th:each="period : ${T(dk.digitalidentity.service.statistic.enumerable.Period).values()}" th:value="${period}" th:text="${period.getName()}"></option>
        </select>
    </div>
</div>
</body>
</html>