{
  "swagger": "2.0",
  "info": {
    "version": "2",
    "title": "OS2Kitos API - V2",
    "description": "<b><i>OBS: Dokumentation for V1 (authorize endpoint) findes ved at skifte version på dokumentet til 1 øverst på siden</i></b><br/><br/>KITOS API V2 understøtter både læse- og skriveoperationer for de væsentlige registreringsobjekter i KITOS. <br/><br/>Se mere om designet og konventionerne i API'et her: <a href='https://os2web.atlassian.net/wiki/spaces/KITOS/pages/2059599873/API+Design+V2'>API V2</a>.<br/><br/>Generelt er anvendelsen af KITOS API(er) beskrevet på projektets <a href='https://os2web.atlassian.net/wiki/spaces/KITOS/pages/658145384/S+dan+kommer+du+igang'>Confluence side</a>.<br/><br/><b>KENDTE FEJL OG BEGRÆNSNINGER PÅ DENNE HJÆLPESIDE SAMT WORKAROUND</b><br/>Felter der består af lister af enum værdier vises ikke rigtigt i denne UI. Konkret vises de mulige valg ikke, men i stedet vises 'Array[string]'. For et retvisende billede af dokumentationen anbefales derfor følgende workaround:<br/><br/>- JSON downloades via 'docs linket i toppen'<br/>- Indholdet indsættes i anden editor f.eks. <a href='https://editor.swagger.io' target='_blank'>Swagger.io</a><br/><br/><b>BEMÆRK</b>: Funktionen 'Try it out' virker p.t. ikke i den eksterne editor."
  },
  "host": "kitos.dk",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v2/data-processing-registrations": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistration "
        ],
        "summary": "Returns all Data-Processing-Registrations available to the user",
        "operationId": "get_Many_DataProcessingRegistrationV2_GetDataProcessingRegistrations",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "Organization UUID filter",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "systemUuid",
            "in": "query",
            "description": "System UUID filter",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "systemUsageUuid",
            "in": "query",
            "description": "SystemUsage UUID filter",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "dataProcessorUuid",
            "in": "query",
            "description": "UUID of a data processor in the registration",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "subDataProcessorUuid",
            "in": "query",
            "description": "UUID of a sub data processor in the registration",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agreementConcluded",
            "in": "query",
            "description": "Filter based on whether or not an agreement has been concluded",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "changedSinceGtEq",
            "in": "query",
            "description": "Include only changes which were LastModified (UTC) is equal to or greater than the provided value",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "orderByProperty",
            "in": "query",
            "description": "Ordering property",
            "required": false,
            "type": "string",
            "enum": [
              "CreationOrder",
              "Name",
              "LastChanged"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,250] Default: 250.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 250,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataProcessingRegistrationResponseDTO"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "API V2 - DataProcessingRegistration "
        ],
        "summary": "Create a new data processing registration",
        "operationId": "post_Single_DataProcessingRegistrationV2_PostDataProcessingRegistration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDataProcessingRegistrationRequestDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DataProcessingRegistrationResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/api/v2/data-processing-registrations/{uuid}": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistration "
        ],
        "summary": "Returns a specific Data-Processing-Registration",
        "operationId": "get_Single_DataProcessingRegistrationV2_GetDataProcessingRegistration",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of Data-Processing-Registration entity",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataProcessingRegistrationResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "API V2 - DataProcessingRegistration "
        ],
        "summary": "Perform a full update of an existing data processing registration.\r\nNote: PUT expects a full version of the updated registration. For partial updates, please use PATCH.",
        "operationId": "put_Single_DataProcessingRegistrationV2_PutDataProcessingRegistration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the data processing registration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDataProcessingRegistrationRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataProcessingRegistrationResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "API V2 - DataProcessingRegistration "
        ],
        "summary": "Removes an existing data processing registration.",
        "operationId": "delete_Single_DataProcessingRegistrationV2_DeleteDataProcessingRegistration",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the data processing registration",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "NoContent"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "API V2 - DataProcessingRegistration "
        ],
        "summary": "Allows partial updates of an existing data processing registration using json merge patch semantics (RFC7396)",
        "operationId": "patch_Single_DataProcessingRegistrationV2_PatchDataProcessingRegistration",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the data processing registration",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDataProcessingRegistrationRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataProcessingRegistrationResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-basis-for-transfer-types": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationBasisForTransferType "
        ],
        "summary": "Returns Data Processing Registration basis for transfer options which are available for new registrations within the organization",
        "operationId": "get_Many_DataProcessingRegistrationBasisForTransferTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the basis for transfer availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-basis-for-transfer-types/{basisForTransferUuid}": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationBasisForTransferType "
        ],
        "summary": "Returns requested Data Processing Registration basis for transfer",
        "operationId": "get_Single_DataProcessingRegistrationBasisForTransferTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "basisForTransferUuid",
            "in": "path",
            "description": "basis for transfer identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the basis for transfer availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-country-types": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationCountryType "
        ],
        "summary": "Returns Data Processing Registration country options which are available for new registrations within the organization",
        "operationId": "get_Many_DataProcessingRegistrationCountryTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the country availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-country-types/{countryUuid}": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationCountryType "
        ],
        "summary": "Returns requested Data Processing Registration country",
        "operationId": "get_Single_DataProcessingRegistrationCountryTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryUuid",
            "in": "path",
            "description": "country identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the country availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-data-responsible-types": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationDataResponsibleType "
        ],
        "summary": "Returns Data Processing Registration data responsible options which are available for new registrations within the organization",
        "operationId": "get_Many_DataProcessingRegistrationDataResponsibleTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the data responsible availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-data-responsible-types/{dataResponsibleUuid}": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationDataResponsibleType "
        ],
        "summary": "Returns requested Data Processing Registration data responsible",
        "operationId": "get_Single_DataProcessingRegistrationDataResponsibleTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataResponsibleUuid",
            "in": "path",
            "description": "data responsible identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the data responsible availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-oversight-types": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationOversightType "
        ],
        "summary": "Returns Data Processing Registration oversight options which are available for new registrations within the organization",
        "operationId": "get_Many_DataProcessingRegistrationOversightTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the oversight availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-oversight-types/{oversightUuid}": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationOversightType "
        ],
        "summary": "Returns requested Data Processing Registration oversight",
        "operationId": "get_Single_DataProcessingRegistrationOversightTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "oversightUuid",
            "in": "path",
            "description": "oversight identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the oversight availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-role-types": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationRoleType "
        ],
        "summary": "Returns Data Processing Registration role types which are available for new registrations within the organization",
        "operationId": "get_Many_DataProcessingRegistrationRoleTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the Data Processing Registration role availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoleOptionResponseDTO"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/data-processing-registration-role-types/{dataProcessingRegistrationRoleTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - DataProcessingRegistrationRoleType "
        ],
        "summary": "Returns requested Data Processing Registration role type",
        "operationId": "get_Single_DataProcessingRegistrationRoleTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dataProcessingRegistrationRoleTypeUuid",
            "in": "path",
            "description": "role type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the role type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoleOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/delta-feed/deleted-entities": {
      "get": {
        "tags": [
          "API V2 - DeltaFeed "
        ],
        "summary": "Returns a feed of deleted items, optionally since a specified time (UTC)",
        "operationId": "get_Many_DeltaFeedV2_GetDeletedObjects",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "description": "Filter results based on tracked entity type.",
            "required": false,
            "type": "string",
            "enum": [
              "ItSystem",
              "ItSystemUsage",
              "ItInterface",
              "ItContract",
              "DataProcessingRegistration",
              "OrganizationUnit"
            ]
          },
          {
            "name": "deletedSinceUTC",
            "in": "query",
            "description": "Results will be returned where 'deletedTimeStamp &gt;= deletedSinceUTC'",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,250] Default: 250.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 250,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TrackingEventResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/it-contracts": {
      "get": {
        "tags": [
          "API V2 - ItContract "
        ],
        "summary": "Returns all IT-Contracts available to the current user within the provided organization context",
        "operationId": "get_Many_ItContractV2_GetItContracts",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "Organization UUID filter",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "systemUuid",
            "in": "query",
            "description": "Associated system UUID filter",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "systemUsageUuid",
            "in": "query",
            "description": "Associated system usage UUID filter",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "dataProcessingRegistrationUuid",
            "in": "query",
            "description": "Associated data processing registration UUID filter",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "responsibleOrgUnitUuid",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "supplierUuid",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "nameContent",
            "in": "query",
            "description": "Name content filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "changedSinceGtEq",
            "in": "query",
            "description": "Include only changes which were LastModified (UTC) is equal to or greater than the provided value",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "orderByProperty",
            "in": "query",
            "description": "Ordering property",
            "required": false,
            "type": "string",
            "enum": [
              "CreationOrder",
              "Name",
              "LastChanged"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,250] Default: 250.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 250,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItContractResponseDTO"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "API V2 - ItContract "
        ],
        "summary": "Creates a new it-contract in the requested organization",
        "operationId": "post_Single_ItContractV2_PostItContract",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateNewContractRequestDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ItContractResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/api/v2/it-contracts/{contractUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContract "
        ],
        "summary": "Returns requested IT-Contract",
        "operationId": "get_Single_ItContractV2_GetItContract",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "contractUuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItContractResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "API V2 - ItContract "
        ],
        "summary": "Updates an existing it-contract\r\nNote: PUT expects a full version of the updated contract. For partial updates, please use PATCH.",
        "operationId": "put_Single_ItContractV2_PutItContract",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "contractUuid",
            "in": "path",
            "description": "UUID of the contract in KITOS",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Full update of the contract",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateContractRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItContractResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "API V2 - ItContract "
        ],
        "summary": "Delete an existing contract",
        "operationId": "delete_Single_ItContractV2_DeleteItContract",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "contractUuid",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "NoContent"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "API V2 - ItContract "
        ],
        "summary": "Allows partial updates of an existing it-contract using json merge patch semantics (RFC7396)",
        "operationId": "patch_Single_ItContractV2_PatchItContract",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "contractUuid",
            "in": "path",
            "description": "UUID of the contract in KITOS",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Full update of the contract",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateContractRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItContractResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/api/v2/it-contract-agreement-element-types": {
      "get": {
        "tags": [
          "API V2 - ItContractAgreementElementType "
        ],
        "summary": "Returns It-Contract agreement element type options",
        "operationId": "get_Many_ItContractAgreementElementTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the agreement element types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-agreement-element-types/{agreementElementTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractAgreementElementType "
        ],
        "summary": "Returns requested It-Contract agreement element type",
        "operationId": "get_Single_ItContractAgreementElementTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "agreementElementTypeUuid",
            "in": "path",
            "description": "agreement element type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the agreement element type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-agreement-extension-option-types": {
      "get": {
        "tags": [
          "API V2 - ItContractAgreementExtensionOptionType "
        ],
        "summary": "Returns It-Contract agreement extension option type options",
        "operationId": "get_Many_ItContractAgreementExtensionOptionTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the agreement extension option types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-agreement-extension-option-types/{agreementExtensionOptionTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractAgreementExtensionOptionType "
        ],
        "summary": "Returns requested It-Contract agreement extension option type",
        "operationId": "get_Single_ItContractAgreementExtensionOptionTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "agreementExtensionOptionTypeUuid",
            "in": "path",
            "description": "agreement extension option type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the agreement extension option type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-contract-template-types": {
      "get": {
        "tags": [
          "API V2 - ItContractContractTemplateType "
        ],
        "summary": "Returns It-Contract contract template type options",
        "operationId": "get_Many_ItContractContractTemplateTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the contract template types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-contract-template-types/{contractTemplateTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractContractTemplateType "
        ],
        "summary": "Returns requested It-Contract contract template type",
        "operationId": "get_Single_ItContractContractTemplateTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "contractTemplateTypeUuid",
            "in": "path",
            "description": "contract template type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the contract template type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-contract-types": {
      "get": {
        "tags": [
          "API V2 - ItContractContractType "
        ],
        "summary": "Returns It-Contract contract type options",
        "operationId": "get_Many_ItContractContractTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the contract types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-contract-types/{contractTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractContractType "
        ],
        "summary": "Returns requested It-Contract contract type",
        "operationId": "get_Single_ItContractContractTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "contractTypeUuid",
            "in": "path",
            "description": "contract type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the contract type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-criticality-types": {
      "get": {
        "tags": [
          "API V2 - ItContractCriticalityType "
        ],
        "summary": "Returns It-Contract criticality type options",
        "operationId": "get_Many_ItContractCriticalityTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the criticality types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-criticality-types/{criticalityTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractCriticalityType "
        ],
        "summary": "Returns requested It-Contract criticality type",
        "operationId": "get_Single_ItContractCriticalityTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "criticalityTypeUuid",
            "in": "path",
            "description": "criticality type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the criticality type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-notice-period-month-types": {
      "get": {
        "tags": [
          "API V2 - ItContractNoticePeriodMonthType "
        ],
        "summary": "Returns It-Contract notice period month type options",
        "operationId": "get_Many_ItContractNoticePeriodMonthTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the notice period month types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-notice-period-month-types/{noticePeriodMonthTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractNoticePeriodMonthType "
        ],
        "summary": "Returns requested It-Contract notice period month type",
        "operationId": "get_Single_ItContractNoticePeriodMonthTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "noticePeriodMonthTypeUuid",
            "in": "path",
            "description": "notice period month type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the notice period month type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-payment-frequency-types": {
      "get": {
        "tags": [
          "API V2 - ItContractPaymentFrequencyType "
        ],
        "summary": "Returns It-Contract payment frequency type options",
        "operationId": "get_Many_ItContractPaymentFrequencyTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the payment frequency types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-payment-frequency-types/{paymentFrequencyTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractPaymentFrequencyType "
        ],
        "summary": "Returns requested It-Contract payment frequency type",
        "operationId": "get_Single_ItContractPaymentFrequencyTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentFrequencyTypeUuid",
            "in": "path",
            "description": "payment frequency type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the payment frequency type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-payment-model-types": {
      "get": {
        "tags": [
          "API V2 - ItContractPaymentModelType "
        ],
        "summary": "Returns It-Contract payment model type options",
        "operationId": "get_Many_ItContractPaymentModelTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the payment model types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-payment-model-types/{paymentModelTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractPaymentModelType "
        ],
        "summary": "Returns requested It-Contract payment model type",
        "operationId": "get_Single_ItContractPaymentModelTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentModelTypeUuid",
            "in": "path",
            "description": "payment model type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the payment model type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-price-regulation-types": {
      "get": {
        "tags": [
          "API V2 - ItContractPriceRegulationType "
        ],
        "summary": "Returns It-Contract price regulation type options",
        "operationId": "get_Many_ItContractPriceRegulationTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the price regulation types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-price-regulation-types/{priceRegulationTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractPriceRegulationType "
        ],
        "summary": "Returns requested It-Contract price regulation type",
        "operationId": "get_Single_ItContractPriceRegulationTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "priceRegulationTypeUuid",
            "in": "path",
            "description": "price regulation type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the price regulation type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-procurement-strategy-types": {
      "get": {
        "tags": [
          "API V2 - ItContractProcurementStrategy "
        ],
        "summary": "Returns It-Contract procurement strategy type options",
        "operationId": "get_Many_ItContractProcurementStrategyV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the procurement strategy types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-procurement-strategy-types/{procurementStrategyTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractProcurementStrategy "
        ],
        "summary": "Returns requested It-Contract procurement strategy type",
        "operationId": "get_Single_ItContractProcurementStrategyV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "procurementStrategyTypeUuid",
            "in": "path",
            "description": "procurement strategy type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the procurement strategy type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-purchase-types": {
      "get": {
        "tags": [
          "API V2 - ItContractPurchaseType "
        ],
        "summary": "Returns It-Contract purchase type options",
        "operationId": "get_Many_ItContractPurchaseTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the purchase types availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegularOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-purchase-types/{purchaseTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractPurchaseType "
        ],
        "summary": "Returns requested It-Contract purchase type",
        "operationId": "get_Single_ItContractPurchaseTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "purchaseTypeUuid",
            "in": "path",
            "description": "purchase type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the purchase type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegularOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-role-types": {
      "get": {
        "tags": [
          "API V2 - ItContractRoleType "
        ],
        "summary": "Returns It Contract role types which are available for new registrations within the organization",
        "operationId": "get_Many_ItContractRoleTypeV2_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the It Contract role availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0\r\nNOTE: This parameter has no effect if 'pageSize' is left unspecified",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,2^31] Default: null.\r\nIf left unspecified, the entire result set will be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoleOptionResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-contract-role-types/{contractRoleTypeUuid}": {
      "get": {
        "tags": [
          "API V2 - ItContractRoleType "
        ],
        "summary": "Returns requested It Contract role type",
        "operationId": "get_Single_ItContractRoleTypeV2_Get_V1",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "contractRoleTypeUuid",
            "in": "path",
            "description": "role type identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "organization context for the role type availability",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoleOptionExtendedResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-interfaces": {
      "get": {
        "tags": [
          "API V2 - ItInterface "
        ],
        "summary": "Returns IT-Interfaces available to the user",
        "operationId": "get_Many_ItInterfaceV2_GetItInterfaces",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "exposedBySystemUuid",
            "in": "query",
            "description": "IT-System UUID filter",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "includeDeactivated",
            "in": "query",
            "description": "If set to true, the response will also include deactivated it-interfaces",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "changedSinceGtEq",
            "in": "query",
            "description": "Include only changes which were LastModified (UTC) is equal to or greater than the provided value",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "nameEquals",
            "in": "query",
            "description": "Include only interfaces with a name equal to the parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "usedInOrganizationUuid",
            "in": "query",
            "description": "Filter by UUID of an organization which has taken the related it-system into use through an it-system-usage resource",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Filter by contents of the name",
            "required": false,
            "type": "string"
          },
          {
            "name": "interfaceId",
            "in": "query",
            "description": "Include only interfaces with an InterfaceId equal to the parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "description": "Query it-interfaces created in a specific organization",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "orderByProperty",
            "in": "query",
            "description": "Ordering property",
            "required": false,
            "type": "string",
            "enum": [
              "CreationOrder",
              "Name",
              "LastChanged"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "0-based page number. Use this parameter to page through the requested collection.\r\nOffset in the source collection will be (pageSize * page)\r\nRange: [0,2^31] Default: 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page referred by 'page'.\r\nRange: [1,250] Default: 250.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 250,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItInterfaceResponseDTO"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "API V2 - ItInterface "
        ],
        "summary": "Creates a new IT-Interface based on given input values",
        "operationId": "post_Single_ItInterfaceV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "A collection of specific IT-Interface values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateItInterfaceRequestDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ItInterfaceResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/api/v2/it-interfaces/{uuid}": {
      "get": {
        "tags": [
          "API V2 - ItInterface "
        ],
        "summary": "Returns requested IT-Interface",
        "operationId": "get_Single_ItInterfaceV2_GetItInterface",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Specific IT-Interface UUID",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItInterfaceResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "API V2 - ItInterface "
        ],
        "summary": "Delete an It-interface\r\nConstraints:\r\n- Exposing it-system must be reset before deleting this it-interface",
        "operationId": "delete_Single_ItInterfaceV2_Delete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the interface in KITOS",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "API V2 - ItInterface "
        ],
        "summary": "Allows partial updates of an existing it-interface using json merge patch semantics (RFC7396)",
        "operationId": "patch_Single_ItInterfaceV2_Patch",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the interface in KITOS",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Updates for the interface",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateItInterfaceRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItInterfaceResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/it-interfaces/{uuid}/data": {
      "post": {
        "tags": [
          "API V2 - ItInterface "
        ],
        "summary": "Creates a new IT-Interface data description",
        "operationId": "post_Single_ItInterfaceV2_PostDataDescription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "A collection of specific IT-Interface data description values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ItInterfaceDataRequestDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ItInterfaceDataResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/v2/it-interfaces/{uuid}/data/{dataDescriptionUuid}": {
      "put": {
        "tags": [
          "API V2 - ItInterface "
        ],
        "summary": "Replace an existing IT-Interface data description",
        "operationId": "put_Single_ItInterfaceV2_PutDataDescription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "dataDescriptionUuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "A collection of specific IT-Interface data description values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ItInterfaceDataRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItInterfaceDataResponseDTO"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "API V2 - ItInterface "
        ],
        "summary": "Delete an existing IT-Interface data description",
        "operationId": "delete_Single_ItInterfaceV2_DeleteDataDescription",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "dataDescriptionUuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v2/rightsholder/it-interfaces": {
      "get": {
        "tags": [
          "API V2 - ItInterface "
        ],
        "summary": "Returns all IT-Interfaces for which the user has rights holders access",
        "operationId": "get_Many_ItInterfaceV2_GetItInterfacesAsRightsHolder",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rightsHolderUuid",
            "in": "query",
            "description": "Uuid of the organization you want interfaces from. If not provided all available interfaces (based on access rights) will be returned",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "includeDeactivated",
            "in": "query",
            "description": "If set to true, the response will also include deactivated it-interfaces",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "changedSinceGtEq",
            "in": "query",
            "description": "Include only changes which were LastModified (UTC) is equal to or greater than the provided value",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
[...]
