select, textarea {
    border: none;
    outline: none;
}
.riskViewTh {
    color: black;
    font-weight: normal;
}
.vertical-text {
    writing-mode: vertical-rl;
    white-space: nowrap;
    text-orientation: mixed;
}

.riskViewTable {
    width: 100%;
}

.riskViewTh, .riskViewTd{
    outline: 0.5px solid #E8E8E8;
    outline-offset: -0.5px;
    padding: 8px;
    /*text-align: center;*/
    overflow-wrap: break-word;
    font-size: 10px;
}

.riskNumber {
    width: 15px;
    height: 100%;
}

textarea {
    color: #75868f;
}

select {
  color: #75868f;
  cursor: pointer;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

.excel-textarea-container {
    position: relative;
    width: 100%;
}

.excel-textarea {
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.riskViewTable thead {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

.categoryTr th {
    outline: none;
    cursor: pointer;
    padding-left: 0px;
}

