select, textarea {
    border: none;
    outline: none;
}
.riskViewTh {
    color: black;
    font-weight: normal;
}
.vertical-text {
    writing-mode: vertical-rl;
    white-space: nowrap;
    text-orientation: mixed;
}

.card {
    overflow: auto;
}

.riskViewTable {
    border-collapse: collapse;
    width: 100%;
}

.riskViewTh, .riskViewTd{
    border: 1px solid lightgray;
    padding: 8px;
    /*text-align: center;*/
    overflow-wrap: break-word;
    font-size: 10px;
}

.riskNumber {
    width: 15px;
    height: 100%;
}

textarea {
    color: #75868f;
}

select {
  color: #75868f;
  cursor: pointer;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

.excel-textarea-container {
    position: relative;
    width: 100%;
}

.excel-textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
