
<div th:fragment="form(risk)" class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Opret risikovurdering</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createRiskModal" class="row g-3 needs-validation" action="#" th:action="@{/risks/create}" th:object="${risk}" method="post" novalidate>
                    <input id="sendEmail" name="sendEmail" value="false" hidden>
                    <div class="row mt-3">
                        <label for="threatAssessmentType" class="col-sm-4 col-form-label">Type</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select" th:field="*{threatAssessmentType}" id="threatAssessmentType" required>
                                <option th:each="type : ${T(dk.digitalidentity.model.entity.enums.ThreatAssessmentType).values()}"
                                        th:value="${type}" th:text="${type.message}"></option>
                            </select>
                            <div class="invalid-feedback">Der skal vælges en type</div>
                        </div>
                    </div>
                    <div class="row mt-3" id="registerSelectRow">
                        <label for="registerSelect" class="col-sm-4 col-form-label">Behandlingsaktivitet</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" name="selectedRegister" data-trigger="" id="registerSelect" hidden="" tabindex="-1">
                                <option th:if="${register != null}" th:value="${register?.id}" th:text="${register?.name}" selected="selected"></option>
                            </select>
                            <div class="invalid-feedback" id="registerError">Der skal vælges mindst en behandlingsaktivitet</div>
                        </div>
                    </div>
                    <div class="row mt-3" id="assetSelectRow">
                        <label for="assetSelect" class="col-sm-4 col-form-label">Aktiver</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" name="selectedAsset" data-type="select-multiple"
                                    data-trigger="" id="assetSelect" hidden="" tabindex="-1" multiple></select>
                            <div class="invalid-feedback" id="assetError">Der skal vælges mindst et asset</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="name" class="col-sm-4 col-form-label">Titel</label>
                        <div class="col-sm-8">
                            <input id="name" th:field="*{name}" maxlength="255" type="text" class="form-control" required>
                            <div class="invalid-feedback" id="noThreatAssesmentName">Der skal angives en titel</div>
                            <div class="invalid-feedback" id="threatAssesmentTooLongText" style="display: none;">Titel må ikke være mere end 255 tegn langt.</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="threatCatalogSelect" class="col-sm-4 col-form-label">Trusselskatalog</label>
                        <div class="col-sm-8">
                            <select class="choices__input form-select" data-type="select-multiple" data-trigger="" th:field="*{threatCatalogs}" id="threatCatalogSelect" multiple>
                                <option th:each="catalog : ${threatCatalogs}"
                                        th:value="${catalog.identifier}" th:text="${catalog.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4 col-form-label"></div>
                        <div class="col-sm-8">
                            <input id="registered"  th:field="*{registered}" class="form-check-input" type="checkbox">
                            <label for="registered" class="form-check-label">Vurdering for den registrerede</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4 col-form-label"></div>
                        <div class="col-sm-8">
                            <input id="organisation" th:field="*{organisation}" class="form-check-input" type="checkbox">
                            <label for="organisation" class="form-check-label">Vurdering for organisationen</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4 col-form-label"></div>
                        <div class="col-sm-8">
                            <input id="society"  th:field="*{society}" class="form-check-input" type="checkbox">
                            <label for="society" class="form-check-label">Vurdering for samfundet</label>
                            <div class="invalid-feedback" id="checkboxError">Der skal vælges minimum en af de tre vurderinger</div>
                        </div>
                    </div>
                    <div class="row mt-3" id="authenticitySection" hidden="hidden">
                        <div class="col-sm-4 col-form-label"></div>
                        <div class="col-sm-8">
                            <input id="authenticity"  th:field="*{authenticity}" class="form-check-input" type="checkbox">
                            <label for="authenticity" class="form-check-label">Vurdering for autenticitet</label>
                        </div>
                    </div>

                    <div class="row mt-3" id="inheritRow">
                        <div class="col-sm-4 col-form-label">
                            <p>Højeste konsekvens fra koblede behandlingsaktiviteter:</p>
                            <table>
                                <tr>
                                    <th></th>
                                    <th style="font-weight: normal;">Registreret</th>
                                    <th style="font-weight: normal;">Organisationen</th>
                                    <th style="font-weight: normal;">Samfundet</th>
                                </tr>
                                <tr>
                                    <td>Fortrolighed</td>
                                    <td style="text-align: center;" id="RF">1</td>
                                    <td style="text-align: center;" id="OF">2</td>
                                    <td style="text-align: center;" id="SF">2</td>
                                </tr>
                                <tr>
                                    <td>Integritet</td>
                                    <td style="text-align: center;" id="RI">3</td>
                                    <td style="text-align: center;" id="OI">3</td>
                                    <td style="text-align: center;" id="SI">3</td>
                                </tr>
                                <tr>
                                    <td>Tilgængelighed</td>
                                    <td style="text-align: center;" id="RT">4</td>
                                    <td style="text-align: center;" id="OT">3</td>
                                    <td style="text-align: center;" id="ST">3</td>
                                </tr>
                                <tr>
                                    <td>Autenticitet</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center;" id="SA">3</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-8">
                            <div style="margin-top: 10px;">
                                <input id="inherit" th:field="*{inherit}" class="form-check-input" type="checkbox" checked="">
                                <label for="inherit" class="form-check-label">Skal konsekvensen arves fra behandlingsaktivitet?</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="createRiskUserSelect" class="col-sm-4 col-form-label">Risikoejer</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" th:field="*{responsibleUser}" data-trigger="" name="ansvarlig" id="createRiskUserSelect" hidden="" tabindex="-1" required></select>
                            <div class="invalid-feedback">Der skal vælges en risikoejer</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="createRiskOuSelect" class="col-sm-4 col-form-label">Fagområde</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" th:field="*{responsibleOu}" data-trigger="" name="afdeling" id="createRiskOuSelect" hidden="" tabindex="-1" required></select>
                            <div class="invalid-feedback">Der skal vælges et fagområde</div>
                        </div>
                    </div>
                    <div class="row mt-3" id="presentSelectRow">
                        <label for="presentAtMeetingSelect" class="col-sm-4 col-form-label">Tilstede på møde</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" name="presentAtMeeting" data-type="select-multiple"
                                    data-trigger="" id="presentAtMeetingSelect" hidden="" tabindex="-1" multiple></select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4 col-form-label"></div>
                        <div class="col-sm-8">
                            <input id="sendEmailcheckbox" class="form-check-input" type="checkbox">
                            <label for="sendEmailcheckbox" class="form-check-label">Send som opgave til risikoejer</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="formReset()" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                <button type="submit" form="createRiskModal" class="btn btn-primary">Gem</button>
            </div>
        </div>
    </div>
</div>
