<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true)}"></head>
<body class="jumping">
<script th:src="@{/js/risk/risk.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/risks/risks.css}" />

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Risikovurderinger</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Risikovurderinger</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button type="button" sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')"
                                class="btn btn-info btn-lg hstack gap-2"
                                style="margin-bottom: 8px; margin-right: 14px; height: 45px"
                                onclick="createExternalRiskassessmentService.createExternalClicked()">
                            <i class="ti-plus"></i> <span class="vr"></span> Tilknyt Ekstern Risikovurdering
                        </button>
                        <button type="button" sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')"
                                class="btn btn-info btn-lg hstack gap-2"
                                style="margin-bottom: 8px; margin-right: 14px; height: 45px" data-bs-toggle="modal" data-bs-target="#createModal">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny risikovurdering
                        </button>
                        <button type="button" sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" onclick="createTaskService.show()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny opgave
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-end mb-3">
                                </div>
                                    <div th:replace="~{fragments/gridOptions :: dropdown}"></div>
                                    <div id="risksDatatable" class="mt-5"></div>

                                    <!-- Custom search selectors-->
                                    <select class="form-control form-select editField" data-trigger="" name="riskThreatAssessmentSearchSelector" id="riskThreatAssessmentSearchSelector" tabindex="-1" required >
                                        <option th:text="'Alle'" th:value="null"></option>
                                        <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.ThreatAssessmentType).values()}"
                                                th:value="${option}" th:text="${option.message}"></option>
                                    </select>

                                    <!-- Custom search selectors-->
                                    <select class="form-control form-select editField" data-trigger="" name="riskStatusSearchSelector" id="riskStatusSearchSelector" tabindex="-1" required >
                                        <option th:text="'Alle'" th:value="null"></option>
                                        <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.ThreatAssessmentReportApprovalStatus).values()}"
                                                th:value="${option}" th:text="${option.message}"></option>
                                    </select>

                                    <!-- Custom search selectors-->
                                    <select class="form-control form-select editField" data-trigger="" name="riskAssessmentSearchSelector" id="riskAssessmentSearchSelector" tabindex="-1" required >
                                        <option th:text="'Alle'" th:value="null"></option>
                                        <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.RiskAssessment).values()}"
                                                th:value="${option}" th:text="${option.message}"></option>
                                    </select>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='risikovurderinger')}"></nav>
</div>

<div id="external_modal_container">
    <div th:replace="~{risks/fragments/create_external_riskassessment_modal :: create_external_riskassessment_modal}"></div>
</div>
<div id="copyAssessmentContainer"></div>
<div id="editAssessmentContainer"></div>
<div th:replace="~{risks/formFragment :: form(risk = ${risk})}"></div>
<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true, gridoptions = true)}"></div>
<script th:src="@{/js/risk/createExternalRiskassessmentService.js}" defer></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        var gridRisksUrl = [[@{/rest/risks/list}]];
        const restUrl = [[@{/rest/risks}]];
        var baseUrl = [[@{/risks/}]];
        var viewUrl = [[@{/risks/}]];
        var deleteUrl = [[@{/risks/}]];
        var superuser = [[${superuser}]];
        let token = document.getElementsByName("_csrf")[0].getAttribute("content");

        const columnProperties = [ 'id', 'name', 'type', 'responsibleOU', 'responsibleUser', 'tasks', 'date', 'threatAssessmentReportApprovalStatus', 'assessment', 'changeable', 'fromExternalSource', 'externalLink']
        let createExternalRiskassessmentService;
    +]*/

    document.addEventListener("DOMContentLoaded", function(event) {
        createExternalRiskassessmentService = new CreateExternalRiskassessmentService()
    });

    /*]]>*/
</script>

</body>

</html>
