<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head (sweetalerts = true, burgermenu = true)}"></head>
<body class="jumping">
<script th:src="@{/webjars/nifty/3.0.1/vendors/tagin/tagin.min.js}" defer></script>
<script th:src="@{/webjars/nifty/3.0.1/vendors/mc-datepicker/mc-calendar.min.js}" defer></script>
<script th:src="@{/js/risk/riskView.js}" defer></script>
<script th:src="@{/js/form-validation.js}" defer></script>

<link rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/vendors/tagin/tagin.css}" />
<link rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/vendors/mc-datepicker/mc-calendar.css}" />
<link rel="stylesheet" th:href="@{/css/risks/risks.css}" />
<link rel="stylesheet" th:href="@{/css/risks/risk_view.css}" />

<link rel="stylesheet" th:href="@{/vendor/choices/styles/choices.min.css}" />
<script th:src="@{/vendor/choices/scripts/choices.min.js}" defer></script>

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto" >
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/risks}">Risikostyring</a></li>
                                <li class="breadcrumb-item active" aria-current="page" th:text="${risk.name}"></li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2" th:text="${risk.name}"></h1>
                        <p class="lead showIfReadOnly" style="color: red; display: none;">NB. denne risikovurdering er skrivebeskyttet, da rapporten enten er sendt til signering eller allerede er signeret.</p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" type="button" onclick="createTaskService.show()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny opgave
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div><span>Type: </span><i th:text="${risk.threatAssessmentType.getMessage()}" style="margin-bottom: 0px;"></i></div>
                                <div th:unless="${risk.threatAssessmentType == T(dk.digitalidentity.model.entity.enums.ThreatAssessmentType).SCENARIO}"><span>Element: </span><i  th:text="${elementName}" style="margin-bottom: 0px;"></i></div>
                                <p style="margin-bottom: 0px;">
                                    Trusselskataloger:
                                    <span th:each="catalog, iterStat : ${risk.threatCatalogs}">
                                        <span th:text="${catalog.name}"></span>
                                        <span th:if="!${iterStat.last}">, </span>
                                    </span>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div><span>Vurdering for den registrerede: </span><i th:text="(${risk.registered} ? 'ja' : 'nej')" style="margin-bottom: 0px;"></i></div>
                                <div><span>Vurdering for organisationen: </span><i th:text="(${risk.organisation} ? 'ja' : 'nej')" style="margin-bottom: 0px;"></i></div>
                                <div><span>Vurdering for samfundet: </span><i th:text="(${risk.society} ? 'ja' : 'nej')" style="margin-bottom: 0px;"></i></div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div th:unless="${risk.presentAtMeeting == null || risk.presentAtMeeting.size() == 0}"><span>Tilstede: </span></div>
                                <p><i th:text="${presentAtMeetingName}" style="margin-bottom: 0;"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="riskViewTable">
                           <thead>
                                <tr style="height: 20px;">
                                   <th class="riskViewTh" colspan="5"></th>
                                   <th class="riskViewTh" colspan="3" th:if="${risk.registered}">Konsekvens for den registrerede</th>
                                   <th class="riskViewTh" colspan="3" th:if="${risk.organisation}">Konsekvens for organisationen</th>
                                   <th class="riskViewTh" colspan="3" th:if="${risk.society AND !risk.authenticity}">Konsekvens for samfundet</th>
                                   <th class="riskViewTh" colspan="4" th:if="${risk.society AND risk.authenticity}">Konsekvens for samfundet</th>
                                   <th class="riskViewTh" colspan="3"></th>
                                   <th class="riskViewTh" colspan="3">Residualrisiko</th>
                                </tr>
                                <tr style="height: 80px; background-color: #f9fafc;">
                                   <th class="riskViewTh " >Nr.</th>
                                   <th class="riskViewTh" >Trussel</th>
                                   <th class="riskViewTh" >Ikke relevant</th>
                                   <th class="riskViewTh" ></th>
                                   <th class="riskViewTh vertical-text">Sandsynlighed</th>
                                   <th:block th:if="${risk.registered}">
                                       <th class="riskViewTh vertical-text">Fortrolighed</th>
                                       <th class="riskViewTh vertical-text">Integritet</th>
                                       <th class="riskViewTh vertical-text">Tilgængelighed</th>
                                   </th:block>
                                   <th:block th:if="${risk.organisation}">
                                       <th class="riskViewTh vertical-text">Fortrolighed</th>
                                       <th class="riskViewTh vertical-text">Integritet</th>
                                       <th class="riskViewTh vertical-text">Tilgængelighed</th>
                                   </th:block>
                                   <th:block th:if="${risk.society}">
                                       <th class="riskViewTh vertical-text">Fortrolighed</th>
                                       <th class="riskViewTh vertical-text">Integritet</th>
                                       <th class="riskViewTh vertical-text">Tilgængelighed</th>
                                       <th th:if="${risk.authenticity}" class="riskViewTh vertical-text">Autenticitet</th>
                                   </th:block>
                                   <th class="riskViewTh vertical-text">Risikoscore</th>
                                   <th class="riskViewTh" >Risikohåndteringsmetode</th>
                                   <th class="riskViewTh" >Handlinger</th>
                                   <th class="riskViewTh vertical-text">sandsynlighed</th>
                                   <th class="riskViewTh vertical-text">konsekvens</th>
                                   <th class="riskViewTh vertical-text">risikoscore</th>
                                </tr>
                                <tr style="height: 20px;" th:if="${risk.inherit}">
                                    <th class="riskViewTh" colspan="1"></th>
                                    <th class="riskViewTh"></th>
                                    <th class="riskViewTh"></th>
                                    <th class="riskViewTh">Arvet konsekvens fra behandlingsaktivitet</th>
                                    <th class="riskViewTh"></th>
                                    <th:block th:if="${risk.registered}">
                                        <th class="riskViewTh text-center" th:text="${risk.inheritedConfidentialityRegistered == 0 ? '' : risk.inheritedConfidentialityRegistered}"></th>
                                        <th class="riskViewTh text-center" th:text="${risk.inheritedIntegrityRegistered == 0 ? '' : risk.inheritedIntegrityRegistered}"></th>
                                        <th class="riskViewTh text-center" th:text="${risk.inheritedAvailabilityRegistered == 0 ? '' : risk.inheritedAvailabilityRegistered}"></th>
                                    </th:block>
                                    <th:block th:if="${risk.organisation}">
                                        <th class="riskViewTh text-center" th:text="${risk.inheritedConfidentialityOrganisation == 0 ? '' : risk.inheritedConfidentialityOrganisation}"></th>
                                        <th class="riskViewTh text-center" th:text="${risk.inheritedIntegrityOrganisation == 0 ? '' : risk.inheritedIntegrityOrganisation}"></th>
                                        <th class="riskViewTh text-center" th:text="${risk.inheritedAvailabilityOrganisation == 0 ? '' : risk.inheritedAvailabilityOrganisation}"></th>
                                    </th:block>
                                    <th:block th:if="${risk.society}">
                                        <th class="riskViewTh text-center" th:text="${risk.inheritedConfidentialitySociety == 0 ? '' : risk.inheritedConfidentialitySociety}"></th>
                                        <th class="riskViewTh text-center" th:text="${risk.inheritedIntegritySociety == 0 ? '' : risk.inheritedIntegritySociety}"></th>
                                        <th class="riskViewTh text-center" th:text="${risk.inheritedAvailabilitySociety == 0 ? '' : risk.inheritedAvailabilitySociety}"></th>
                                        <th th:if="${risk.authenticity}" class="riskViewTh"></th>
                                    </th:block>
                                    <th class="riskViewTh"></th>
                                    <th class="riskViewTh"></th>
                                    <th class="riskViewTh"></th>
                                    <th class="riskViewTh"></th>
                                    <th class="riskViewTh"></th>
                                    <th class="riskViewTh"></th>
                                </tr>
                                <tr style="height: 20px" class="riskViewRowShadow">
                                   <th class="riskViewTh" style="width: 45px"></th>
                                   <th class="riskViewTh"></th>
                                   <th class="riskViewTh" style="width: 90px"></th>
                                   <th class="riskViewTh" style="width: 255px">Gennemsnit af alle trusler</th>
                                   <th class="riskViewTh text-center" id="averageProbability" style="width: 50px"></th>
                                   <th:block th:if="${risk.registered}">
                                       <th class="riskViewTh text-center"  id="averageRF" style="width: 50px"></th>
                                       <th class="riskViewTh text-center"  id="averageRI" style="width: 50px"></th>
                                       <th class="riskViewTh text-center"  id="averageRT" style="width: 50px"></th>
                                   </th:block>
                                   <th:block th:if="${risk.organisation}">
                                       <th class="riskViewTh text-center"  id="averageOF" style="width: 50px"></th>
                                       <th class="riskViewTh text-center"  id="averageOI" style="width: 50px"></th>
                                       <th class="riskViewTh text-center"  id="averageOT" style="width: 50px"></th>
                                   </th:block>
                                   <th:block th:if="${risk.society}">
                                       <th class="riskViewTh text-center"  id="averageSF" style="width: 50px"></th>
                                       <th class="riskViewTh text-center"  id="averageSI" style="width: 50px"></th>
                                       <th class="riskViewTh text-center"  id="averageST" style="width: 50px"></th>
                                       <th th:if="${risk.authenticity}" class="riskViewTh text-center"  style="width: 50px" id="averageSA"></th>
                                   </th:block>
                                   <th class="riskViewTh text-center"  style="width: 50px" id="averageRiskScore"></th>
                                   <th class="riskViewTh" style="width: 120px"></th>
                                   <th class="riskViewTh" style="width: 100px"></th>
                                   <th class="riskViewTh riskViewResidual text-center" style="width: 50px"></th>
                                   <th class="riskViewTh riskViewResidual text-center" style="width: 50px"></th>
                                   <th class="riskViewTh riskViewResidual text-center" style="width: 50px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="type, stat : ${threats}">
                                    <tr class="categoryTr riskViewCategory" th:attr="data-index=${stat.index}">
                                        <th class="riskViewTh" colspan="21">
                                            <em class="pli-arrow-up fs-4" th:id="'categoryIcon' + ${stat.index}"></em> &nbsp;
                                            <span th:text="${type.key} + ':'"></span>
                                        </th>
                                    </tr>
                                    <th:block th:each="row : ${type.value}">
                                        <tr class="threatRow" th:classappend="'categoryRow' + ${stat.index} + ' rowId'+${row.index}" th:id="'row' + ${row.index}" th:attr="data-rowid=${row.index},data-index=${stat.index}">
                                            <td class="riskViewTd"  th:text="${row.index} + 1" rowspan="6"></td>
                                            <td class="riskViewTd"  th:text="${row.threat}" rowspan="6" style="vertical-align: top"></td>
                                            <td style="height: inherit" class="riskViewTd editCell" rowspan="6" >
                                                <select style="height: 100%" class="notRelevantSelect setField" th:id="'notRelevant' + ${row.index}" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="NOT_RELEVANT" th:value="${row.notRelevant}">
                                                    <option value="false" th:selected="${row.notRelevant} == false"></option>
                                                    <option value="true" th:selected="${row.notRelevant} == true">Ikke relevant</option>
                                                </select>
                                            </td>
                                            <td class="riskViewTd"></td>
                                            <td style="height: inherit" class="riskViewTd editCell" >
                                                <select style="height: 100%" class="fullWidth riskNumber rowNumbers probabilitySelect setField probabilities" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="PROBABILITY" th:value="${row.probability}" th:title="${probabilityExplainer}">
                                                    <option value="-1" th:selected="${row.probability} == -1"></option>
                                                    <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.probability == entry.key}"></option>
                                                </select>
                                            </td>
                                            <th:block th:if="${risk.registered}">
                                                <td class="riskViewTd editCell" >
                                                    <select style="height: 100%" class="fullWidth riskNumber rowNumbers setField rfs" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="RF" th:value="${row.rf}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.rf} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.rf == entry.key}"></option>
                                                    </select>
                                                </td>
                                                <td class="riskViewTd editCell" >
                                                    <select style="height: 100%" class="fullWidth riskNumber rowNumbers setField ris" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="RI" th:value="${row.ri}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.ri} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.ri == entry.key}"></option>
                                                    </select>
                                                </td>
                                                <td class="riskViewTd editCell" >
                                                    <select class="fullWidth riskNumber rowNumbers setField rts" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="RT" th:value="${row.rt}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.rt} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.rt == entry.key}"></option>
                                                    </select>
                                                </td>
                                            </th:block>
                                            <th:block th:if="${risk.organisation}">
                                                <td class="riskViewTd editCell" >
                                                    <select class="fullWidth riskNumber rowNumbers setField ofs" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="OF" th:value="${row.of}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.of} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.of == entry.key}"></option>
                                                    </select>
                                                </td>
                                                <td class="riskViewTd editCell" >
                                                    <select class="fullWidth riskNumber rowNumbers setField ois" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="OI" th:value="${row.oi}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.oi} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.oi == entry.key}"></option>
                                                    </select>
                                                </td>
                                                <td class="riskViewTd editCell" >
                                                    <select class="fullWidth riskNumber rowNumbers setField ots" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="OT" th:value="${row.ot}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.ot} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.ot == entry.key}"></option>
                                                    </select>
                                                </td>
                                            </th:block>
                                            <th:block th:if="${risk.society}">
                                                <td class="riskViewTd editCell" >
                                                    <select class="fullWidth riskNumber rowNumbers setField sfs" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="SF" th:value="${row.sf}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.sf} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.sf == entry.key}"></option>
                                                    </select>
                                                </td>
                                                <td class="riskViewTd editCell" >
                                                    <select class="fullWidth riskNumber rowNumbers setField sis" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="SI" th:value="${row.si}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.si} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.si == entry.key}"></option>
                                                    </select>
                                                </td>
                                                <td class="riskViewTd editCell" >
                                                    <select class="fullWidth riskNumber rowNumbers setField sts" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="ST" th:value="${row.st}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.st} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.st == entry.key}"></option>
                                                    </select>
                                                </td>
                                                <td th:if="${risk.authenticity}" class="riskViewTd editCell">
                                                    <select class="fullWidth riskNumber rowNumbers setField sas" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="SA" th:value="${row.sa}" th:title="${consequenceExplainer}">
                                                        <option value="-1" th:selected="${row.sa} == -1"></option>
                                                        <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.sa == entry.key}"></option>
                                                    </select>
                                                </td>
                                            </th:block>
                                            <td th:id="'row' + ${row.index} + 'RiskScore'" class="riskViewTd setField riskScores text-center" th:title="${riskScoreExplainer}"></td>
                                            <td class="riskViewTd editCell" >
                                                <select style="cursor: pointer;" class="fullWidth setField methodSelect" th:value="${row.method}" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="METHOD">
                                                    <option th:each="method : ${T(dk.digitalidentity.model.entity.enums.ThreatMethod).values()}" th:value="${method}" th:text="${method.message}" th:selected="${row.method == method}"></option>
                                                </select>
                                            </td>
                                            <td class="riskViewTd text-center" >
                                                <button sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" th:id="'taskBtn' + ${row.index}" type="button" class="btn btn-success btn-xs"
                                                        th:onclick="|createTaskClicked(this)|" title="Opgave eller kontrol"
                                                        th:attr="data-customid=${row.id}, data-catalogidentifier=${row.identifier}, data-riskid=${risk.id}">
                                                    Ny opgave
                                                </button>
                                                <button sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" th:id="'deleteThreatBtn' + ${row.index}" type="button" class="btn btn-warning btn-xs mt-1"
                                                        th:onclick="|deleteThreatClicked(this)|" title="Slet"
                                                        th:attr="data-customid=${row.id}, data-riskid=${risk.id}" th:if="${row.dataType.name == 'CUSTOM'}">
                                                    Slet trussel
                                                </button>
                                            </td>
                                            <td class="riskViewTd riskViewResidual editCell" >
                                                <select th:id="'residualRiskProbabilityBtn' + ${row.index}" class="fullWidth riskNumber residualRisks setField" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="RESIDUAL_RISK_PROBABILITY" th:value="${row.residualRiskProbability}" th:style="${row.method == T(dk.digitalidentity.model.entity.enums.ThreatMethod).ACCEPT OR row.method == T(dk.digitalidentity.model.entity.enums.ThreatMethod).NONE} ? 'display:none' : ''" th:title="${consequenceExplainer}">
                                                    <option value="-1" th:selected="${row.residualRiskProbability} == -1"></option>
                                                    <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.residualRiskProbability == entry.key}"></option>
                                                </select>
                                            </td>
                                            <td class="riskViewTd riskViewResidual editCell" >
                                                <select th:id="'residualRiskConsequenceBtn' + ${row.index}" class="fullWidth riskNumber residualRisks setField" th:attr="data-rowid=${row.index}, data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="RESIDUAL_RISK_CONSEQUENCE" th:value="${row.residualRiskConsequence}" th:style="${row.method == T(dk.digitalidentity.model.entity.enums.ThreatMethod).ACCEPT OR row.method == T(dk.digitalidentity.model.entity.enums.ThreatMethod).NONE} ? 'display:none' : ''" th:title="${consequenceExplainer}">
                                                    <option value="-1" th:selected="${row.residualRiskConsequence} == -1"></option>
                                                    <option th:each="entry : ${scale}" th:text="${entry.key}" th:value="${entry.key}" th:selected="${row.residualRiskConsequence == entry.key}"></option>
                                                </select>
                                            </td>
                                            <td th:id="'row' + ${row.index} + 'ResidualRiskScore'" class="riskViewTd riskViewResidual residualRiskScores" th:title="${riskScoreExplainer}"></td>
                                        </tr>
                                        <tr th:classappend="'categoryRow' + ${stat.index} + ' rowId' + ${row.index}">
                                            <td class="riskViewTh">Problemstilling</td>
                                            <td class="riskViewTd editCell" colspan="17">
                                                <div class="excel-textarea-container">
                                                    <textarea th:text="${row.problem}" class="setField excel-textarea" rows="1" th:attr="data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="PROBLEM"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr th:classappend="'categoryRow' + ${stat.index} + ' rowId' + ${row.index}">
                                            <td class="riskViewTh">Eksisterende foranstaltninger</td>
                                            <td class="riskViewTd editCell" colspan="17">
                                                <div class="excel-textarea-container">
                                                    <textarea th:text="${row.existingMeasures}" class="setField excel-textarea" rows="1" th:attr="data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="EXISTING_MEASURES"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr th:classappend="'categoryRow' + ${stat.index} + ' rowId' + ${row.index}">
                                            <td class="riskViewTh">Tilknyttede foranstaltninger</td>
                                            <td class="riskViewTd editCell" colspan="17">
                                                <select class="choices__input select-precaution" data-type="select-multiple" data-trigger="" name="relations" th:id="${formId + 'RelationsSelect'}" hidden="" tabindex="-1" th:attr="data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" multiple>
                                                    <option th:each="precaution : ${row.relatedPrecautions}" th:value="${precaution.id}" th:text="${precaution.name+ ': ' + precaution.description }" selected></option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr th:classappend="'categoryRow' + ${stat.index} + ' rowId' + ${row.index}">
                                            <td class="riskViewTh">Uddybning af risikohåndtering</td>
                                            <td class="riskViewTd editCell" colspan="17">
                                                <div class="excel-textarea-container">
                                                    <textarea th:text="${row.elaboration}" class="setField excel-textarea" rows="1" th:attr="data-dbtype=${row.dataType}, data-id=${row.id}, data-identifier=${row.identifier}" data-setfieldtype="ELABORATION"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr th:classappend="'categoryRow' + ${stat.index} + ' rowId' + ${row.index}">
                                            <td class="riskViewTh">Opgaver og kontroller</td>
                                            <td class="riskViewTd" colspan="17">
                                                <span th:each="task : ${row.tasks}">
                                                    <a th:href="'/tasks/' + ${task.id}">
                                                        <span class="badge bg-secondary fs-6" th:text="${task.name}"></span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </th:block>
                                </th:block>
                                <th:block th:if="${not #lists.isEmpty(relatedRegisters)}">
                                    <tr class="categoryTr" th:attr="data-index=${threats.size()}">
                                        <th class="riskViewTh" colspan="21">
                                            <em class="pli-arrow-up fs-4" th:id="'categoryIcon' + ${threats.size()}"></em> &nbsp;
                                            <span>Relaterede behandlingsaktiviteter</span>
                                        </th>
                                    </tr>
                                    <tr th:each="row : ${relatedRegisters}" th:class="'categoryRow' + ${threats.size()}">
                                        <td class="riskViewTd"></td>
                                        <td class="riskViewTd">
                                            <a th:href="'/registers/' + ${row.registerId}">
                                                <span th:text="${row.registerName}"></span>
                                            </a>
                                        </td>
                                        <td class="riskViewTd"></td>
                                        <td class="riskViewTd"></td>
                                        <th:block th:if="${risk.registered}">
                                            <td class="riskViewTd" th:text="${row.rf}"></td>
                                            <td class="riskViewTd" th:text="${row.ri}"></td>
                                            <td class="riskViewTd" th:text="${row.rt}"></td>
                                        </th:block>
                                        <th:block th:if="${risk.organisation}">
                                            <td class="riskViewTd" th:text="${row.of}"></td>
                                            <td class="riskViewTd" th:text="${row.oi}"></td>
                                            <td class="riskViewTd" th:text="${row.ot}"></td>
                                        </th:block>
                                        <th:block th:if="${risk.society}">
                                            <td class="riskViewTd" th:text="${row.sf}"></td>
                                            <td class="riskViewTd" th:text="${row.si}"></td>
                                            <td class="riskViewTd" th:text="${row.st}"></td>
                                            <td th:if="${risk.authenticity}" class="riskViewTd"></td>
                                        </th:block>
                                        <td class="riskViewTd"></td>
                                        <td class="riskViewTd"></td>
                                        <td class="riskViewTd"></td>
                                        <td class="riskViewTd"></td>
                                        <td class="riskViewTd"></td>
                                        <td class="riskViewTd"></td>
                                        <td class="riskViewTd"></td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                        <div class="mb-4 mt-4">
                            <h5>Kommentar</h5>
                            <textarea id="riskCommentArea" th:value="${risk.comment}" class="form-control editField" placeholder="Indtast kommentarer til risikovurderingen" rows="3" th:text="${risk.comment}"></textarea>
                        </div>
                        <div class="d-flex mb-2">
                            <div class="d-flex flex-fill align-items-start mb-3 p-1">
                                <button sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" type="button" class="btn btn-success mb-1 me-1" data-bs-toggle="modal" data-bs-target="#customThreatFormDialog">
                                    <i class="ti-plus"></i> <span class="vr"></span> Tilføj ny trussel
                                </button>
                                <button sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" type="button" class="btn btn-success" th:onclick="|setRevisionInterval(${risk.id})|">
                                    <i class="pli-alarm"></i> <span class="vr"></span> Sæt revisions interval
                                </button>
                            </div>
                            <div class="d-flex align-items-end flex-row mb-3 p-1">
                                <a type="button" class="btn btn-success me-1 mb-1" th:href="'/risks/' + ${risk.id} + '/profile'">
                                    <i class="pli-magnifi-glass"></i> <span class="vr"></span> Se risikoprofil
                                </a>
                                <a type="button" href="#" class="btn btn-success mb-1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="pli-receipt-4"></i> <span class="vr"></span> Generer rapport
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" th:href="@{/reports/word(identifier='risk', riskId=${risk.id}, type='WORD')}">Download</a></li>
                                    <li><a class="dropdown-item" th:href="@{/reports/word(identifier='risk', riskId=${risk.id}, type='PDF')}">Download som PDF</a></li>
                                    <li th:if="${signed}"><a class="dropdown-item" th:href="'/sign/pdf/' + ${risk.threatAssessmentReportS3Document.id}">Download signeret rapport</a></li>
                                    <li class="hideIfReadOnly"><a data-bs-toggle="modal" data-bs-target="#sendReportModal" class="dropdown-item">Send</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div th:replace="~{fragments/tasks :: tasksfragment(tasks=${tasks}, relatableId=${risk.id})}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Div with bootstrap structure to insert revisions interval modal -->
        <div class="modal fade" id="revisionIntervalDialog" tabindex="-1" aria-hidden="true"></div>
    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='risikovurderinger')}"></nav>
</div>



<div class="modal fade" id="customThreatFormDialog" tabindex="-1" aria-labelledby="taskLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Opret trussel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createCustomThreatModal" class="row g-3 needs-validation" action="#" th:action="'/risks/' + ${risk.id} + '/customthreats/create'" th:object="${customThreat}" method="post" novalidate>
                    <div class="row mt-3">
                        <label for="type" class="col-sm-4 col-form-label">Type af trussel</label>
                        <div class="col-sm-8">
                            <input id="type" th:field="*{threatType}" type="text" class="form-control" required>
                            <div class="invalid-feedback">Der skal angives en type</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="description" class="col-lg-4 col-form-label">Beskrivelse</label>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <textarea id="description" class="form-control" placeholder="Indtast beskrivelse" th:field="*{description}" rows="3" required></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="formReset()" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                <button type="submit" form="createCustomThreatModal" class="btn btn-primary">Gem</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/sendReportModal :: sendReportModalFragment(onlyPdf=false, signOnlyOnce=true)}"></div>
<div th:replace="~{fragments/footer :: footer (taskDialog = true, sweetalerts = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    /*[+
        var riskId = [[${risk.id}]];
        var threatAssessmentReportApprovalStatus = [[${risk.threatAssessmentReportApprovalStatus}]];
        var scaleMap = [[${scale}]];
        var riskScoreColorMap = [[${riskScoreColorMap}]];
    +]*/

    document.addEventListener("DOMContentLoaded", function(event) {
        pageLoaded();
    });

    /*]]>*/
</script>

</body>

</html>
