<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true, burgermenu = true)}"></head>
<body class="jumping">
<script th:src="@{/js/tags/tags.js}" defer></script>
<script th:src="@{/js/export-service.js}" defer></script>

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tags</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Tags</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button type="button" sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" onclick="exportHtmlTableToExcel('tagsDatatable', 'Tags')" class="btn btn-info btn-lg hstack gap-2" style="margin-bottom: 8px; margin-right: 14px; height: 45px">
                            <i class="ti-bookmark"></i> <span class="vr"></span>Gem som Excel
                        </button>
                        <button type="button" class="btn btn-info btn-lg hstack gap-2"
                                style="margin-bottom: 8px; margin-right: 14px; height: 45px" data-bs-toggle="modal"
                                data-bs-target="#addTagModal">
                            <i class="ti-plus"></i> <span class="vr"></span> Nyt Tag
                        </button>
                        <div th:replace="~{fragments/component/createTaskButton :: createTaskButton}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div id="tagsDatatable"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='tags')}"></nav>
</div>

<div class="modal fade" id="addTagModal" tabindex="-1" aria-labelledby="taskLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nyt Tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:id="${formId}" class="row g-3" action="#" th:action="@{/admin/tags/create}" th:object="${tag}"
                  method="post">
                <div class="modal-body">
                    <input id="identifier" th:field="*{id}" type="hidden">
                    <div class="row mt-4">
                        <label for="navn" class="col-sm-4 col-form-label">Navn</label>
                        <div class="col-sm-8">
                            <input id="navn" th:field="*{value}" type="text" class="form-control" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                    <button type="submit" class="btn btn-primary" th:form="${formId}">Tilføj</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        const data = [[${tags}]];
        const viewUrl = [[@{/admin/tags}]];
        const restUrl = [[@{/rest/tags}]];
    +]*/

    document.addEventListener("DOMContentLoaded", function(event) {
        const defaultClassName = {
            table: 'table table-striped',
            search: "form-control",
            header: "d-flex justify-content-end"
        };

        new gridjs.Grid({
            className: defaultClassName,
            sort: {
                enabled: true,
                multiColumn: false
            },
            columns: [
                {
                    id: "id",
                    name: "Id",
                    hidden: true
                },
                {
                    id: "value",
                    name: "Tag"
                },
                {
                    id: "actions",
                    name: "Handlinger",
                    sort: 0,
                    width: '90px',
                    formatter: (cell, row) => {
                        const id = row.cells[0]['data'];
                        const tag = row.cells[1]['data'];
                        const deleteButton = `<button type="button" class="btn btn-icon btn-outline-light btn-xs me-1" onclick="tags.deleteTag('${id}', '${tag}')"><i class="pli-trash fs-5"></i></button>`;
                        return gridjs.html(deleteButton);
                    }
                }
            ],
            data: data,
            language: {
                'search': {
                    'placeholder': 'Søg'
                },
                'pagination': {
                    'previous': 'Forrige',
                    'next': 'Næste',
                    'showing': 'Viser',
                    'results': 'Tags',
                    'of': 'af',
                    'to': 'til',
                    'navigate': (page, pages) => `Side ${page} af ${pages}`,
                    'page': (page) => `Side ${page}`
                }
            }
        }).render(document.getElementById("tagsDatatable"));
    });

/*]]>*/
</script>
</body>
</html>
