<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true, burgermenu = true)}"></head>
<body class="jumping">
<script th:src="@{/js/task/form.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/tasks.css}" />

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Opgavecenter</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Opgavecenter</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button type="button" sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" onclick="createTaskService.show()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny opgave
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div th:replace="~{fragments/gridOptions :: dropdown}"></div>
                                <div class="mt-5" id="tasksDatatable"></div>

                                <!-- Custom search selector-->
                                <select class="form-control form-select editField" data-trigger="" name="assignmentTypeSelector" id="assignmentTypeSelector" tabindex="-1" required >
                                    <option th:text="'Alle'" th:value="null"></option>
                                    <option th:each="assignmentType : ${T(dk.digitalidentity.model.entity.enums.TaskType).values()}"
                                            th:value="${assignmentType}" th:text="${assignmentType.message}"></option>
                                </select>

                                <!-- Custom search selectors-->
                                <select class="form-control form-select editField" data-trigger="" name="taskRepetitionSelector" id="taskRepetitionSelector" tabindex="-1" required >
                                    <option th:text="'Alle'" th:value="null"></option>
                                    <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.TaskRepetition).values()}"
                                            th:value="${option}" th:text="${option.message}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='opgavecenter')}"></nav>
</div>

<div id="copyTaskContainer"></div>
<div class="modal fade" id="editTaskDialog" aria-labelledby="taskLabel" aria-hidden="true"></div>
<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true, gridoptions = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        var gridTasksUrl = [[@{/rest/tasks/list}]];
        var viewUrl = [[@{/tasks/}]];
        var deleteUrl = [[@{/tasks/}]];
        var baseUrl = [[@{/tasks/}]];
        var superuser = [[${superuser}]];
    +]*/
    let token = document.getElementsByName("_csrf")[0].getAttribute("content");

    /*]]>*/
</script>
<script th:src="@{/js/task/task-center.js}" defer></script>
</body>

</html>
