<!DOCTYPE html>
<html lang="da" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: head (burgermenu = true)}"></head>
<body class="jumping">

<script th:src="@{/js/task/view.js}" defer></script>
<script th:src="@{/js/oversight/oversight-service.js}" defer></script>
<script th:src="@{/js/tag-service.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/tasks.css}" />

<div id="root" class="root mn--max hd--expanded">
    <form id="editForm" action="#" th:action="@{/tasks/edit}" th:object="${task}" method="post" class="needs-validation" novalidate>
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/tasks}">Opgavecenter</a></li>
                                <li class="breadcrumb-item active" aria-current="page" th:text="${task.name}"></li>
                            </ol>
                        </nav>
                        <input id="taskNameField" name="taskTitle" class="page-title transparent-input mb-0 mt-2" th:field="*{name}" disabled />
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" type="button" onclick="createStandardService.openStandardModal()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny Standard
                        </button>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <div th:replace="~{fragments/component/createTaskButton :: createTaskButton}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <div class="tab-base">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-tabsOpgave" type="button" role="tab" aria-controls="opgave" aria-selected="true" th:text="${task.taskType.getMessage()}"></button>
                        </li>
                        <li class="nav-item" role="presentation" th:unless="${task.taskType.name() == 'TASK'}" th:if="${not #lists.isEmpty(taskLogs)}">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsHistorik" type="button" role="tab" aria-controls="historik" aria-selected="false">Historik&nbsp<span class="badge bg-secondary" th:text="${taskLogs.size}"></span></button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="_dm-tabsOpgave" class="tab-pane fade active show" role="tabpanel" aria-labelledby="opgave-tab">
                                <div class="row mb-3">
                                    <button th:unless="${completed}" th:if="${changeableTask}" id="saveEditTaskBtn" type="submit" class="btn btn-secondary btn-md col-md-1 btn-right" hidden>Gem</button>
                                    <button th:unless="${completed}" th:if="${changeableTask}" id="editTaskBtn" type="button" class="btn btn-secondary btn-md col-md-2 btn-right" onclick="viewTaskService.setEditMode(true);">Rediger stamdata</button>
                                    <button th:unless="${completed}" th:if="${changeableTask && oversightAsset.empty}" id="completeBtn" type="button" class="btn btn-secondary btn-md col-md-2" style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#completeTaskModal">Udfør <span th:text="${#strings.toLowerCase(task.taskType.getMessage())}"></span></button>
                                    <button th:unless="${completed}" th:if="${changeableTask && oversightAsset.present}" id="oversightBtn" type="button" class="btn btn-secondary btn-md col-md-2" style="margin-left: 10px;" onclick="viewTaskService.showOversightDialog(this)" th:attr="data-asset-id=${oversightAsset.get().id}">Udfør tilsyn</button>
                                </div>
                                <input th:field="*{id}" hidden>
                                <div class="row mb-3">
                                    <label for="taskType" class="col-sm-2 col-form-label">Opgavetype</label>
                                    <div class="col-sm-10">
                                        <input class="form-control " id="taskType" th:value="*{taskType.getMessage()}" readonly>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="userSelect" class="col-sm-2 col-form-label">Ansvarlig</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select choices__input editField" th:field="*{responsibleUser}" data-trigger="" name="ansvarlig" id="userSelect" tabindex="-1" required hidden >
                                            <option th:value="*{responsibleUser.uuid}" th:text="'(' + *{responsibleUser.userId} + ') ' + *{responsibleUser.name}" selected></option>
                                        </select>
                                        <div class="invalid-feedback">Der skal vælges en ansvarlig</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="ouSelect" class="col-sm-2 col-form-label">Ansvarlig afdeling</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select choices__input editField" th:field="*{responsibleOu}" data-trigger="" name="afdeling" id="ouSelect" tabindex="-1" hidden>
                                            <option th:if="${task.responsibleOu} != null" th:value="*{responsibleOu.uuid}" th:text="*{responsibleOu.name}" selected></option>
                                        </select>
                                        <div class="invalid-feedback">Der skal vælges en ansvarlig afdeling</div>
                                    </div>
                                </div>

                                <div class="row mb-3">

                                    <label for="deadline" class="col-sm-2 col-form-label">Deadline</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input id="deadline" type="text" class="form-control editField" th:field="*{nextDeadline}" required>
                                            <button id="deadlineBtn" class="btn btn-primary editField" type="button" style="z-index: 0; border-top-right-radius: 0.4375rem; border-bottom-right-radius: 0.4375rem;" disabled>
                                                <i class="pli-calendar-4 fs-5"></i>
                                            </button>
                                            <div class="invalid-feedback">Der skal vælges en deadline</div>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${task.taskType.name() == 'CHECK'}" class="row mb-3" >
                                    <label for="repetition" class="col-sm-2 col-form-label">Gentagelse</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select editField" th:field="*{repetition}" id="repetition" name="gentagelse" tabindex="-1" required>
                                            <option th:each="repetition : ${T(dk.digitalidentity.model.entity.enums.TaskRepetition).values()}"
                                                    th:value="${repetition.name}" th:text="${repetition.message}" th:selected="${repetition.name} == ${task.repetition?.name()}"></option>
                                        </select>
                                        <div class="invalid-feedback">Der skal vælges et interval for gentagelse</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="description" class="col-sm-2 col-form-label">Beskrivelse</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <textarea id="description" class="form-control editField" placeholder="Indtast beskrivelse" th:field="*{description}" rows="8"></textarea>
                                            <div class="invalid-feedback">Der skal indtastes en beskrivelse</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="taskType" class="col-sm-2 col-form-label">Link</label>
                                    <div class="col-sm-10">
                                        <a id="realLink" th:text="*{link}" th:href="*{link}" target="_blank"></a>
                                        <input class="form-control editField" id="linkField" th:field="*{link}" hidden>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="notifyResponsible" class="col-sm-2 col-form-label">Send mail til ansvarlig</label>
                                    <div class="col-sm-10" style="display:flex; align-items: center">
                                        <div class="input-group">
                                            <input id="notifyResponsible" class="form-check-input editField" type="checkbox" th:value="${task.notifyResponsible}" th:field="*{notifyResponsible}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="includeInReport" class="col-sm-2 col-form-label">Skal indgå i årshjul</label>
                                    <div class="col-sm-10" style="display:flex; align-items: center">
                                        <div class="input-group">
                                            <input id="includeInReport" class="form-check-input editField" type="checkbox" th:value="${task.includeInReport}" th:field="*{includeInReport}">
                                        </div>
                                    </div>
                                </div>

                                <th:block th:if="${completed}">
                                    <div class="row mb-3">
                                        <label for="completedDate" class="col-sm-2 col-form-label">Udført</label>
                                        <div class="col-sm-10">
                                            <input th:unless="${taskLog.daysAfterDeadline} == 0" class="form-control" id="completedDate" th:value="${#temporals.format(taskLog.completedDate, 'dd/MM-yyyy')} + ' (' + ${taskLog.daysAfterDeadline} + ')'" style="color: red;" disabled readonly>
                                            <input th:if="${taskLog.daysAfterDeadline} == 0" class="form-control" id="completedDate" th:value="${#temporals.format(taskLog.completedDate, 'dd/MM-yyyy')}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="performedBy" class="col-sm-2 col-form-label">Udført af</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="performedBy" th:value="${taskLog.performedBy}" disabled readonly>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="completedComment" class="col-sm-2 col-form-label">Kommentar til udførsel</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <textarea class="form-control" id="completedComment" th:text="${taskLog.comment}" rows="3" disabled readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:unless="${taskLog.documentationLink} == null" class="row mb-3">
                                        <label for="completedDocumentationLink" class="col-sm-2 col-form-label">Link til dokumentation</label>
                                        <div class="col-sm-10" style="padding-top: 10px;">
                                            <a id="completedDocumentationLink" th:text="${taskLog.documentationLink}" th:href="${taskLog.documentationLink}"></a>
                                        </div>
                                    </div>
                                    <div th:unless="${taskLog.documentName} == null" class="row mb-3">
                                        <label for="documentRelationLink" class="col-sm-2 col-form-label">Relation ved dokument</label>
                                        <div class="col-sm-10" style="padding-top: 10px;">
                                            <a id="documentRelationLink" th:text="${taskLog.documentName}" th:href="'/documents/' + ${taskLog.documentId}"></a>
                                        </div>
                                    </div>
                                </th:block>

                            <div class="row">
                                <div th:replace="~{fragments/relations :: relationsfragment (relations=${relations}, completed=${completed}, relatableId=${task.id}, customDelete=false)}"></div>
                            </div>
                            <div class="row">
                                <div th:replace="~{fragments/tags :: tagsfragment (tags=${task.tags}, completed=${completed}, relatableId=${task.id})}"></div>
                            </div>
                        </div>
                        <div id="_dm-tabsHistorik" class="tab-pane fade" role="tabpanel" aria-labelledby="historik-tab" th:unless="${task.taskType.name() == 'TASK'}" th:if="${not #lists.isEmpty(taskLogs)}">
                            <div th:replace="~{tasks/fragments/viewHistory :: viewHistory}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                            </form>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='opgavecenter')}"></nav>
</div>

<div id="oversightDialog" class="modal fade" aria-hidden="true"></div>
<th:block th:with="myFancyReferral=${param.referral}">
<div th:replace="~{tasks/completeTask :: completeTask (referral=${myFancyReferral})}"></div>
</th:block>
<div th:replace="~{fragments/addRelation :: addRelation(relatableId=${task.id})}"></div>
<div th:replace="~{fragments/addTags :: addTags(relatableId=${task.id})}"></div>

<div th:replace="~{fragments/footer :: footer (taskDialog = true, sweetalerts = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    /*[+
        var taskId = [[${task.id}]];
        var oversightUrl = [[@{/assets/oversight}]];
        var oversightDialog;
    +]*/
    /*]]>*/
</script>

</body>

</html>
