<div th:fragment="create_external_riskassessment_modal" class="modal fade" id="createExternalRiskassessmentModal" tabindex="-1"
     aria-hidden="true" xmlns:th="http://www.thymeleaf.org">

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Opret Extern Risikovurdering</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createExternalRiskassessmentForm" class="row g-3 needs-validation" action="#" th:object="${risk}"
                      th:action="@{/rest/risk/external/create}" method="post" novalidate>
                    <input id="sendEmail" name="sendEmail" value="false" hidden>
                    <div class="row mt-3">
                        <label for="createThreatAssessmentType" class="col-sm-4 col-form-label">Type</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select" th:field="*{threatAssessmentType}" id="createThreatAssessmentType" required>
                                <option th:each="type : ${T(dk.digitalidentity.model.entity.enums.ThreatAssessmentType).values()}"
                                        th:value="${type}" th:text="${type.message}"></option>
                            </select>
                            <div class="invalid-feedback">Der skal vælges en type</div>
                        </div>
                    </div>
                    <div class="row mt-3" id="registerSelectRow">
                        <label for="createRegisterSelect" class="col-sm-4 col-form-label">Behandlingsaktivitet</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" name="selectedRegister" data-trigger="" id="createRegisterSelect" hidden="" tabindex="-1"></select>
                            <div class="invalid-feedback" id="registerError">Der skal vælges mindst en behandlingsaktivitet</div>
                        </div>
                    </div>
                    <div class="row mt-3" id="assetSelectRow">
                        <label for="externalCreateRiskassessmentAssetSelect" class="col-sm-4 col-form-label">Aktiver</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" name="selectedAsset" data-type="select-multiple"
                                    data-trigger="" id="externalCreateRiskassessmentAssetSelect" hidden="" tabindex="-1" multiple></select>
                            <div class="invalid-feedback" id="assetError">Der skal vælges mindst et asset</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="createName" class="col-sm-4 col-form-label">Titel</label>
                        <div class="col-sm-8">
                            <input id="createName" th:field="*{name}" type="text" class="form-control" required>
                            <div class="invalid-feedback">Der skal angives en titel</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="externalCreateUserSelect" class="col-sm-4 col-form-label">Risikoejer</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" data-trigger="" name="ansvarlig" id="externalCreateUserSelect" hidden="" tabindex="-1" required>
                                <th:block th:if="${risk != null && risk != ''}">
                                    <option th:if="${risk.responsibleUser != null}" th:value="${risk.responsibleUser.uuid}" th:text="${risk.responsibleUser.name}" selected></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="externalCreateOuSelect" class="col-sm-4 col-form-label">Fagområde</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select choices__input" data-trigger="" name="afdeling" id="externalCreateOuSelect" hidden="" tabindex="-1" required>
                                <th:block th:if="${risk != null && risk != ''}">
                                    <option th:if="${risk.responsibleOu != null}" th:value="${risk.responsibleOu.uuid}" th:text="${risk.responsibleOu.name}" selected></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="linkInput" class="col-sm-4 col-form-label">Eksternt Link</label>
                        <div class="col-sm-8">
                            <input id="linkInput" class="form-control form-input" th:field="*{externalLink}"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="createExternalRiskassessmentService.formReset('createExternalRiskassessmentForm')" class="btn btn-secondary"
                        data-bs-dismiss="modal">Annuller
                </button>
                <button th:if="${external != null && external != ''}" type="button" form="createExternalRiskassessmentForm" class="btn btn-primary"
                        th:attr="onclick=${'createExternalRiskassessmentService.submitNewExternal('+ external.riskId +')'}">Gem</button>
                <button th:if="${external == null || external == ''}" type="button" form="createExternalRiskassessmentForm" class="btn btn-primary"
                        th:attr="onclick='createExternalRiskassessmentService.submitNewExternal(null)'">Gem</button>
            </div>
        </div>
    </div>
</div>
