<!DOCTYPE html>
<html lang="DA">
<body>
<div th:fragment="dataProcessing(dbChoices, dataProcessing, primary)" class="row"
     th:id="${'dpForm'+dataProcessing.id}">
    <!--@thymesVar id="dataProcessing" type="dk.digitalidentity.model.entity.DataProcessing"-->
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 gx-4">
        <div class="row mb-3">
            <table class="dataprocessingTable table table-striped">
                <thead>
                <tr>
                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                <tr><td colspan="2"><b>Adgang</b></td></tr>
                <tr>
                    <td>Hvem har adgang til personoplysningerne</td>
                    <td>
                        <div class="form-check" th:each="choice: ${dbChoices.accessWhoIdentifiers.values}">
                            <input th:id="${choice.identifier + dataProcessing.id}" name="accessWhoIdentifiers" th:value="${choice.identifier}"
                                   th:checked="${#sets.contains(dataProcessing.accessWhoIdentifiers, choice.identifier)}"
                                   class="form-check-input editField" type="checkbox" autocomplete="off" disabled/>
                            <label th:for="${choice.identifier + dataProcessing.id}" th:text="${choice.caption + ' ' + (choice.description ?: '')}"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Hvor mange har adgang til personoplysningerne</td>
                    <td>
                        <select class="form-control form-select editField" name="accessCountIdentifier" tabindex="-1" disabled>
                            <option value=""></option>
                            <option th:each="choice: ${dbChoices.accessCountIdentifier.values}" th:value="${choice.identifier}"
                                    th:selected="${dataProcessing.accessCountIdentifier == choice.identifier}"
                                    th:text="${choice.caption + ' ' + (choice.description ?: '')}"></option>
                        </select>
                    </td>
                </tr>
                <tr><td colspan="2"><b>Personoplysninger</b></td></tr>
                <tr>
                    <td>Hvor mange behandles der personoplysninger om</td>
                    <td>
                        <select class="form-control form-select editField" name="personCountIdentifier" tabindex="-1" disabled>
                            <option value=""></option>
                            <option th:each="choice: ${dbChoices.personCountIdentifier.values}" th:value="${choice.identifier}"
                                    th:selected="${dataProcessing.personCountIdentifier == choice.identifier}"
                                    th:text="${choice.caption + ' ' + (choice.description ?: '')}"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <p>Kategorier af registrerede</p>
                            </div>
                            <div class="col-sm-6 col-lg-8">
                                <p>Typer af personoplysninger</p>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-6 col-lg-4">
                            </div>
                            <div class="col-sm-6 col-lg-8">
                                <textarea rows=5 class="editField form-control" th:field="${dataProcessing.typesOfPersonalInformationFreetext}" disabled></textarea>
                            </div>
                        </div>
                        <div class="categoriesTarget"></div>
                    </td>
                </tr>
                <tr><td colspan="2"><b>Opbevaring</b></td></tr>
                <tr>
                    <td>Hvor længe opbevares personoplysningerne</td>
                    <td>
                        <select class="form-control form-select editField" name="storageTimeIdentifier" tabindex="-1" disabled>
                            <option value=""></option>
                            <option th:each="choice: ${dbChoices.storageTimeIdentifier.values}" th:value="${choice.identifier}"
                                    th:selected="${dataProcessing.storageTimeIdentifier == choice.identifier}"
                                    th:text="${choice.caption + ' ' + (choice.description ?: '')}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Uddybning</td>
                    <td>
                        <input class="form-control editField" name="elaboration" id="elaboration" th:value="${dataProcessing.elaboration}" maxlength="255" disabled>
                    </td>
                </tr>
                <tr>
                    <td>Er der udarbejdet en sletteprocedure</td>
                    <td>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 col-xxl-4">
                            <select class="form-control form-select editField" name="deletionProcedure" tabindex="-1" disabled>
                                <option value=""></option>
                                <option th:each="status : ${T(dk.digitalidentity.model.entity.enums.DeletionProcedure).values()}"
                                        th:selected="${dataProcessing.deletionProcedure == status}"
                                        th:value="${status.name}" th:text="${status.message}"></option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Link til sletteprocedure</td>
                    <td>
                        <a class="form-control-static editField" th:href="${dataProcessing.deletionProcedureLink}" th:text="${dataProcessing.deletionProcedureLink}" target="_blank"  ></a>
                        <input class="form-control" th:value="${dataProcessing.deletionProcedureLink}" name="deletionProcedureLink" hidden>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="modalPersonOplysninger" tabindex="-1" aria-hidden="true"  th:if="${primary}">
        <div class="modal-dialog modal-dialog-centered" style="z-index: 1101;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vælg typer af personoplysninger</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="categoryIdentifier" id="categoryIdentifier">
                    <div class="form-check" th:each="choice: ${dbChoices.personCategoriesInformationIdentifiers1.values}">
                        <input th:id="${choice.identifier + dataProcessing.id}"
                               th:value="${choice.identifier}"
                               class="form-check-input" type="checkbox" autocomplete="off"/>
                        <label th:for="${choice.identifier + dataProcessing.id}" th:text="${choice.caption}" th:title="${choice.description}"></label>
                        <div th:if="${choice.identifier=='dp-person-categories-sensitive'}" class="mb-2 mt-1">
                            <div class="form-check" th:each="choice2: ${dbChoices.personCategoriesInformationIdentifiers2.values}">
                                <input th:id="${choice2.identifier + dataProcessing.id}" th:value="${choice2.identifier}"
                                       class="form-check-input" type="checkbox" autocomplete="off"/>
                                <label th:for="${choice2.identifier + dataProcessing.id}" th:text="${choice2.caption}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Gem</button>
                </div>
            </div>
        </div>
    </div>
    <!-- template used for information category selection -->
    <div class="row d-flex mb-1 pb-2 pt-2 categoryRowTemplate border border-light" style="display: none !important;">
        <div class="col-sm-6 col-lg-4 d-inline-flex align-items-center">
            <button type="button" class="btn btn-icon btn-outline-warning btn-s me-1 d-flex" style="display: none !important;" onclick="removeCategorySelection(this)"><i class="pli-trash fs-5"></i></button>
            <select class="form-control form-select categorySelect" onchange="categorySelectionChanged(this)" tabindex="-1">
                <option value="">Ingen valgt</option>
                <option th:each="choice: ${dbChoices.personCategoriesRegisteredIdentifiers.values}" th:value="${choice.identifier}"
                        th:text="${choice.caption + ' ' + (choice.description ?: '')}"></option>
            </select>
            <input type="hidden" class="selectedPersonInformation">
            <input type="hidden" class="selectedRegisteredCategory">
        </div>
        <div class="col-sm-6 col-lg-8">
            <div class="tagin-wrapper form-control disabledBox" onclick="informationTypesClicked(this)">&nbsp</div>
        </div>
        <div class="extendedCategoryInfo row d-flex mt-2" style="display: none !important;">
            <div th:replace="~{dataProcessing/dataProcessingInfoPassedOn :: dataProcessingInfoPassedOn(allReceiversIdentifiers=${dbChoices.informationReceiversIdentifiers.values})}"></div>
        </div>
    </div>
    <script th:inline="javascript" th:if="${primary}">
        /*<![CDATA[*/
        let primaryCategorySelectionService;

        document.addEventListener("DOMContentLoaded", function(event) {
            const formId = /*[[${'dpForm' + dataProcessing.id}]]*/ '';
            const formElement = document.getElementById(formId);
            const registeredCategories = /*[[${dataProcessing.registeredCategories}]]*/ [];
            const informationChoices1 = /*[[${dbChoices.personCategoriesInformationIdentifiers1.values}]]*/ [];
            const informationChoices2 = /*[[${dbChoices.personCategoriesInformationIdentifiers2.values}]]*/ [];
            primaryCategorySelectionService = new DataProcessingComponent();
            primaryCategorySelectionService.init(formElement, registeredCategories, informationChoices1, informationChoices2);
            primaryCategorySelectionService.resetCategorySelection();
        });

        function removeCategorySelection(elem) {
            primaryCategorySelectionService.removeCategorySelection(elem);
        }

        function informationTypesClicked(elem) {
            primaryCategorySelectionService.informationTypesClicked(elem);
        }

        function categorySelectionChanged(elem) {
            primaryCategorySelectionService.categorySelectionChanged(elem);
        }
        function infoPassedOnSelectionChanged(elem) {
            primaryCategorySelectionService.infoPassedOnSelectionChanged(elem);
        }
        function editModeCategoryInformationEditable(enabled) {
            primaryCategorySelectionService.setEditMode(enabled);
        }

        /*]]>*/
    </script>

    <script th:inline="javascript" th:unless="${primary}">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function(event) {
            const formId = /*[[${'dpForm' + dataProcessing.id}]]*/ '';
            const formElement = document.getElementById(formId);
            const registeredCategories = /*[[${dataProcessing.registeredCategories}]]*/ [];
            const informationChoices1 = /*[[${dbChoices.personCategoriesInformationIdentifiers1.values}]]*/ [];
            const informationChoices2 = /*[[${dbChoices.personCategoriesInformationIdentifiers2.values}]]*/ [];
            const dataProcessingService = new DataProcessingComponent();
            dataProcessingService.init(formElement, registeredCategories, informationChoices1, informationChoices2);
            dataProcessingService.resetCategorySelection();
        });

        /*]]>*/
    </script>

</div>
</body>
</html>
