<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="infoReceiverComponent(receiverOption)" class="col-sm-12 col-md-6 col-lg-3 infoReceiverContainer mb-2">
    <div>
        <input class="receiverSelectedCheck form-check-input editField" th:value="${receiverOption.identifier}" type="checkbox" disabled>
        <label class="form-label" th:text="${receiverOption.caption}"></label>
    </div>
    <div class="passedOnAdditionalOptionsContainer ms-3" hidden>
        <div>
            <input class="locationRadio insideEURadio form-check-input editField" th:value="${T(dk.digitalidentity.model.entity.data_processing.enums.ReceiverLocation).INSIDE_EU}" type="radio" disabled checked>
            <label class="form-label" th:text="${T(dk.digitalidentity.model.entity.data_processing.enums.ReceiverLocation).INSIDE_EU.message}"></label>
        </div>
        <div>
            <input class="locationRadio outsideEURadio form-check-input editField" th:value="${T(dk.digitalidentity.model.entity.data_processing.enums.ReceiverLocation).OUTSIDE_EU}" type="radio" disabled>
            <label  class="form-label" th:text="${T(dk.digitalidentity.model.entity.data_processing.enums.ReceiverLocation).OUTSIDE_EU.message}"></label>
        </div>
    </div>
</div>
</body>
</html>