<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head}"></head>

<body class="jumping">
<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Signér risikovurderingsrapport</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Signér risikovurderingsrapport</h1>
                        <p class="lead"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='signering')}"></nav>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
