<!DOCTYPE html>
<html lang="DA">
<body>
<div th:fragment="consequence(assessment)">
    <div class="card shadow-none">
        <form id="editAssessmentId" class="row" action="#" th:action="@{/registers/__${register.id}__/assessment(section='risk')}" th:object="${assessment}" name="assessment" method="post">
            <div class="card-header toolbar border-0 pb-0">
                <div class="toolbar-start"></div>
                <div class="toolbar-end">
                    <button id="editAssessmentBtn" type="button" class="btn btn-secondary btn-xs" onclick="registerAssessmentService.setAssessmentEditState(true)">Rediger</button>
                    <button id="cancelAssessmentBtn" type="button" onclick="registerAssessmentService.setAssessmentEditState(false)" class="btn btn-light btn-xs" style="display: none">Annuller</button>
                    <button id="saveAssessmentBtn" form="editAssessmentId" type="submit" class="btn btn-secondary btn-xs" style="display: none">Gem</button>
                </div>
            </div>
            <div class="table-responsive" style="overflow: visible">
                <input type="hidden" name="confidentialityRegistered" th:field="*{confidentialityRegistered}" />
                <input type="hidden" name="confidentialityOrganisation" th:field="*{confidentialityOrganisation}" />
                <input type="hidden" name="confidentialityOrganisationRep" th:field="*{confidentialityOrganisationRep}" />
                <input type="hidden" name="confidentialityOrganisationEco" th:field="*{confidentialityOrganisationEco}" />
                <input type="hidden" name="integrityRegistered" th:field="*{integrityRegistered}" />
                <input type="hidden" name="integrityOrganisation" th:field="*{integrityOrganisation}" />
                <input type="hidden" name="integrityOrganisationRep" th:field="*{integrityOrganisationRep}" />
                <input type="hidden" name="integrityOrganisationEco" th:field="*{integrityOrganisationEco}" />
                <input type="hidden" name="availabilityRegistered" th:field="*{availabilityRegistered}" />
                <input type="hidden" name="availabilityOrganisation" th:field="*{availabilityOrganisation}" />
                <input type="hidden" name="availabilityOrganisationRep" th:field="*{availabilityOrganisationRep}" />
                <input type="hidden" name="availabilityOrganisationEco" th:field="*{availabilityOrganisationEco}" />
                <input type="hidden" name="assessment" th:field="*{assessment}" />
                <table class="table table-bordered" style="overflow: visible">
                    <thead>
                    <tr>
                        <th style="width: 180px; vertical-align: top">Konsekvensanalyse</th>
                        <th style="width: 120px; vertical-align: top">Vurdering for den registrerede</th>
                        <th style="width: 140px; vertical-align: top">Vurdering for organisationen (Omdømme/tillid)</th>
                        <th style="width: 145px; vertical-align: top">Vurdering for organisationen (Økonomi/jura/drift)</th>
                        <th style="width: 120px; vertical-align: top">Samlet vurdering for organisationen</th>
                        <th style="vertical-align: top">Begrundelse</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Fortrolighed</td>
                        <td>
                            <div class="btn-group">
                                <button id="confidentialityRegisteredBtn" th:text="${assessment.confidentialityRegistered} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;"></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'confidentialityRegistered', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'confidentialityRegistered', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button id="confidentialityOrganisationRepBtn" th:text="${assessment.confidentialityOrganisationRep} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;"></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'confidentialityOrganisationRep', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'confidentialityOrganisationRep', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button id="confidentialityOrganisationEcoBtn" th:text="${assessment.confidentialityOrganisationEco} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;"></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'confidentialityOrganisationEco', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'confidentialityOrganisationEco', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button id="confidentialityOrganisationBtn" th:text="${assessment.confidentialityOrganisation} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;"></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'confidentialityOrganisation', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'confidentialityOrganisation', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <textarea name="purpose" th:field="*{confidentialityReason}" id="confidentialityReason" class="p-2 form-control" th:text="${assessment.confidentialityReason}" rows="2" readonly></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Integritet</td>
                        <td>
                            <div class="btn-group">
                                <button id="integrityRegisteredBtn" th:text="${assessment.integrityRegistered} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;">1</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'integrityRegistered', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'integrityRegistered', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button id="integrityOrganisationRepBtn" th:text="${assessment.integrityOrganisationRep} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;">1</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'integrityOrganisationRep', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'integrityOrganisationRep', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button id="integrityOrganisationEcoBtn" th:text="${assessment.integrityOrganisationEco} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;">1</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'integrityOrganisationEco', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'integrityOrganisationEco', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button id="integrityOrganisationBtn" th:text="${assessment.integrityOrganisation} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;">1</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'integrityOrganisation', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'integrityOrganisation', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <textarea name="purpose" th:field="*{integrityReason}" id="integrityReason" class="p-2 form-control" th:text="${assessment.integrityReason}" rows="2" readonly></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Tilgængelighed</td>
                        <td>
                            <div class="btn-group">
                                <button id="availabilityRegisteredBtn" th:text="${assessment.availabilityRegistered} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;">1</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'availabilityRegistered', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'availabilityRegistered', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button id="availabilityOrganisationRepBtn" th:text="${assessment.availabilityOrganisationRep} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;">1</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'availabilityOrganisationRep', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'availabilityOrganisationRep', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button id="availabilityOrganisationEcoBtn" th:text="${assessment.availabilityOrganisationEco} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;">1</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'availabilityOrganisationEco', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'availabilityOrganisationEco', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button id="availabilityOrganisationBtn" th:text="${assessment.availabilityOrganisation} ?: '-'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled style="pointer-events: auto;">1</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item" onclick="registerAssessmentService.updatedAssessmentValue('-', 'availabilityOrganisation', 'RØD')">Ikke angivet</a></li>
                                    <li th:each="entry : ${scale}"><a href="#" class="dropdown-item" th:onclick="registerAssessmentService.updatedAssessmentValue([[${entry.key}]], 'availabilityOrganisation', [[${entry.value}]])" th:text="${consequenceScale[(entry.key)-1]}"></a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <textarea name="purpose" th:field="*{availabilityReason}" id="availabilityReason" class="p-2 form-control" th:text="${assessment.availabilityReason}" rows="2" readonly></textarea>
                        </td>
                    </tr>
                    <tr class="mb-5 pb-5">
                        <td>Maks. vurdering</td>
                        <td><button id="maxRegistered" type="button" class="btn" disabled style="pointer-events: auto;"></button></td>
                        <td></td>
                        <td></td>
                        <td><button id="maxOrganisation" type="button" class="btn" disabled style="pointer-events: auto;"></button></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        /*[+
            var scaleMap = [[${scale}]];
            var consequenceScale = [[${consequenceScale}]];
        +]*/
        /*]]>*/
    </script>
</div>
</body>
</html>
