
<div th:fragment="dataProcessing(dpChoices, register)">
    <div class="accordion" id="_dm-dpAccordion">
        <div class="accordion-item">
            <div class="accordion-header" id="_dm-current">
                <button class="accordion-button bg-light shadow-none " type="button" data-bs-toggle="collapse" data-bs-target="#_dm-defaultDP" aria-expanded="true" aria-controls="_dm-defaultDP">
                    Databehandling
                </button>
            </div>
            <div id="_dm-defaultDP" class="accordion-collapse collapse show" aria-labelledby="_dm-defAccHeadingOne" data-bs-parent="#_dm-defaultAccordion">
                <div class="accordion-body">
                    <form id="dataprocessingForm" action="#" th:action="@{/registers/__${register.id}__/dataprocessing}" method="post" class="needs-validation" novalidate>
                        <div class="card-header toolbar border-0 pb-0">
                            <div class="toolbar-start"></div>
                            <div class="toolbar-end">
                                <button id="editDataProcessingBtn" type="button" class="btn btn-secondary btn-xs" onclick="registerDataprocessingService.setDataprocessingEditState(true)">Rediger</button>
                                <button id="cancelDataProcessingBtn" type="button" onclick="registerDataprocessingService.setDataprocessingEditState(false)" class="btn btn-light btn-xs" hidden="hidden">Annuller</button>
                                <button id="saveDataProcessingBtn" form="dataprocessingForm" type="submit" class="btn btn-secondary btn-xs" hidden="hidden">Gem</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 gx-4">
                                <input th:field="${register.id}" type="hidden">
                                <div th:replace="~{fragments/dataprocessing :: dataProcessing(dbChoices=${dpChoices}, dataProcessing=${register.dataProcessing}, primary='true')}"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item" th:each="asset: ${relatedAssets}">
            <div class="accordion-header" th:id="'accHeader' + ${asset.id}">
                <button class="accordion-button bg-secondary text-white shadow-none collapsed" type="button" data-bs-toggle="collapse" th:text="${asset.name}" th:data-bs-target="'#asset' + ${asset.id}" aria-expanded="false" aria-controls="_dm-defAccCollapseTwo">
                </button>
            </div>
            <div th:id="'asset' + ${asset.id}" class="accordion-collapse collapse" th:aria-labelledby="'accHeader' + ${asset.id}" data-bs-parent="#_dm-defaultAccordion">
                <div class="accordion-body">
                    <div th:replace="~{fragments/dataprocessing :: dataProcessing(dbChoices=${dpChoices}, dataProcessing=${asset.dataProcessing}, primary='false')}"></div>
                </div>
            </div>
        </div>
    </div>


</div>
