<!DOCTYPE html>
<html lang="DA">
<body>
<div th:fragment="general(register, documents, assets, tasks)">
    <div class="card shadow-none">
        <link th:href="@{/css/register.css}" rel="stylesheet">
        <form id="editDescId" class="row" action="#" th:action="@{/registers/__${register.id}__/update}" th:object="${register}" name="generelt" method="post">
            <div class="card-header toolbar border-0 pb-0">
                <div class="toolbar-start"></div>
                <div class="toolbar-end">
                    <button id="editBtn" th:if="${changeableRegister}" type="button" th:attr="data-responsible-changeable=${responsibleFieldChangeable}" class="btn btn-secondary btn-xs">Rediger</button>
                    <button id="cancelBtn" th:if="${changeableRegister}" type="button" th:attr="data-responsible-changeable=${responsibleFieldChangeable}" class="btn btn-light btn-xs" style="display: none">Annuller</button>
                    <button id="saveBtn" th:if="${changeableRegister}" form="editDescId" type="submit" class="btn btn-secondary btn-xs" style="display: none">Gem</button>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="form-group row mt-0">
                    <div class="col-sm-12">
                        <label for="description" class="col-form-label">Beskrivelse</label>
                        <textarea name="description" th:field="*{description}" id="description" class="p-2 form-control" th:text="${register.description}" rows="6" readonly></textarea>
                    </div>

                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="mainGroupSelector" class="col-form-label">KLE Hovedgrupper</label>
                                <select class="form-control form-select" multiple="multiple" id="mainGroupSelector" name="mainGroups" th:attr="data-register-id=${register.id}" disabled>
                                    <option th:each="group : ${mainGroups}" th:selected="${group.selected}" th:text="${group.display}" th:value="${group.value}"></option>
                                </select>
                            </div>

                            <div class="col-sm-12">
                                <label for="groupSelector" class="col-form-label">KLE Grupper</label>
                                <select class="form-control form-select" multiple="multiple" id="groupSelector" name="groups"  disabled>
                                    <option th:each="group : ${kleGroups}" th:selected="${group.selected}" th:text="${group.display}" th:value="${group.value}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="status" class="col-form-label">Status</label>
                            <select class="form-control form-select" th:field="*{status}" name="status" id="status" tabindex="-1" disabled>
                                <option value=""></option>
                                <option th:each="status : ${T(dk.digitalidentity.model.entity.enums.RegisterStatus).values()}"
                                        th:value="${status}" th:text="${status.message}"></option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="criticality" class="col-form-label">Kritikalitet</label>
                            <select class="form-control form-select" th:field="*{criticality}" name="criticality" id="criticality" tabindex="-1" disabled>
                                <option value=""></option>
                                <option th:each="crit : ${T(dk.digitalidentity.model.entity.enums.Criticality).values()}"
                                        th:value="${crit.name}" th:text="${crit.message}"></option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="emergencyPlanLink" class="col-form-label">Nødplan</label>
                            <input class="form-control" id="emergencyPlanLink" name="emergencyPlanLink" th:field="*{emergencyPlanLink}" type="text" readonly>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group row">
                            <label for="departmentSelect" class="col-form-label">Ansvarlige forvaltninger</label>
                            <select class="form-select choices__input" th:field="*{departments}"
                                    data-trigger="" name="forvaltning" id="departmentSelect" tabindex="-1" multiple="multiple" disabled>
                                <option th:each="department : *{departments}" th:value="${department.uuid}" th:text="${department.name}" selected></option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="ouSelect" class="col-form-label">Ansvarlige afdelinger</label>
                            <select class="form-select choices__input" th:field="*{responsibleOus}"
                                    data-trigger="" name="afdeling" id="ouSelect" tabindex="-1" multiple="multiple" disabled>
                                <option th:each="ou : *{responsibleOus}" th:value="${ou.uuid}" th:text="${ou.name}" selected></option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="userSelect" class="col-form-label">Behandlingsansvarlige</label>
                            <select class="form-select choices__input" th:field="*{responsibleUsers}"
                                    data-trigger="" name="ansvarlig" id="userSelect" tabindex="-1" multiple="multiple" disabled>
                                <option th:each="user : *{responsibleUsers}" th:value="${user.uuid}" th:text="${user.name}" selected></option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="customUserField" class="col-form-label" th:text="${customResponsibleUserFieldName}"></label>
                            <select class="form-select choices__input" th:field="*{customResponsibleUsers}"
                                    data-trigger="" name="ansvarlig" id="customUserField" tabindex="-1" multiple="multiple" disabled>
                                <option th:each="user : *{customResponsibleUsers}" th:value="${user.uuid}" th:text="${user.name}" selected></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label for="informationResponsible" class="col-form-label">Hvem er ansvarlig for behandling af personoplysningerne</label>
                            <input class="form-control" id="informationResponsible" name="informationResponsible" th:field="*{informationResponsible}" type="text" readonly>
                        </div>

                        <div class="form-group row">
                            <label for="registerRegarding" class="col-form-label">Fortegnelse over behandlingsaktivitet angående</label>
                            <select class="form-select choices__input" id="registerRegarding" name="registerRegarding" multiple disabled>
                                <option th:each="option : ${recordOfProcessingActivityRegardingChoices}"
                                        th:text="${option.label}" th:value="${option.value}" th:selected="${option.selected}"></option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="securityPrecautions" class="col-form-label">Sikkerhedsforanstaltninger</label>
                            <input class="form-control" id="securityPrecautions" name="securityPrecautions" th:field="*{securityPrecautions}" type="text" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            <div class="card h-100">
                <div class="card-header toolbar">
                    <h5 class="toolbar-start m-0">Aktiver</h5>
                    <div class="toolbar-end">
                        <button type="button" th:if="${changeableRegister}" class="btn btn-secondary addRelationBtn btn-xs" th:attr="data-relatableid=${register.id}" data-bs-toggle="modal" data-bs-target="#AssetRelationModal">Tilføj</button>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Relaterede aktiver</th>
                            <th>Leverandør</th>
                            <th>Er der indgået databehandleraftale</th>
                            <th>Land</th>
                            <th>Tredjelandsoverførsel</th>
                            <th>Acceptgrundlag</th>
                            <th>Kritikalitet</th>
                            <th>Risiko vægtning</th>
                            <th style="width: 80px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:with="relatedAsset = ${relatedAssetEntry.value}" th:each="relatedAssetEntry : ${relatedAssetsSubSuppliers}">
                            <td>
                                <a th:text="${relatedAsset.asset.name + ' (' + relatedAsset.asset.assetType.caption + ')'}" th:href="@{/assets/{id}(id=${relatedAsset.asset.id})}"></a>
                            </td>
                            <td th:text="${relatedAsset.asset.supplier?.name}"></td>
                            <td th:text="${relatedAsset.asset.DataProcessingAgreementStatus.message}"></td>
                            <td th:text="${relatedAsset.asset.supplier?.country}"></td>
                            <td th:text="${relatedAsset.thirdCountryTransfer?.message}"></td>
                            <td th:text="${@choiceService.getCaption(relatedAsset.acceptanceBasis, '')}"></td>
                            <td th:text="${relatedAsset.asset.criticality?.message}"></td>
                            <td th:text="${relatedAssetEntry.key}+'%'"></td>
                            <td>
                                <button onclick="registerGeneralService.showEditRelationDialog(this)" class="btn btn-icon btn-outline-light btn-xs" th:attr="data-relatableid=${register.id}, data-relationid=${relatedAsset.asset.id}, data-relationtype=${relatedAsset.asset.relationType}">
                                    <i class="pli-pencil fs-5"></i>
                                </button>
                                <button onclick="relationService.deleteRelation(this)" class="btn btn-icon btn-outline-light btn-xs" th:attr="data-relatableid=${register.id}, data-relationid=${relatedAsset.asset.id}, data-relationtype=${relatedAsset.asset.relationType}">
                                    <i class="pli-trash fs-5"></i>
                                </button>
                            </td>
                        </tr>
                        <tr
                                th:if="${relatedAssetsSubSuppliers == null || #lists.size(relatedAssetsSubSuppliers) == 0}">
                            <td colspan="2">Ingen data tilgængelige i tabellen</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            <div class="card h-100">
                <div class="card-header toolbar">
                    <h5 class="toolbar-start m-0">Opgaver</h5>
                    <div class="toolbar-end">
                        <button type="button" th:if="${changeableRegister}" class="btn btn-secondary addRelationBtn btn-xs" th:attr="data-relatableid=${register.id}" data-bs-toggle="modal" data-bs-target="#TaskRelationModal">Tilføj</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table>
                            <thead>
                            <tr>
                                <th class="col">Titel</th>
                                <th class="col">Ansvarlig</th>
                                <th class="col">Afdeling</th>
                                <th class="col-1">Opgavetype</th>
                                <th class="col-1">Deadline</th>
                                <th class="col-1">Gentages</th>
                                <th class="col-1">Status</th>
                                <th class="col-1"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task : ${tasks}">
                                <td >
                                    <a th:text="${task.title}" th:href="@{/tasks/{id}(id=${task.id})}"></a>
                                </td>
                                <td th:text="${task.responsibleUserName}"></td>
                                <td th:text="${task.responsibleOuName}"></td>
                                <td th:text="${task.taskType}"></td>
                                <td th:text="${task.deadline}"></td>
                                <td th:text="${task.repeats}"></td>
                                <td th:utext="${task.status}"></td>
                                <td class="col-1 " title="Fjern relation">
                                    <div class="text-end ps-3 pe-3">
                                        <i class="pli-cross fs-5 me-2" onclick="relationService.deleteRelation(this)" th:attr="data-relatableid=${register.id}, data-relationid=${task.id}, data-relationtype=${task.relationType}"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 mb-3">
        <div class="card h-100">
            <div class="card-header toolbar">
                <h5 class="toolbar-start m-0">Dokumenter</h5>
                <div class="toolbar-end">
                    <button type="button" th:if="${changeableRegister}" class="btn btn-secondary addRelationBtn btn-xs" th:attr="data-relatableid=${register.id}" data-bs-toggle="modal" data-bs-target="#DocumentRelationModal">Tilføj</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table>
                        <tbody>
                        <tr th:each="document : ${documents}">
                            <td class="col-lg-10">
                                <a th:text="${document.name} + ' - ' + ${document.nextRevision}" th:href="@{/documents/{id}(id=${document.id})}"></a>
                            </td>
                            <td class="col-lg-2" title="Fjern relation">
                                <i class="pli-cross fs-5 me-2" onclick="relationService.deleteRelation(this)" th:attr="data-relatableid=${register.id}, data-relationid=${document.id}, data-relationtype=${document.relationType}"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
