<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true, burgermenu = true)}"></head>
<script th:src="@{/js/register/form.js}" defer></script>
<body class="jumping">
    <link rel="stylesheet" th:href="@{/css/register.css}" />
	<div id="root" class="root mn--max hd--expanded">
		<section id="content" class="content">
			<div class="content__header content__boxed overlapping">
				<div class="content__wrap">
					<div class="d-md-flex">
						<div class="me-auto">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
									<li class="breadcrumb-item active" aria-current="page">Fortegnelse</li>
								</ol>
							</nav>
							<h1 class="page-title mb-0 mt-2">Fortegnelse</h1>
							<p class="lead"></p>
						</div>
						<div class="align-self-center d-inline-flex">
							<button type="button" sec:authorize="hasAnyRole('ROLE_create_all, ROLE_create_owner_only')" onclick="createRegisterService.show()" class="btn btn-info btn-lg hstack gap-2" style="margin-bottom: 8px; margin-right: 14px; height: 45px">
								<i class="ti-plus fs-4"></i> <span class="vr"></span>Ny behandlingsaktivitet
							</button>
							<button type="button" sec:authorize="hasAnyRole('ROLE_create_all, ROLE_create_owner_only')" onclick="createTaskService.show()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
								<i class="ti-plus"></i> <span class="vr"></span> Ny opgave
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="content__boxed">
				<div class="content__wrap">
					<article class="d-md-flex gap-4">
						<div class="flex-fill">
							<div class="card mb-3">
								<div class="card-body">
                                    <div th:replace="~{fragments/gridOptions :: dropdown}"></div>
									<div id="registersDatatable" class="mt-3"></div>

                                    <!-- Custom search selectors-->
                                    <select class="form-control form-select editField" data-trigger="" name="registerConsequenceSearchSelector" id="registerConsequenceSearchSelector" tabindex="-1" required >
                                        <option th:text="'Alle'" th:value="null"></option>
                                        <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.ConsequenceAssessment).values()}"
                                                th:value="${option}" th:text="${option.message}"></option>
                                    </select>

                                    <select class="form-control form-select editField" data-trigger="" name="registerRiskSearchSelector" id="registerRiskSearchSelector" tabindex="-1" required >
                                        <option th:text="'Alle'" th:value="null"></option>
                                        <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.RiskAssessment).values()}"
                                                th:value="${option}" th:text="${option.message}"></option>
                                    </select>

                                    <select class="form-control form-select editField" data-trigger="" name="registerStatusSearchSelector" id="registerStatusSearchSelector" tabindex="-1" required >
                                        <option th:text="'Alle'" th:value="null"></option>
                                        <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.RegisterStatus).values()}"
                                                th:value="${option}" th:text="${option.message}"></option>
                                    </select>

                                    <select class="form-control form-select editField" data-trigger="" name="registerAssetSearchSelector" id="registerAssetSearchSelector" tabindex="-1" required >
                                        <option th:text="'Alle'" th:value="null"></option>
                                        <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.RiskAssessment).values()}"
                                                th:value="${option}" th:text="${option.message}"></option>
                                    </select>

<!--                                    Templates for list action buttons-->
                                    <template id="editListItemButtonTemplate">
                                        <button type="button" class="editBtn btn btn-icon btn-outline-light btn-xs"><i class="pli-pen fs-5"></i></button>
                                    </template>
                                    <template id="deleteListItemButtonTemplate">
                                        <button type="button" class="deleteBtn btn btn-icon btn-outline-light btn-xs"><i class="pli-trash fs-5"></i></button>
                                    </template>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</section>
		<header th:replace="~{fragments/header :: header}"></header>
		<nav th:replace="~{fragments/navbar :: main (page='fortegnelse')}"></nav>
	</div>

	<div class="modal fade" id="createRegisterDialog" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true"></div>
	<div class="modal fade" id="editRegisterDialog" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true"></div>

	<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true, gridoptions = true)}"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var gridRegistersUrl = [[@{/rest/registers/list}]];
			var viewUrl = [[@{/registers/}]];
			var formUrl = [[@{/registers/form}]];
			var restUrl = [[@{/rest/registers}]];
			var deleteUrl = [[@{/registers/}]];
			var superuser = [[${superuser}]];
		+]*/
		let token = document.getElementsByName("_csrf")[0].getAttribute("content");


		/*]]>*/
	</script>
    <script th:src="@{/js/register/register.js}" defer></script>
</body>

</html>
