<!DOCTYPE html>
<html>
<body>
    <div th:fragment="dropdown" class="btn-group" style="position: absolute; top: 20px; z-index: 10">
        <button id="confidentialityRegisteredBtn" type="button" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" aria-expanded="false"
                style="pointer-events: auto;" title="Kolonner"><i class="pli-gears fs-4"></i></button>
        <ul class="dropdown-menu" style="" id="gridOptions">
            <!-- content added dynamically -->
        </ul>
    </div>
</body>
