<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head th:fragment="head">

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}" />
<title>OS2compliance</title>

<link th:href="@{/webjars/nifty/3.0.1/css/fonts.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/css/nifty.min.css}">
<link rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/premium/icon-sets/icons/line-icons/premium-line-icons.min.css}">
<link rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css}">
<link rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/vendors/themify-icons/themify-icons.min.css}">
<link th:if="${gridjs == true}" rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/vendors/gridjs/gridjs.min.css}">
<link rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/vendors/mc-datepicker/mc-calendar.css}" />
<link rel="stylesheet" th:href="@{/vendor/choices/styles/choices.min.css}" />
<link th:if="${sweetalerts == true}" rel="stylesheet" th:href="@{/vendor/sweetalert2/sweetalert2.min.css}" />
<link th:if="${textEditor == true}" rel="stylesheet" th:href="@{/vendor/ckeditor5/ckeditor5.css}" />

<link th:if="${burgermenu == true}" rel="stylesheet" th:href="@{/css/navbar.css}" />
<link rel="stylesheet" th:href="@{/css/global.css}" />
<script th:if="${textEditor == true}" type="importmap">
    {
        "imports": {
            "ckeditor5": "/vendor/ckeditor5/ckeditor5.js",
            "ckeditor5/": "/vendor/ckeditor5/"
        }
    }
</script>
<script th:if="${textEditor == true}" type="module">
    import { CreateCkEditor } from "/js/create-ckeditor.js";
    import { CreateImageCkEditor } from "/js/create-image-ckeditor.js";
    window.CreateCkEditor = CreateCkEditor;
    window.CreateImageCkEditor = CreateImageCkEditor;
</script>

</head>

<header class="header" th:fragment="header">
	<div class="header__inner">

		<!-- Brand -->
		<div class="header__brand">
			<div class="brand-wrap">
				<a href="./dashboard">
                    <img src="/img/OS2compliance_logo.svg" alt="OS2compliance Logo" width="120">
				</a>
			</div>
		</div>
		<!-- End - Brand -->

		<div class="header__content">
            <ul class="nav navbar-top-links">
                <li class="tgl-menu-btn">
                    <a class="mainnav-toggle" id="burger-menu">
                        <i class="pli-list-view"></i>
                    </a>
                </li>
            </ul>

			<!-- Content Header - Left Side: -->
			<div class="header__content-start">

			</div>
			<!-- End - Content Header - Left Side -->

			<!-- Content Header - Right Side: -->
			<div class="header__content-end">
				<div th:if="${T(dk.digitalidentity.security.SecurityUtil).administrator}">
					<a style="margin-bottom: 2px; margin-right: 14px; height: 45px; margin-top: 50px;" onclick="settingsService.show()">
						<i class="ti-settings fs-4"></i>
					</a>
					<div id="settings"></div>
				</div>
			</div>
		</div>
	</div>
    <script th:src="@{/js/header.js}"></script>
</header>
</html>
