<div th:if="${T(dk.digitalidentity.security.SecurityUtil).administrator}" class="modal fade" id="settingsDialog"
     tabindex="-1" aria-labelledby="settings" aria-hidden="true" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/setting.css}"/>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rediger indstillinger</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="riskSettingsForm" class="row g-3" action="#" th:action="@{/settings/update}"
                      style="margin-bottom: 25px;" th:object="${settings}" method="post">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#generalPart" role="button"
                       aria-expanded="false" aria-controls="riskPart">
                        Generelt
                    </a>
                    <div class="collapse" id="generalPart" th:classappend="${page} == 'inactiveUsers' ? 'show' : ''">
                        <div class="card card-body">
                            <div th:each="setting, itemStat :  *{settingsList}">
                                <div th:if="${setting.association} == 'general'" class="row mt-3">
                                    <label for="inactiveResponsibleEmailInput" class="col-sm-12 col-form-label"
                                           style="color: black;">Email til notifikation om inaktive ansvarlige</label>
                                    <div th:if="${setting.settingKey} == 'inactiveResponsibleEmail'">
                                        <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].id}"/>
                                        <input type="hidden"
                                               th:field="*{settingsList[__${itemStat.index}__].settingKey}"/>
                                        <input type="hidden"
                                               th:field="*{settingsList[__${itemStat.index}__].editable}"/>
                                        <input type="hidden"
                                               th:field="*{settingsList[__${itemStat.index}__].association}"/>
                                        <input type="hidden"
                                               th:field="*{settingsList[__${itemStat.index}__].lastUpdated}"/>
                                        <input style="color:black;" class="form-control" name="inactiveResponsibleEmail"
                                               id="inactiveResponsibleEmailInput"
                                               th:field="*{settingsList[__${itemStat.index}__].settingValue}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Email Notifications-->
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#notificationPart" role="button"
                       aria-expanded="false" aria-controls="notificationPart">
                        Email påmindelser
                    </a>
                    <div class="collapse" id="notificationPart"
                         th:classappend="${page} == 'notifications' ? 'show' : ''">
                        <div class="card card-body gap-3">
                            <div th:each="setting, itemStat :  *{settingsList}" th:if="${setting.association} == 'notification'" class="row">

                                    <span class="col-1">
                                        <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].id}"/>
                                        <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].settingKey}"/>
                                        <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].editable}"/>
                                        <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].association}"/>
                                        <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].lastUpdated}"/>
                                        <input type="checkbox" th:value="true"
                                               th:name="${'settingsList['+__${itemStat.index}__+'].settingKey'}"
                                               th:checked="*{settingsList[__${itemStat.index}__].settingValue} == 'true'"
                                               style="color:black;" class="form-check-input "
                                               th:id="${setting.settingKey + '_input'}"
                                               th:field="*{settingsList[__${itemStat.index}__].settingValue}">
                                    </span>
                                    <label th:if="${setting.settingKey} == 'notification_interval_7before'"
                                           th:for="${setting.settingKey + '_input'}" class="col form-check-label"
                                           style="color: black;">7 dage før deadline</label>
                                    <label th:if="${setting.settingKey} == 'notification_interval_1before'"
                                           th:for="${setting.settingKey + '_input'}" class="col form-check-label"
                                           style="color: black;">1 dag før deadline</label>
                                    <label th:if="${setting.settingKey} == 'notification_interval_onday'"
                                           th:for="${setting.settingKey + '_input'}" class="col form-check-label"
                                           style="color: black;">På dagen for deadline</label>
                                    <label th:if="${setting.settingKey} == 'notification_interval_every7after'"
                                           th:for="${setting.settingKey + '_input'}" class="col form-check-label"
                                           style="color: black;">Hver 7 dage efter deadline, indtil udført</label>

                            </div>
                        </div>
                    </div>

                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#riskPart" role="button"
                       aria-expanded="false" aria-controls="riskPart">
                        Risiko
                    </a>
                    <div class="collapse" id="riskPart" th:classappend="${page} == 'risks' ? 'show' : ''">
                        <div class="card card-body">
                            <div th:each="setting, itemStat :  *{settingsList}">
                                <div th:if="${setting.association} == 'risk'" class="row mt-3">
                                    <label for="riskScaleSelect" class="col-sm-4 col-form-label" th:text="Skala"
                                           style="color: black;"></label>
                                    <div th:if="${setting.settingKey} == 'scale'">
                                        <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].id}"/>
                                        <input type="hidden"
                                               th:field="*{settingsList[__${itemStat.index}__].settingKey}"/>
                                        <input type="hidden"
                                               th:field="*{settingsList[__${itemStat.index}__].editable}"/>
                                        <input type="hidden"
                                               th:field="*{settingsList[__${itemStat.index}__].association}"/>
                                        <input type="hidden"
                                               th:field="*{settingsList[__${itemStat.index}__].lastUpdated}"/>
                                        <select style="color:black;" class="form-control form-select" data-trigger=""
                                                name="riskScale" id="riskScaleSelect"
                                                tabindex="-1"
                                                th:field="*{settingsList[__${itemStat.index}__].settingValue}">
                                            <option style="color: black;"
                                                    th:each="scale : ${T(dk.digitalidentity.model.entity.enums.RiskScaleType).values()}"
                                                    th:value="${scale.name()}" th:text="${scale.getName()}"
                                                    th:selected="${scale.name() == @scaleService.getCurrentScaleType(setting.settingValue).name()}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a th:if="${kitosEnabled}" class="btn btn-primary" data-bs-toggle="collapse" href="#kitosPart"
                       role="button" aria-expanded="false"
                       aria-controls="kitosPart">
                        Kitos
                    </a>
                    <div th:if="${kitosEnabled}" class="collapse" id="kitosPart"
                         th:classappend="${page} == 'kitos' ? 'show' : ''">
                        <div class="card card-body">
                            <div th:each="setting, itemStat :  *{settingsList}">
                                <div th:if="${setting.association} == 'kitos'">
                                    <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].id}"/>
                                    <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].settingKey}"/>
                                    <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].editable}"/>
                                    <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].association}"/>
                                    <input type="hidden" th:field="*{settingsList[__${itemStat.index}__].lastUpdated}"/>
                                    <div
                                        th:if="${setting.settingKey == T(dk.digitalidentity.integration.kitos.KitosConstants).KITOS_OWNER_ROLE_SETTING_KEY}">
                                        <div class="row mt-1">
                                            <label for="ownerSelect" class="col-sm-10 col-form-label"
                                                   style="color: black;">Vælg systemejer rolle i Kitos</label>
                                            <select class="form-control form-select choices__input col-sm-8"
                                                    id="ownerSelect"
                                                    th:field="*{settingsList[__${itemStat.index}__].settingValue}">
                                                <option th:each="role : ${kitosRoles}"
                                                        th:value="${role.uuid}"
                                                        th:text="${role.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div
                                        th:if="${setting.settingKey == T(dk.digitalidentity.integration.kitos.KitosConstants).KITOS_RESPONSIBLE_ROLE_SETTING_KEY}">
                                        <div class="row mt-1">
                                            <label for="responsibleSelect" class="col-sm-10 col-form-label"
                                                   style="color: black;">Vælg systemansvarlig rolle i Kitos</label>
                                            <select class="form-control form-select choices__input"
                                                    id="responsibleSelect"
                                                    th:field="*{settingsList[__${itemStat.index}__].settingValue}">
                                                <option th:each="role : ${kitosRoles}"
                                                        th:value="${role.uuid}"
                                                        th:text="${role.name}"></option>
                                            </select>
                                        </div>
                                        <div class="text-black-50 mt-2">Bemærk, at det kan tage op til et døgn, før
                                            opdateringen af Kitos' opsætning er fuldt gennemført på alle steder.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="kitosSettingsForm" class="row g-3" action="#" th:action="@{/settings/update}"
                      th:object="${kitosSettings}"
                      method="post">

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuller</button>
                <button type="submit" form="riskSettingsForm" class="btn btn-secondary">Gem</button>
            </div>
        </div>
    </div>
</div>
