<th:block th:fragment="tagsfragment">
    <div class="card shadow-none col-md-12">
        <div class="card-header toolbar">
            <h5 class="toolbar-start m-0">Tags</h5>
            <div class="toolbar-end">
                <button th:unless="${completed}" type="button" class="btn btn-secondary addTagBtn btn-xs" th:attr="data-relatableid=${relatableId}" data-bs-toggle="modal" data-bs-target="#addTagModal">Tilføj</button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-lg-11">Tag</th>
                    <th class="col-lg-1">Fjern</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tag : ${tags}">
                    <td class="col-lg-11" th:text="${tag.value}"></td>
                    <td class="col-lg-1">
                        <i th:unless="${completed}" class="pli-cross fs-5 me-2" onclick="deleteTag(this)" th:attr="data-relatableid=${relatableId}, data-tagid=${tag.id}"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
