
.timeline .tl-entry:last-child .tl-media:after, .timeline .tl-entry:last-child .tl-point:after {
    border-color: var(--bs-primary) !important;
    border-inline-start-style: solid !important;
}

#tasksDatatable td[data-column-id="suppressions"] ul {
    list-style-type: none;
    padding: 0;
}

#tasksDatatable td[data-column-id="suppressions"] ul > li {
    display: table-row;
}

#tasksDatatable td[data-column-id="suppressions"] ul > li > span {
    display: table-cell;
    min-width: 1rem;
}

#tasksDatatable td[data-column-id="status"] {
    vertical-align: middle;
}

#tasksDatatable td[data-column-id="resultat"] {
    vertical-align: middle;
}
