<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true)}"></head>
<body class="jumping">
<script th:src="@{/js/users/userAdministration.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/users.css}"/>

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Brugeradministration</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Brugeradministration</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button type="button" class="btn btn-info btn-lg hstack gap-2"
                                style="margin-bottom: 8px; margin-right: 14px; height: 45px"
                                onclick="users.openEditModal(null, 'create')">

                            <i class="ti-plus"></i> <span class="vr"></span> Ny Bruger
                        </button>
                        <button type="button" onclick="createTaskService.show()"
                                class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny opgave
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3 flex-row">
                            <div class="card-body col-7 pe-0">
                                <div id="userDatatable"></div>
                            </div>
                            <div id="userDetailContainer" class="card-body col-5">
                                <div class="card border">
                                    <div class="card-header">
                                        Vælg en bruger for at se detaljer
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='userAdministration')}"></nav>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="taskLabel" aria-hidden="true">
    <div
        th:replace="~{users/fragments/edit.html :: userEditModal (user=${user}, action=${action}, roleOptions=${roleOptions})}"></div>
</div>

<div class="modal fade" id="addAssetRoleModal" tabindex="-1" aria-labelledby="taskLabel" aria-hidden="true">
</div>

<div class="modal fade" id="formDialog" aria-labelledby="assetLabel" aria-hidden="true"></div>

<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true)}"></div>
<div id="editRoleModalContainer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        const data = [[${allUsers}]];
        const roleOptions = [[${roleOptions}]]
        const viewUrl = [[@{/admin/users}]];
        const restUrl = [[@{/rest/users}]];
    +]*/



/*]]>*/
</script>
</body>
</html>
