<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="edit_Tag_modal" class="modal fade" id="editTagModal" tabindex="-1" aria-labelledby="taskLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rediger Tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:id="${formId}" class="row g-3" action="#" th:action="@{/admin/tags/update}" th:object="${tag}"
                  method="post">
                <div class="modal-body">
                    <input id="editIdentifier" th:field="*{id}" type="hidden">
                    <div class="row mt-4">
                        <label for="redigerNavn" class="col-sm-4 col-form-label">Navn</label>
                        <div class="col-sm-8">
                            <input id="redigerNavn" th:field="*{value}" th:value="${value}" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <label for="colorPicker" class="col-sm-4 col-form-label">Farve</label>
                        <div class="col-sm-8">'
                            <select class="form-select" id="colorPicker" th:field="*{color}">
                                <option th:each="color : ${T(dk.digitalidentity.model.dto.enums.TagColor).values()}"
                                        th:value="${color}" th:text="${color.message}"
                                        th:style="'background-color: ' + ${color.hexCode}"></option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuller</button>
                    <button type="submit" class="btn btn-primary" th:form="${formId}">Gem</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>