
#assetsDatatable td[data-column-id="status"] {
	vertical-align: middle;
}
#assetsDatatable td[data-column-id="risikoVurdering"] {
	vertical-align: middle;
}
#assetsDatatable td[data-column-id="handlinger"] {
	vertical-align: middle;
}

#assetsDatatable td[data-column-id="kategori"] {
	vertical-align: middle;
}

.is-invalid2 {
	border: 1px solid #dc3545 !important;
}

.is-invalid2::after {
	position: absolute;
	font-family: premium-line-icons;
	font-weight: 900;
	content: "\eb71";
	color: #dc3545;
	font-size: 20px;
	top: 4px;
	right: 32px;
}

/* the form-control-static for link was too wide */
.form-control-link {
    outline: 0!important;
}
.form-control-link {
    display: inline-block;
    padding: 0.55rem 0;
    margin-bottom: 0;
    line-height: 1.5;
    color: #75868f;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
}

.choices.is-disabled .form-control {
    background-color: #f3f5f9 !important;
    border-color: #edf1f6;
    opacity: 1;
}
.grayscale {
    filter: grayscale(100%);
}
.kitosLogo {
    width: 40px;
}

