.no-content-accordion {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: .75rem;
    text-align: left;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    pointer:none;
}
