<th:block th:fragment="editAssetRelation">
    <div class="modal fade" th:id="EditRelationModal" tabindex="-1" aria-labelledby="taskLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Rediger relation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="min-height: 200px;">
                    <form id="editRelationForm" class="row form-inline g-3" action="#" th:action="@{/relatables/__${relatableId}__/relations/__${asset.id}__/__${relatedType}__/update}" method="post">
                        <input name="id" th:value="${relatableId}" type="hidden">
                        <div class="row mt-3">
                            <label for="EditRelationModalrelationsSelect" class="col-sm-2 col-form-label">Aktiver</label>
                            <div class="col-sm-10">
                                <select class="form-control form-select choices__input" data-trigger=""
                                        name="relations" id="EditRelationModalrelationsSelect" hidden="" tabindex="-1" disabled>
                                    <option th:value="${asset.getId()}" th:text="${'Aktiv: ' + asset.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="EditRelationModalRiskScale" class="col-sm-2 col-form-label">Risko vægtning</label>
                            <div class="col-sm-10 d-flex">
                                <input id="EditRelationModalRiskScalePercent" type="text" max="100" min="0" class="d-inline form-control"
                                       style="width: 90px" th:value="${(properties != null && properties['riskScale'] != null) ? (properties['riskScale'] + '%') : '100%'}" readonly>
                                <input type="range" name="properties[riskScale]" max="100" min="0" step="5"
                                       class="ms-3 mt-2 d-inline form-control form-range" id="EditRelationModalRiskScale"
                                       th:value="${(properties != null && properties['riskScale'] != null) ? properties['riskScale'] : '100'}"
                                       oninput="registerGeneralService.editRiskScaleUpdated(this.value)" onchange="registerGeneralService.editRiskScaleUpdated(this.value)">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuller</button>
                    <button type="submit" form="editRelationForm" class="btn btn-secondary">Gem</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
