<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/header :: head}"></head>

<body class="jumping">
<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div style="justify-content: center;">
                        <h2 style="text-align: center;">
                            Du har ikke rettigheder til at tilgå denne side. <br>
                            Kontakt din it-afdeling, hvis du mener dette er en fejl
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='hjem')}"></nav>
</div>
<div th:replace="~{fragments/footer :: scripts}"></div>

<script th:inline="javascript">

</script>

</body>

</html>
