<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true, burgermenu = true)}"></head>
<body class="jumping">
<script th:src="@{/js/precautions/precaution.js}" defer></script>
<script th:src="@{/js/export-service.js}" defer></script>

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Foranstaltninger</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Foranstaltninger</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex gap-2">
                        <div th:replace="~{fragments/component/pageTopButton :: infoButton(id='saveAsExcelButton', text='Gem som Excel', iconClass='ti-bookmark')}"></div>
                        <div th:replace="~{fragments/component/pageTopButton :: openModalInfoButton(id='createPrecautionButton', text='Ny foranstaltning', iconClass='ti-plus', target='#createPrecautionDialog')}"></div>
                        <div th:replace="~{fragments/component/createTaskButton :: createTaskButton}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div id="precautionsDatatable"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <div class="modal fade" tabindex="-1" id="createPrecautionDialog" aria-hidden="true"></div>
    <div class="modal fade" tabindex="-1" id="editPrecautionDialog" aria-hidden="true"></div>
    <div class="modal fade" tabindex="-1" id="copyPrecautionDialog" aria-hidden="true"></div>

    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='precautions')}"></nav>
</div>

<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        const data = [[${precautions}]];
        const assetRelations = [[${relatedAssets}]];
        const viewUrl = [[@{/precautions/}]];
        const formUrl = [[@{/precautions/form}]];
        const copyFormUrl = [[@{/precautions/copy}]];
        const restUrl = [[@{/rest/precautions}]];
    +]*/

    /*]]>*/
</script>

</body>

</html>
