<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true, burgermenu = true)}"></head>
<body class="jumping">
<script th:src="@{/js/incidents/incident-question-service.js}" defer></script>
<script th:src="@{/js/export-service.js}" defer></script>

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Hændelses opsætning</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Hændelses opsætning</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button type="button" sec:authorize="hasAnyRole('ROLE_administrator','ROLE_forandre')" onclick="exportGridToExcel('incidentFieldsTable', 'Hændelse_Opsætning')" class="btn btn-info btn-lg hstack gap-2" style="margin-bottom: 8px; margin-right: 14px; height: 45px">
                            <i class="ti-plus fs-4"></i> <span class="vr"></span>Gem som Excel
                        </button>
                        <button type="button" class="btn btn-info btn-lg hstack gap-2" style="margin-bottom: 8px; margin-right: 14px; height: 45px" data-bs-toggle="modal" data-bs-target="#createQuestionDialog">
                            <i class="ti-plus"></i> <span class="vr"></span> Nyt spørgsmål
                        </button>
                        <button type="button" onclick="createTaskService.show()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny opgave
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div id="incidentFieldsTable"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <div class="modal fade" tabindex="-1" id="createQuestionDialog" aria-hidden="true"></div>
    <div class="modal fade" tabindex="-1" id="editQuestionDialog" aria-hidden="true"></div>

    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='incidentquestions')}"></nav>
</div>

<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
    var formUrl = [[@{/incidents/questionForm}]];
    var restUrl = [[@{/rest/incidents/questions}]];
    +]*/
    let incidentGrid;
    let token = document.getElementsByName("_csrf")[0].getAttribute("content");

    document.addEventListener("DOMContentLoaded", function(event) {
        incidentQuestionService.createQuestion("createQuestionDialog");

        const defaultClassName = {
            table: 'table table-striped',
            search: "form-control",
            header: "d-flex justify-content-end"
        };

        incidentGrid = new gridjs.Grid({
            className: defaultClassName,
            sort: false,
            columns: [
                {
                    id: "id",
                    hidden: true
                },
                {
                    id: "index",
                    name: "Oversigts navn"
                },
                {
                    id: "question",
                    name: "Spørgsmål"
                },
                {
                    id: "type",
                    name: "Svartype"
                },
                {
                    id: "actions",
                    name: "Handlinger",
                    sort: 0,
                    width: '130px',
                    formatter: (cell, row) => {
                        const id = row.cells[0]['data'];
                        const question = row.cells[2]['data'];
                        let lastRow = incidentQuestionService.gridFindPreviousRow(incidentGrid, id);
                        let nextRow = incidentQuestionService.gridFindNextRow(incidentGrid, id);
                        const upStyle = (lastRow === null) ? 'visibility: hidden' : '';
                        const downStyle = (nextRow === null) ? 'visibility: hidden' : '';
                        const upButton = `<button style="${upStyle}" type="button" class="btn btn-icon btn-outline-light btn-xs me-1" onclick="incidentQuestionService.sortQuestionUp(incidentGrid, '${id}')"><i class="pli-up fs-5"></i></button>`;
                        const downButton = `<button style="${downStyle}" type="button" class="btn btn-icon btn-outline-light btn-xs me-1" onclick="incidentQuestionService.sortQuestionDown(incidentGrid, '${id}')"><i class="pli-down fs-5"></i></button>`;

                        return gridjs.html(upButton
                            + downButton
                            + `<button type="button" class="btn btn-icon btn-outline-light btn-xs me-1" onclick="incidentQuestionService.editQuestion('editQuestionDialog', '${id}')"><i class="pli-pencil fs-5"></i></button>`
                            + `<button type="button" class="btn btn-icon btn-outline-light btn-xs me-1" onclick="incidentQuestionService.deleteQuestion(incidentGrid, '${id}', '${question}')"><i class="pli-trash fs-5"></i></button>`);
                    }
                }
            ],
            server:{
                url: restUrl,
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                then: data => {
                    incidentGrid.data = data;
                    return data.map(field => [ field.id, field.indexColumnName, field.question, field.incidentType ]);
                },
                total: data => data.totalCount
            }
        });
        incidentGrid.render(document.getElementById("incidentFieldsTable"));

    });


    /*]]>*/
</script>

</body>

</html>
