<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/header :: head (gridjs = true)}"></head>

<body class="jumping">
<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item active"><a href="./dashboard">Hjem</a></li>
                            </ol>
                        </nav>

                        <h1 class="page-title mb-0 mt-2" th:text="'Hej ' + ${user?.name}"></h1>
                        <p class="lead">Velkommen til OS2Compliance</p>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${T(dk.digitalidentity.security.SecurityUtil).isUser}" class="content__boxed">
            <div class="content__wrap">

                <div class="tab-base">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-tabsTask"
                                    type="button" role="tab" aria-controls="task" aria-selected="true">Mine
                                Opgaver
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsAssets"
                                    type="button" role="tab" aria-controls="assets" aria-selected="false">Mine
                                Aktiver
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsRegisters"
                                    type="button" role="tab" aria-controls="registers" aria-selected="false">Mine
                                Fortegnelser
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsDocuments"
                                    type="button" role="tab" aria-controls="documents" aria-selected="false">Mine
                                Dokumenter
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="_dm-tabsTask" class="tab-pane fade active show" role="tabpanel"
                             aria-labelledby="task-tab">
                            <div id="tasksDatatable"></div>

                            <!-- Custom search selector-->
                            <select class="form-control form-select editField" data-trigger="" name="assignmentTypeSelector" id="assignmentTypeSelector" tabindex="-1" required >
                                <option th:text="'Alle'" th:value="null"></option>
                                <option th:each="assignmentType : ${T(dk.digitalidentity.model.entity.enums.TaskType).values()}"
                                        th:value="${assignmentType}" th:text="${assignmentType.message}"></option>
                            </select>

                            <!-- Custom search selectors-->
                            <select class="form-control form-select editField" data-trigger="" name="taskRepetitionSelector" id="taskRepetitionSelector" tabindex="-1" required >
                                <option th:text="'Alle'" th:value="null"></option>
                                <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.TaskRepetition).values()}"
                                        th:value="${option}" th:text="${option.message}"></option>
                            </select>

                            <!-- Custom search selectors-->
                            <select class="form-control form-select editField" data-trigger="" name="taskStatusSelector" id="taskStatusSelector" tabindex="-1" required >
                                <option th:text="'Alle'" th:value="null"></option>
                                <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.TaskStatus).values()}"
                                        th:value="${option}" th:text="${option.message}"></option>
                            </select>
                        </div>
                        <div id="_dm-tabsAssets" class="tab-pane fade" role="tabpanel" aria-labelledby="assets-tab">
                            <div id="assetsDatatable"></div>
                            <!-- Custom search selectors-->
                            <select class="form-control form-select editField" data-trigger="" name="assetStatusSearchSelector" id="assetStatusSearchSelector" tabindex="-1" required >
                                <option th:text="'Alle'" th:value="null"></option>
                                <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.AssetStatus).values()}"
                                        th:value="${option}" th:text="${option.message}"></option>
                            </select>
                        </div>
                        <div id="_dm-tabsRegisters" class="tab-pane fade" role="tabpanel"
                             aria-labelledby="registers-tab">
                            <div id="registersDatatable"></div>
                            <!-- Custom search selectors-->
                            <select class="form-control form-select editField" data-trigger="" name="registerRiskAssessmentSearchSelector" id="registerRiskAssessmentSearchSelector" tabindex="-1" required >
                                <option th:text="'Alle'" th:value="null"></option>
                                <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.AssetStatus).values()}"
                                        th:value="${option}" th:text="${option.message}"></option>
                            </select>

                            <!-- Custom search selectors-->
                            <select class="form-control form-select editField" data-trigger="" name="registerStatusSearchSelector" id="registerStatusSearchSelector" tabindex="-1" required >
                                <option th:text="'Alle'" th:value="null"></option>
                                <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.AssetStatus).values()}"
                                        th:value="${option}" th:text="${option.message}"></option>
                            </select>
                        </div>
                        <div id="_dm-tabsDocuments" class="tab-pane fade" role="tabpanel"
                             aria-labelledby="documents-tab">
                            <div id="documentsDatatable"></div>
                            <!-- Custom search selectors-->
                            <select class="form-control form-select editField" data-trigger="" name="documentStatusSearchSelector" id="documentStatusSearchSelector" tabindex="-1" required >
                                <option th:text="'Alle'" th:value="null"></option>
                                <option th:each="option : ${T(dk.digitalidentity.model.entity.enums.DocumentStatus).values()}"
                                        th:value="${option}" th:text="${option.message}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--            SAML login-->
            <form th:if="${#arrays.contains(@environment.getActiveProfiles(),'samllogin')}" role="form"
                  th:action="@{logout}" method="POST">
                <div sec:authorize="isAuthenticated()" class="d-grid mt-5">
                    <input class="btn btn-primary btn-lg" type="submit" value="Log out"/>
                </div>
            </form>
            <div th:if="${#arrays.contains(@environment.getActiveProfiles(),'samllogin')}" sec:authorize="isAnonymous()"
                 class="d-grid mt-5">
                <a th:href="@{/dashboard}" class="btn btn-primary btn-lg" type="submit">Log in</a>
            </div>

            <!--            Local login-->
            <form th:if="${#arrays.contains(@environment.getActiveProfiles(),'locallogin')}" role="form"
                  th:action="@{/logout}" method="POST">
                <div sec:authorize="isAuthenticated()" class="d-grid mt-5">
                    <input class="btn btn-primary btn-lg" type="submit" value="Log out"/>
                </div>
            </form>
            <div th:if="${#arrays.contains(@environment.getActiveProfiles(),'locallogin')}"
                 sec:authorize="isAnonymous()" class="d-grid mt-5">
                <a th:href="@{/login}" class="btn btn-primary btn-lg" type="submit">Log in</a>
            </div>
        </div>


    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='hjem')}"></nav>
</div>
<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    /*[+
        var userId = [[${T(dk.digitalidentity.security.SecurityUtil).getLoggedInUserUuid}]];
        var gridTasksUrl = [[@{/rest/tasks/list}]];
        var gridAssetsUrl = [[@{/rest/assets/list}]];
        var gridRegistersUrl = [[@{/rest/registers/list}]];
        var gridDocumentsUrl = [[@{/rest/documents/list}]];
        var tasksViewUrl = [[@{/tasks/}]];
        var registersViewUrl = [[@{/registers/}]];
        var assetsViewUrl = [[@{/assets/}]];
        var documentsViewUrl = [[@{/documents/}]];
    +]*/
    let token = document.getElementsByName("_csrf")[0].getAttribute("content");

    /*]]>*/
</script>
<script th:src="@{/js/dashboard.js}" defer></script>

</body>

</html>
