<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/header :: head (gridjs = true)}"></head>

<body class="jumping">
	<div id="root" class="root mn--max hd--expanded">
		<section id="content" class="content">
			<div class="content__header content__boxed overlapping">
				<div class="content__wrap">
					<div class="d-md-flex">
						<div class="me-auto">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item active"><a href="./dashboard">Hjem</a></li>
								</ol>
							</nav>

							<h1 class="page-title mb-0 mt-2" th:text="'Hej ' + ${user?.name}"></h1>
							<p class="lead">Velkommen til OS2Compliance</p>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${T(dk.digitalidentity.security.SecurityUtil).isUser}" class="content__boxed">
				<div class="content__wrap">

					<div class="tab-base">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-tabsTask"
									type="button" role="tab" aria-controls="task" aria-selected="true">Mine
									Opgaver</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsAssets"
									type="button" role="tab" aria-controls="assets" aria-selected="false">Mine
									Aktiver</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsRegisters"
									type="button" role="tab" aria-controls="registers" aria-selected="false">Mine
									Fortegnelser</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-tabsDocuments"
									type="button" role="tab" aria-controls="documents" aria-selected="false">Mine
									Dokumenter</button>
							</li>
						</ul>
						<div class="tab-content">
							<div id="_dm-tabsTask" class="tab-pane fade active show" role="tabpanel"
								aria-labelledby="task-tab">
								<div id="tasksDatatable"></div>
							</div>
							<div id="_dm-tabsAssets" class="tab-pane fade" role="tabpanel" aria-labelledby="assets-tab">
								<div id="assetsDatatable"></div>
							</div>
							<div id="_dm-tabsRegisters" class="tab-pane fade" role="tabpanel"
								aria-labelledby="registers-tab">
								<div id="registersDatatable"></div>
							</div>
							<div id="_dm-tabsDocuments" class="tab-pane fade" role="tabpanel"
								aria-labelledby="documents-tab">
								<div id="documentsDatatable"></div>
							</div>
						</div>
					</div>
				</div>
				<div sec:authorize="isAuthenticated()" class="d-grid mt-5">
					<a th:href="@{/saml/logout}" class="btn btn-primary btn-lg" type="submit">Log out</a>
				</div>
				<div sec:authorize="isAnonymous()" class="d-grid mt-5">
					<a th:href="@{/saml/login}" class="btn btn-primary btn-lg" type="submit">Log in</a>
				</div>
			</div>


		</section>
		<header th:replace="~{fragments/header :: header}"></header>
		<nav th:replace="~{fragments/navbar :: main (page='hjem')}"></nav>
	</div>
	<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true)}"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		/*[+
			var userId = [[${T(dk.digitalidentity.security.SecurityUtil).getLoggedInUserUuid}]];
			var gridTasksUrl = [[@{/rest/tasks/list}]];
			var gridAssetsUrl = [[@{/rest/assets/list}]];
			var gridRegistersUrl = [[@{/rest/registers/list}]];
			var gridDocumentsUrl = [[@{/rest/documents/list}]];
			var tasksViewUrl = [[@{/tasks/}]];
			var registersViewUrl = [[@{/registers/}]];
			var assetsViewUrl = [[@{/assets/}]];
			var documentsViewUrl = [[@{/documents/}]];
		+]*/
		let token = document.getElementsByName("_csrf")[0].getAttribute("content");

		const defaultClassName = {
			table: 'table table-striped',
			search: "form-control",
			header: "d-flex justify-content-end"
		};

        // load saved state task
        const gridKey = window.location.pathname;
        const gridKeySearch = gridKey + '-task-search'
        const savedSearchTask = localStorage.getItem(gridKeySearch);

        let initialTaskLoadDone = false;  // flag to ensure initial load only happens once

		const updateUrl = (prev, query) => {
			return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
		};

		document.addEventListener("DOMContentLoaded", function (event) {
			const today = new Date();
			const gridTasks = new gridjs.Grid({
				className: defaultClassName,
				search: {
					server: {
						url: (prev, keyword) =>  updateUrl(prev, `search=${keyword}`)
					},
                    debounceTimeout: 1000
				},
				pagination: {
					limit: 50,
					server: {
						url: (prev, page, size) => updateUrl(prev, `size=${size}&page=${page}`)
					}
				},
				sort: {
					enabled: true,
					multiColumn: false,
					server: {
						url: (prev, columns) => {
							if (!columns.length) return prev;
							const columnIds = ['id', 'name', 'taskType', 'responsibleUser.name', 'responsibleOU.name', 'nextDeadline', 'taskRepetition', 'completed', 'tags'];
							const col = columns[0]; // multiColumn false
							const order = columnIds[col.index];
							return updateUrl(prev, 'dir=' + (col.direction === 1 ? 'asc' : 'desc') + (order ? '&order=' + order : ''));
						}
					}
				},
				columns: [
					{
						name: "id",
						hidden: true
					},
					{
						name: "Opgavenavn",
						formatter: (cell, row) => {
							const url = tasksViewUrl + row.cells[0]['data'];
							return gridjs.html(`<a href="${url}">${cell}</a>`);
						}
					},
					{
						name: "Opgave type"
					},
					{
						name: "Ansvarlig",
						hidden: true
					},
					{
						name: "Afdeling"
					},
					{
						name: "Deadline",
						formatter: (cell, row) => {
							var completed = row.cells[7]['data'];
							var type = row.cells[2]['data'];
							if (completed && type == "Opgave") {
								return gridjs.html(`<span>${cell}</span>`);
							}

							var dateString = cell.replace(" ", "/");
							dateString = dateString.replace("-", "/");
							var dateSplit = dateString.split("/");
							var cellDate = new Date(dateSplit[2] + "-" + dateSplit[1] + "-" + dateSplit[0] + "T23:59:59");
							if (cellDate < today) {
								return gridjs.html(`<span style="color: red;">${cell}</span>`);
							} else {
								return gridjs.html(`<span>${cell}</span>`);
							}
						}
					},
					{
						name: "Gentages"
					},
					{
						name: "Status",
						formatter: (cell, row) => {
							var status = "";
							var type = row.cells[2]['data'];

							// if completed and task type opgave
							if (cell && type == "Opgave") {
								status = [
									'<div class="d-block badge bg-success">Udført</div>'
								]
							} else {
								var deadline = row.cells[5]['data'];
								var dateString = deadline.replace(" ", "/");
								dateString = dateString.replace("-", "/");
								var dateSplit = dateString.split("/");
								var deadlineAsDate = new Date(dateSplit[2] + "-" + dateSplit[1] + "-" + dateSplit[0] + "T23:59:59");

								if (deadlineAsDate < today) {
									status = [
										'<div class="d-block badge bg-danger">Overskredet</div>'
									]
								} else {
									status = [
										'<div class="d-block badge bg-warning">Ikke udført</div>'
									]
								}
							}

							return gridjs.html(''.concat(...status), 'div')
						},
					},
					{
						name: "Tags",
						formatter: (cell, row) => {
							var result = '<ul>';
							if (cell != null && cell.trim() !== '') {
								var tags = cell.split(',');
								for (var i =0; i< tags.length; i++) {
									result += '<li>'+tags[i]+'</li>';
								}
							}

							result += '</ul>';
							return gridjs.html(''.concat(...result), 'div')
						},
					}
				],
				server: {
					url: gridTasksUrl + "/" + userId,
					method: 'POST',
					headers: {
						'X-CSRF-TOKEN': token
					},
					then: data => data.content.map(task =>
						[task.id, task.name, task.taskType, task.responsibleUser, task.responsibleOU, task.nextDeadline, task.taskRepetition, task.completed, task.tags]
					),
					total: data => data.totalCount
				},
				language: {
					'search': {
						'placeholder': 'Søg'
					},
					'pagination': {
						'previous': 'Forrige',
						'next': 'Næste',
						'showing': 'Viser',
						'results': 'Opgaver',
						'of': 'af',
						'to': 'til',
						'navigate': (page, pages) => `Side ${page} af ${pages}`,
						'page': (page) => `Side ${page}`
					}
				}
			}).render(document.getElementById("tasksDatatable"));

			// set state on grid
            gridTasks.on('ready', function() {

                // only apply saved state on the first load
                if (!initialTaskLoadDone) {

                    // wait a little extra for grid search to be initialized or it won't work
                    setTimeout(function(){
                        const searchInput = document.querySelector('#tasksDatatable .gridjs-search-input');
                            if (searchInput) {
                                searchInput.addEventListener('input', function() {
                                    if (this.value === '') {
                                        localStorage.removeItem(gridKeySearch);
                                    } else {
                                        localStorage.setItem(gridKeySearch, this.value);
                                    }
                                });
                            }
                    }, 500);

                    // set search state first
                    if (savedSearchTask) {
                        gridTasks.updateConfig({
                            search: {
                                keyword: savedSearchTask,
                                server: gridTasks.config.search.server
                            }
                        }).forceRender();
                    }

                    initialTaskLoadDone = true;  // ensure this only runs once
                }
            });

            // load saved state assets
            const assetGridKey = window.location.pathname;
            const assetGridKeySearch = assetGridKey + '-asset-search'
            const savedSearchAsset = localStorage.getItem(assetGridKeySearch);
            let initialAssetLoadDone = false;  // flag to ensure initial load only happens once

		    const gridAssets = new gridjs.Grid({
				className: defaultClassName,
				search: {
					server: {
						url: (prev, keyword) => updateUrl(prev, `search=${keyword}`)
					},
                    debounceTimeout: 1000
				},
				pagination: {
					limit: 50,
					server: {
						url: (prev, page, size) => updateUrl(prev, `size=${size}&page=${page}`)
					}
				},
				sort: {
					enabled: true,
					multiColumn: false,
					server: {
						url: (prev, columns) => {
							if (!columns.length) return prev;
							const columnIds = ['id', 'name', 'supplier', 'assetType', 'responsibleUser', 'updatedAt', 'assessmentOrder', 'assetStatusOrder'];
							const col = columns[0]; // multiColumn false
							const order = columnIds[col.index];
							return updateUrl(prev, 'dir=' + (col.direction === 1 ? 'asc' : 'desc') + (order ? '&order=' + order : ''));
						}
					}
				},
				columns: [
					{
						name: "id",
						hidden: true
					},
					{
						name: "Navn",
						formatter: (cell, row) => {
							const url = assetsViewUrl + row.cells[0]['data'];
							return gridjs.html(`<a href="${url}">${cell}</a>`);
						}
					},
					{
						name: "Leverandør"
					},
					{
						name: "Type"
					},
					{
						name: "Systemejer",
						hidden: true
					},
					{
						name: "Opdateret"
					},
					{
						name: "Risikovurdering"
					},
					{
						name: "Status",
						formatter: (cell, row) => {
							var status = cell;
							if (cell === "Ikke startet") {
								status = [
									'<div class="d-block badge bg-warning">' + cell + '</div>'
								]
							} else if (cell === "I gang") {
								status = [
									'<div class="d-block badge bg-info">' + cell + '</div>'
								]
							} else if (cell === "Klar") {
								status = [
									'<div class="d-block badge bg-success">' + cell + '</div>'
								]
							}
							return gridjs.html(''.concat(...status), 'div')
						},
					}
				],
				server: {
					url: gridAssetsUrl + "/" + userId,
					method: 'POST',
					headers: {
						'X-CSRF-TOKEN': token
					},
					then: data => data.content.map(asset =>
						[asset.id, asset.name, asset.supplier, asset.assetType, asset.responsibleUser, asset.updatedAt, asset.criticality, asset.assetStatus]
					),
					total: data => data.totalCount
				},
				language: {
					'search': {
						'placeholder': 'Søg'
					},
					'pagination': {
						'previous': 'Forrige',
						'next': 'Næste',
						'showing': 'Viser',
						'results': 'Opgaver',
						'of': 'af',
						'to': 'til',
						'navigate': (page, pages) => `Side ${page} af ${pages}`,
						'page': (page) => `Side ${page}`
					}
				}
			}).render(document.getElementById("assetsDatatable"));

			// set state on grid
            gridAssets.on('ready', function() {

                // only apply saved state on the first load
                if (!initialAssetLoadDone) {

                    // wait a little extra for grid search to be initialized or it won't work
                    setTimeout(function(){
                        const searchInput = document.querySelector('#assetsDatatable .gridjs-search-input');
                            if (searchInput) {
                                searchInput.addEventListener('input', function() {
                                    if (this.value === '') {
                                        localStorage.removeItem(assetGridKeySearch);
                                    } else {
                                        localStorage.setItem(assetGridKeySearch, this.value);
                                    }
                                });
                            }
                    }, 500);

                    // set search state first
                    if (savedSearchAsset) {
                        gridAssets.updateConfig({
                            search: {
                                keyword: savedSearchAsset,
                                server: gridAssets.config.search.server
                            }
                        }).forceRender();
                    }

                    initialAssetLoadDone = true;  // ensure this only runs once
                }
            });

            // load saved state registers
            const registerGridKey = window.location.pathname;
            const registerGridKeySearch = registerGridKey + '-register-search'
            const savedSearchRegister = localStorage.getItem(registerGridKeySearch);
            let initialRegisterLoadDone = false;  // flag to ensure initial load only happens once

			const gridRegisters = new gridjs.Grid({
				className: defaultClassName,
				search: {
					server: {
						url: (prev, keyword) => updateUrl(prev, `search=${keyword}`)
					},
                    debounceTimeout: 1000
				},
				pagination: {
					limit: 50,
					server: {
						url: (prev, page, size) => updateUrl(prev, `size=${size}&page=${page}`)
					}
				},
				sort: {
					enabled: true,
					multiColumn: false,
					server: {
						url: (prev, columns) => {
							if (!columns.length) return prev;
							const columnIds = ['id', 'name', 'responsibleUser', 'responsibleOUNames', 'updatedAt', 'consequenceOrder', 'statusOrder'];
							const col = columns[0]; // multiColumn false
							const order = columnIds[col.index];
							return updateUrl(prev, 'dir=' + (col.direction === 1 ? 'asc' : 'desc') + (order ? '&order=' + order : ''));
						}
					}
				},
				columns: [
					{
						name: "id",
						hidden: true
					},
					{
						name: "Titel",
						formatter: (cell, row) => {
							const url = registersViewUrl + row.cells[0]['data'];
							return gridjs.html(`<a href="${url}">${cell}</a>`);
						},
						width: '40%'
					},
					{
						name: "Ansvarlig afdeling",
					},
					{
						name: "Kontakt person",
						hidden: true
					},
					{
						name: "Senest redigeret",
					},
					{
						name: "Konsekvens vurdering",
						width: "100px",
						formatter: (cell, row) => {
							var assessment = cell;
							if (cell === "Grøn") {
								assessment = [
									'<div class="d-block badge bg-green" style="width: 60px">' + cell + '</div>'
								]
							} else if (cell === "Gul") {
								assessment = [
									'<div class="d-block badge bg-yellow-500" style="width: 60px">' + cell + '</div>'
								]
							} else if (cell === "Rød") {
								assessment = [
									'<div class="d-block badge bg-red" style="width: 60px">' + cell + '</div>'
								]
							}
							return gridjs.html(''.concat(...assessment), 'div')
						}
					},
					{
						name: "Status",
						width: "80px",
						formatter: (cell, row) => {
							var status = cell;
							if (cell === "Klar") {
								status = [
									'<div class="d-block badge bg-success" style="width: 60px">' + cell + '</div>'
								]
							} else if (cell === "I gang") {
								status = [
									'<div class="d-block badge bg-info" style="width: 60px">' + cell + '</div>'
								]
							} else if (cell === "Ikke started") {
								status = [
									'<div class="d-block badge bg-danger" style="width: 60px">' + cell + '</div>'
								]
							}
							return gridjs.html(''.concat(...status), 'div')
						},
					}
				],
				server: {
					url: gridRegistersUrl + "/" + userId,
					method: 'POST',
					headers: {
						'X-CSRF-TOKEN': token
					},
					then: data => data.content.map(register =>
						[register.id, register.name, register.responsibleOU, register.responsibleUser, register.updatedAt, register.consequence, register.status]
					),
					total: data => data.count
				},
				language: {
					'search': {
						'placeholder': 'Søg'
					},
					'pagination': {
						'previous': 'Forrige',
						'next': 'Næste',
						'showing': 'Viser',
						'results': 'Fortegnelser',
						'of': 'af',
						'to': 'til',
						'navigate': (page, pages) => `Side ${page} af ${pages}`,
						'page': (page) => `Side ${page}`
					}
				}
			}).render(document.getElementById("registersDatatable"));

			// set state on grid
            gridRegisters.on('ready', function() {

                // only apply saved state on the first load
                if (!initialRegisterLoadDone) {

                    // wait a little extra for grid search to be initialized or it won't work
                    setTimeout(function(){
                        const searchInput = document.querySelector('#registersDatatable .gridjs-search-input');
                            if (searchInput) {
                                searchInput.addEventListener('input', function() {
                                    if (this.value === '') {
                                        localStorage.removeItem(registerGridKeySearch);
                                    } else {
                                        localStorage.setItem(registerGridKeySearch, this.value);
                                    }
                                });
                            }
                    }, 500);

                    // set search state first
                    if (savedSearchRegister) {
                        gridRegisters.updateConfig({
                            search: {
                                keyword: savedSearchRegister,
                                server: gridRegisters.config.search.server
                            }
                        }).forceRender();
                    }

                    initialRegisterLoadDone = true;  // ensure this only runs once
                }
            });


            // load saved state documents
            const documentGridKey = window.location.pathname;
            const documentGridKeySearch = documentGridKey + '-document-search'
            const savedSearchDocument = localStorage.getItem(documentGridKeySearch);
            let initialDocumentLoadDone = false;  // flag to ensure initial load only happens once
			const gridDocuments = new gridjs.Grid({
				className: defaultClassName,
				search: {
					server: {
						url: (prev, keyword) => updateUrl(prev, `search=${keyword}`)
					},
                    debounceTimeout: 1000
				},
				pagination: {
					limit: 50,
					server: {
						url: (prev, page, size) => updateUrl(prev, `size=${size}&page=${page}`)
					}
				},
				sort: {
					enabled: true,
					multiColumn: false,
					server: {
						url: (prev, columns) => {
							if (!columns.length) return prev;
							const columnIds = ['id', 'name', 'documentType', '', 'nextRevision', 'statusOrder', 'tags'];
							const col = columns[0]; // multiColumn false
							const order = columnIds[col.index];
							return updateUrl(prev, 'dir=' + (col.direction === 1 ? 'asc' : 'desc') + (order ? '&order=' + order : ''));
						}
					}
				},
				columns: [
					{
						name: "id",
						hidden: true
					},
					{
						name: "Titel",
						formatter: (cell, row) => {
							const url = documentsViewUrl + row.cells[0]['data'];
							return gridjs.html(`<a href="${url}">${cell}</a>`);
						}
					},
					{
						name: "Dokumentype"
					},
					{
						name: "Ansvarlig",
						hidden: true
					},
					{
						name: "Næste revidering"
					},
					{
						name: "Status",
						formatter: (cell, row) => {
							var status = cell;
							if (cell === "Ikke startet") {
								status = [
									'<div class="d-block badge bg-warning">' + cell + '</div>'
								]
							} else if (cell === "I gang") {
								status = [
									'<div class="d-block badge bg-info">' + cell + '</div>'
								]
							} else if (cell === "Klar") {
								status = [
									'<div class="d-block badge bg-success">' + cell + '</div>'
								]
							}

							return gridjs.html(''.concat(...status), 'div')
						},
					},
					{
						name: "Tags",
						formatter: (cell, row) => {
							var result = '<ul>';
							if (cell != null && cell.trim() !== '') {
								var tags = cell.split(',');
								for (var i =0; i< tags.length; i++) {
									result += '<li>'+tags[i]+'</li>';
								}
							}

							result += '</ul>';
							return gridjs.html(''.concat(...result), 'div')
						},
					}
				],
				server: {
					url: gridDocumentsUrl + "/" + userId,
					method: 'POST',
					headers: {
						'X-CSRF-TOKEN': token
					},
					then: data => data.content.map(document =>
						[document.id, document.name, document.documentType, document.responsibleUserId, document.nextRevision, document.status, document.tags]
					),
					total: data => data.totalCount
				},
				language: {
					'search': {
						'placeholder': 'Søg'
					},
					'pagination': {
						'previous': 'Forrige',
						'next': 'Næste',
						'showing': 'Viser',
						'results': 'Opgaver',
						'of': 'af',
						'to': 'til',
						'navigate': (page, pages) => `Side ${page} af ${pages}`,
						'page': (page) => `Side ${page}`
					}
				}
			}).render(document.getElementById("documentsDatatable"));

			// set state on grid
            gridDocuments.on('ready', function() {

                // only apply saved state on the first load
                if (!initialDocumentLoadDone) {

                    // wait a little extra for grid search to be initialized or it won't work
                    setTimeout(function(){
                        const searchInput = document.querySelector('#documentsDatatable .gridjs-search-input');
                            if (searchInput) {
                                searchInput.addEventListener('input', function() {
                                    if (this.value === '') {
                                        localStorage.removeItem(documentGridKeySearch);
                                    } else {
                                        localStorage.setItem(documentGridKeySearch, this.value);
                                    }
                                });
                            }
                    }, 500);

                    // set search state first
                    if (savedSearchDocument) {
                        gridDocuments.updateConfig({
                            search: {
                                keyword: savedSearchDocument,
                                server: gridDocuments.config.search.server
                            }
                        }).forceRender();
                    }

                    initialDocumentLoadDone = true;  // ensure this only runs once
                }
            });
		});
		/*]]>*/
	</script>




</body>

</html>
