<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<link rel="stylesheet" th:href="@{/css/landing.css}"/>
<div class="od-md-flex flex-column">
    <div class="container">
        <img class="logo" src="/img/GRComplianceLogin.svg" alt="GRCompliance Logo">
    </div>
    <br><br>
    <div class="container">
        <a th:if="${#arrays.contains(@environment.getActiveProfiles(),'samllogin')}" th:href="@{/dashboard}"
           class="login-button" type="Button">Log in</a>
    </div>

    <div th:if="${#arrays.contains(@environment.getActiveProfiles(),'locallogin')}" class="content__wrap">
        <div class="d-md-flex justify-content-center">
            <div class="ibox">
                <div class="ibox-content">
                    <p>
                        <a href="/">Din anmodning er sent du kan nu vende tilbage til forsiden.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
