<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<link rel="stylesheet" th:href="@{/css/landing.css}" />
<div class="container">
    <img class="logo" src="/img/OS2compliance_logo.svg" alt="Your Logo">
    <br><br>
<!--    <a th:href="@{/saml/login}" class="login-button" type="Button">Log in</a>-->
    <a th:href="@{/login}" class="login-button" type="Button">Log in</a>
</div>
</body>
</html>
