<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<link rel="stylesheet" th:href="@{/css/landing.css}"/>
<div class="od-md-flex flex-column">
    <div class="container">
        <img class="logo" src="/img/GRComplianceLogin.svg" alt="GRCompliance Logo">
    </div>
    <br><br>
    <div class="container">
        <a th:if="${#arrays.contains(@environment.getActiveProfiles(),'samllogin')}" th:href="@{/dashboard}"
           class="login-button" type="Button">Log in</a>
    </div>

    <div th:if="${#arrays.contains(@environment.getActiveProfiles(),'locallogin')}" class="content__wrap">
        <div class="d-md-flex justify-content-center">
            <div class="ibox">
                <div class="ibox-content">
                    <form th:action="@{/reset/__${user.getPasswordResetToken()}__}" method="post" class="form-horizontal" style="width: 300px">
                        <div class="form-group">
                            <div class="col-lg-12 mb-3">
                                <label for="password1" class="control-label text-white"
                                       style="padding-left:0">Angiv et password</label>
                                <input id="password1" type="password" name="password1" placeholder="Password" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 mb-3">
                                <label for="password2" class="col-sm-2 control-label text-white"
                                       style="padding-left:0">Gentag</label>
                                <input id="password2" type="password" name="password2" placeholder="Password" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 d-grid gap-2">
                                <button type="submit" class="btn btn-block btn-primary" style="font-size: 15px;">Login</button>
                            </div>
                        </div>
                    </form>

                    <h3 th:if="${mismatch}" class="mt-3 text-danger" style="font-size: 16px">
                        De angivne passwords matched ikke
                    </h3>
                    <h3 th:if="${policy}" class="mt-3 text-danger" style="font-size: 16px">
                        Det angivne password overholdt ikke<br>password politikken.<br>
                    </h3>
                    <h3 class="mt-3 text-warning" style="font-size: 16px">
                        Password politik:</br>
                        - Minimum 15 karakterer<br>
                        - Skal indeholde store og små bogstavar<br>
                        - Skal indeholde tal<br>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
