<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistictest</title>
</head>
<body>
<div style="width: 40vh;max-height: 30vh;">
    <canvas id="testChart" ></canvas>
</div>
<div style="width: 40vh;max-height: 30vh;">
    <canvas id="testChart2" ></canvas>
</div>
<div style="width: 40vh;max-height: 30vh;">
    <canvas id="testChart3" ></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/js/statistic/main.js"></script>

</body>
</html>