<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true)}"></head>
<body class="jumping">
<script th:src="@{/js/document/document.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/documents.css}" />

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dokumenter</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">Dokumenter</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button type="button" class="btn btn-info btn-lg hstack gap-2" style="margin-bottom: 8px; margin-right: 14px; height: 45px" data-bs-toggle="modal" data-bs-target="#createDocumentDialog">
                            <i class="ti-plus"></i> <span class="vr"></span> Nyt dokument
                        </button>
                        <button type="button" onclick="createTaskService.show()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny opgave
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div id="documentsDatatable"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='dokumenter')}"></nav>
</div>

<div th:replace="~{documents/create :: createDocumentFragment}"></div>
<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true)}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    /*[+
        var gridDocumentsUrl = [[@{/rest/documents/list}]];
        var viewUrl = [[@{/documents/}]];
        var deleteUrl = [[@{/documents/}]];
    +]*/

    let token = document.getElementsByName("_csrf")[0].getAttribute("content");

    const defaultClassName = {
        table: 'table table-striped',
        search: "form-control",
        header: "d-flex justify-content-end"
    };

    const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    document.addEventListener("DOMContentLoaded", function(event) {
        createDocumentFormLoaded();

        const today = new Date();
        const grid = new gridjs.Grid({
            className: defaultClassName,
            search: {
                server: {
                    url: (prev, keyword) => updateUrl(prev, `search=${keyword}`)
                },
                debounceTimeout: 1000
            },
            pagination: {
                limit: 50,
                server: {
                    url: (prev, page, size) => updateUrl(prev, `size=${size}&page=${page}`)
                }
            },
            sort: {
                enabled: true,
                multiColumn: false,
                server: {
                    url: (prev, columns) => {
                        if (!columns.length) return prev;
                        const columnIds = ['id', 'name', 'documentTypeOrder', 'responsibleUser.name', 'nextRevision', 'statusOrder'];
                        const col = columns[0]; // multiColumn false
                        const order = columnIds[col.index];
                        return updateUrl(prev, 'dir=' + (col.direction === 1 ? 'asc' : 'desc') + ( order ? '&order=' + order : ''));
                    }
                }
            },
            columns: [
                {
                    name: "id",
                    hidden: true
                },
                {
                    name: "Titel",
                    formatter: (cell, row) => {
                        const url = viewUrl + row.cells[0]['data'];
                        return gridjs.html(`<a href="${url}">${cell}</a>`);
                    }
                },
                {
                    name: "Dokumentype",
                    width: '120px'
                },
                {
                    name: "Ansvarlig"
                },
                {
                    name: "Næste revidering",
                    width: '100px',
                },
                {
                    name: "Status",
                    width: '100px',
                    formatter: (cell, row) => {
                        var status = cell;
                        if (cell === "Ikke startet") {
                            status = '<div class="d-block badge bg-warning">' + cell + '</div>';
                        } else if (cell === "I gang") {
                            status = '<div class="d-block badge bg-info">' + cell + '</div>';
                        } else if (cell === "Klar") {
                            status = '<div class="d-block badge bg-success">' + cell + '</div>';
                        }

                        return gridjs.html(status, 'div')
                    },
                },
                {
                    id: 'handlinger',
                    name: 'Handlinger',
                    sort: 0,
                    width: '90px',
                    formatter: (cell, row) => {
                        const documentId = row.cells[0]['data'];
                        const name = row.cells[1]['data'].replaceAll("'", "\\'");
                        return gridjs.html(
                                `<button type="button" class="btn btn-icon btn-outline-light btn-xs" onclick="deleteClicked('${documentId}', '${name}')"><i class="pli-trash fs-5"></i></button>`);
                    }
                }
            ],
            server:{
                url: gridDocumentsUrl,
                method: 'POST',
                headers: {
                    'X-CSRF-TOKEN': token
                },
                then: data => data.content.map(document =>
                    [ document.id, document.name, document.documentType, document.responsibleUser, document.nextRevision, document.status ]
                ),
                total: data => data.totalCount
            },
            language: {
                'search': {
                    'placeholder': 'Søg'
                },
                'pagination': {
                    'previous': 'Forrige',
                    'next': 'Næste',
                    'showing': 'Viser',
                    'results': 'Opgaver',
                    'of': 'af',
                    'to': 'til',
                    'navigate': (page, pages) => `Side ${page} af ${pages}`,
                    'page': (page) => `Side ${page}`
                }
            }
        }).render( document.getElementById( "documentsDatatable" ));
    });

    function deleteClicked(documentId, name) {
        Swal.fire({
          text: `Er du sikker på du vil slette "${name}"?\nReferencer til og fra DOCUMENT slettes også.`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#03a9f4',
          cancelButtonColor: '#df5645',
          confirmButtonText: 'Ja',
          cancelButtonText: 'Nej'
        }).then((result) => {
          if (result.isConfirmed) {
            fetch(`${deleteUrl}${documentId}`, { method: 'DELETE', headers: { 'X-CSRF-TOKEN': token} })
                    .then(() => {
                        window.location.reload();
                    });
          }
        })
    }
    /*]]>*/
</script>

</body>

</html>
