<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head (sweetalerts = true, burgermenu = true)}"></head>
<body class="jumping">
<script th:src="@{/webjars/nifty/3.0.1/vendors/mc-datepicker/mc-calendar.min.js}" defer></script>
<script th:src="@{/js/document/document.js}" defer></script>
<script th:src="@{/js/form-validation.js}" defer></script>
<script th:src="@{/js/tag-service.js}" defer></script>

<link rel="stylesheet" th:href="@{/webjars/nifty/3.0.1/vendors/mc-datepicker/mc-calendar.css}"/>
<link rel="stylesheet" th:href="@{/css/tasks.css}"/>
<link rel="stylesheet" th:href="@{/css/documents.css}"/>

<link rel="stylesheet" th:href="@{/vendor/choices/styles/choices.min.css}"/>
<script th:src="@{/vendor/choices/scripts/choices.min.js}" defer></script>

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/documents}">Dokumenter</a></li>
                                <li class="breadcrumb-item active" aria-current="page" th:text="${document.name}"></li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2" th:text="${document.name}"></h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <div th:replace="~{fragments/component/createTaskButton :: createTaskButton}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <div class="tab-base">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-tabsGenerelt"
                                    type="button" role="tab" aria-controls="generelt" aria-selected="true">Generelt
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="_dm-tabsGenerelt" class="tab-pane fade active show" role="tabpanel"
                             aria-labelledby="opgave-tab">
                            <form id="editForm" action="#" th:action="@{/documents/edit}" th:object="${document}"
                                  method="post" class="needs-validation" novalidate>
                                <div class="row mb-3">
                                    <button id="saveEditBtn" th:if="${changeableDocument}" type="submit" class="btn btn-secondary btn-md col-md-1 btn-right" hidden>Gem</button>
                                    <button id="editBtn" th:if="${changeableDocument}" type="button" class="btn btn-secondary btn-md col-md-2 btn-right"  th:attr="data-responsible-changeable=${responsibleFieldChangeable}" onclick="editMode(true);">Rediger</button>
                                </div>
                                <input th:field="*{id}" hidden>
                                <div class="row mb-3">
                                    <label for="documentName" class="col-sm-2 col-form-label">Titel</label>
                                    <div class="col-sm-10">
                                        <input class="form-control editField" id="documentName" th:value="*{name}"
                                               th:field="*{name}" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="documentType" class="col-sm-2 col-form-label">Dokumenttype</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select editField" th:field="*{documentType}"
                                                id="documentType" required disabled>
                                            <option
                                                th:each="docType : ${T(dk.digitalidentity.model.entity.enums.DocumentType).values()}"
                                                th:value="${docType}" th:text="${docType.message}"></option>
                                        </select>
                                        <div class="invalid-feedback">Der skal vælges en dokument type</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="description" class="col-sm-2 col-form-label">Beskrivelse</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <textarea id="description" class="form-control editField"
                                                      placeholder="Indtast beskrivelse" th:field="*{description}"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="version" class="col-sm-2 col-form-label">Version</label>
                                    <div class="col-sm-10">
                                        <input id="version" th:field="*{documentVersion}" type="text"
                                               class="form-control editField" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select editField" th:field="*{status}"
                                                id="status" required disabled>
                                            <option
                                                th:each="status : ${T(dk.digitalidentity.model.entity.enums.DocumentStatus).values()}"
                                                th:value="${status}" th:text="${status.message}"></option>
                                        </select>
                                        <div class="invalid-feedback">Der skal vælges en status</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="link" class="col-sm-2 col-form-label">Link</label>
                                    <div class="col-sm-10">
                                        <a class="clickableDocLink form-control" th:href="@{*{link}}" target="_blank" rel="noopener noreferrer">
                                            <div th:text="*{link}"></div>
                                        </a>
                                        <input id="link" th:field="*{link}" type="text" style="display:none"
                                               class="form-control editField editableDocLink" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="revisionInterval"
                                           class="col-sm-2 col-form-label">Revideringsfrekvens</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select editField"
                                                th:field="*{revisionInterval}" id="revisionInterval" required disabled>
                                            <option
                                                th:each="revisionInterval : ${T(dk.digitalidentity.model.entity.enums.DocumentRevisionInterval).values()}"
                                                th:value="${revisionInterval}"
                                                th:text="${revisionInterval.message}"></option>
                                        </select>
                                        <div class="invalid-feedback">Der skal vælges en revideringsfrekvens</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="nextRevision" class="col-sm-2 col-form-label">Revideringsdato</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input id="nextRevision" type="text" class="form-control editField"
                                                   th:field="*{nextRevision}">
                                            <button id="nextRevisionBtn" class="btn btn-primary editField" type="button"
                                                    disabled>
                                                <i class="pli-calendar-4 fs-5"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="userSelect" class="col-sm-2 col-form-label">Ansvarlig</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select choices__input editField"
                                                th:field="*{responsibleUser}" data-trigger="" name="ansvarlig"
                                                id="userSelect" tabindex="-1" required hidden>
                                            <option th:if="*{responsibleUser != null}"
                                                    th:value="*{responsibleUser?.uuid}"
                                                    th:text="'(' + *{responsibleUser?.userId} + ') ' + *{responsibleUser?.name}"
                                                    selected></option>
                                        </select>
                                        <div class="invalid-feedback">Der skal vælges en ansvarlig</div>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div
                                    th:replace="~{fragments/relations :: relationsfragment(relations=${relations}, completed=false, relatableId=${document.id}, customDelete=false)}"></div>
                            </div>

                            <div class="row">
                                <div
                                    th:replace="~{fragments/tags :: tagsfragment(tags=${document.tags}, completed=false, relatableId=${document.id})}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <header th:replace="~{fragments/header :: header}"/>
    <nav th:replace="~{fragments/navbar :: main (page='dokumenter')}"/>
</div>

<div th:replace="~{fragments/addRelation :: addRelation(relatableId=${document.id})}"/>
<div th:replace="~{fragments/addTags :: addTags(relatableId=${document.id})}"/>
<div th:replace="~{fragments/footer :: footer (taskDialog = true, sweetalerts = true)}"/>

</body>

</html>
