<!DOCTYPE html>
<html lang="DA" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="dpia(asset)" id="dpiaTab" class="tab-pane fade" role="tabpanel" aria-labelledby="dpia-tab">
    <form id="dpiaForm" action="#" th:action="@{/assets/dpia}"  method="post" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 gx-4">
                <div id="dpiaOptOutView">
                    <label class="mb-3">
                        <input class="form-check-input" onchange="assetDpiaService.setDpiOptOut(this)" type="checkbox" th:checked="${asset.isDpiaOptOut}"> DPIA Fravalgt
                    </label>
                    <div id="dpiaOptOutTextView" style="display: none">
                        <div class="mb-3">
                            <label for="dpiaOptOutText" class="mb-1">Begrundelse for fravalg:</label>
                            <textarea id="dpiaOptOutText" class="form-control" onchange="assetDpiaService.updateDpiaOptOutReason(this)" th:text="${asset.dpiaOptOutReason}"></textarea>
                        </div>
                    </div>
                </div>
                <div id="dpiaView">
                    <input name="assetId" th:value="${asset.id}" hidden>

                    <div class="row mt-2">
                        <div th:replace="~{fragments/tasks :: tasksfragment(tasks=${dpiaRevisionTasks}, relatableId=${asset.id}, customTitle='Udestående Opgaver')}"></div>
                    </div>

                    <div class="row mt-2">
                        <div class="card shadow-none col-md-12">
                            <div class="card-header toolbar">
                                <h5 class="toolbar-start m-0">Signerede rapporter</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-lg-2">Dato</th>
                                            <th class="col-lg-7">Signatar</th>
                                            <th class="col-lg-2">Status</th>
                                            <th class="col-lg-1">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="report : ${dpiaReports}">
                                            <td th:text="${report.date}"></td>
                                            <td th:text="${report.approverName}"></td>
                                            <td th:text="${report.status}"></td>
                                            <td>
                                                <a th:href="'/sign/pdf/' + ${report.s3DocumentId}">
                                                    <button type="button" class="btn btn-icon btn-outline-light btn-xs me-1">
                                                        <i class="pli-download fs-5"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="card shadow-none col-md-12">
                            <div class="card-header toolbar">
                                <h5 class="toolbar-start m-0">Tilknyttede DPIA'er</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="col-lg-5">Titel</th>
                                        <th class="col-lg-2">Risikoejer</th>
                                        <th class="col-lg-2">Fagområde</th>
                                        <th class="col-lg-2">Opdateringsdato</th>
                                        <th class="col-lg-1">Screening</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="dpia : ${relatedDPIAs}">
                                        <td >
                                            <a th:href="'/dpia/'+${dpia.id}" th:text="${dpia.name}"></a>
                                        </td>
                                        <td th:text="${dpia.responsibleUserName}"></td>
                                        <td th:text="${dpia.responsibleOuName}"></td>
                                        <td th:text="${dpia.userUpdatedDate}"></td>
                                        <td th:switch="${dpia.screeningConclusion}">
                                            <span th:case="${T(dk.digitalidentity.model.entity.enums.DPIAScreeningConclusion).RED}" class="badge bg-red">&nbsp</span>
                                            <span th:case="${T(dk.digitalidentity.model.entity.enums.DPIAScreeningConclusion).YELLOW}" class="badge bg-yellow">&nbsp</span>
                                            <span th:case="${T(dk.digitalidentity.model.entity.enums.DPIAScreeningConclusion).GREEN}" class="badge bg-green">&nbsp</span>
                                            <span th:case="${T(dk.digitalidentity.model.entity.enums.DPIAScreeningConclusion).GREY}" class="badge bg-green">&nbsp</span>
                                            <span th:case="*"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>


    <script th:inline="javascript">
        /*<![CDATA[*/


        /*]]>*/
    </script>
</div>
</body>
</html>
