<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nyt Tilsyn</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="min-height: 200px;">
            <form id="createOversightForm" class="row g-3" action="#" th:action="@{/assets/oversight/create}"
                th:object="${oversight}" method="post">
                <input id="id" name="id" th:field="*{id}" type="hidden">
                <input id="redirectUrl" name="redirectUrl" type="hidden" th:field="*{redirect}">
                <input th:unless="${assetId == null}" id="assetId" name="assetId" th:value="${assetId}" type="hidden">
                <div th:if="${assetId == null}" class="row mt-3">

                        <label class="col-sm-4 col-form-label">Aktiv</label>
                        <div class="col-sm-8">
                            <select class="form-control form-select" name="assetSelect" id="assetId" th:field="*{assetId}">
                                <option th:each="supAsset : ${supplierAssets}" th:value="${supAsset.id}" th:text="${supAsset.name}"></option>
                            </select>
                        </div>

                </div>
                <div class="row mt-3">
                    <div class="input-group col-sm-8">
                        <label for="oversightDateLabel" class="col-sm-4 col-form-label">Dato</label>
                        <input id="oversightDateId" type="text" class="form-control editField datepicker" th:field="*{creationDate}">
                        <button id="oversightDateBtn"  class="btn btn-primary editField" type="button" style="z-index: 0; border-top-right-radius: 0.4375rem; border-bottom-right-radius: 0.4375rem;">
                            <i class="pli-calendar-4 fs-5"></i>
                        </button>
                    </div>
                </div>

                <div th:hidden="${ inspectionType != T(dk.digitalidentity.model.entity.enums.NextInspection).DATE}" class="row mt-3">
                    <div  class="input-group col-sm-8">
                        <label for="oversightDateLabel" class="col-sm-4 col-form-label">Næste tilsyn</label>
                        <input id="oversightInspectionDateInput" type="text" class="form-control editField datepicker" th:field="*{newInspectionDate}">
                        <button id="oversightInspectionDateBtn"  class="btn btn-primary editField" type="button" style="z-index: 0; border-top-right-radius: 0.4375rem; border-bottom-right-radius: 0.4375rem;">
                            <i class="pli-calendar-4 fs-5"></i>
                        </button>
                    </div>
                </div>

                <div class="row mt-3">
                    <label for="userSelect" class="col-sm-4 col-form-label">Ansvarlig</label>
                    <div class="col-sm-8">
                        <select class="form-control form-select choices__input" th:field="*{responsibleUser}"
                            data-trigger="" id="oversightUserSelect" hidden="" required></select>
                        <div class="invalid-feedback">Ansvarlig bruger påkrævet</div>
                    </div>
                </div>

                <div class="row mt-3">
                    <label class="col-sm-4 col-form-label">Tilsynsform</label>
                    <div class="col-sm-8">
                        <select class="form-control form-select" data-trigger="" name="supervisionModel"
                            id="supervisionModelSelect" th:field="*{supervisionModel}">
                            <option
                                th:each="supervision : ${T(dk.digitalidentity.model.entity.enums.ChoiceOfSupervisionModel).values()}"
                                th:value="${supervision}" th:text="${supervision.getMessage()}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <label class="col-sm-4 col-form-label">Konklusion</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" th:field="*{conclusion}"></textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <label class="col-sm-4 col-form-label">Resultat</label>
                    <div class="col-sm-8">
                        <select class="form-control form-select" data-trigger="" name="oversightStatusSelect"
                            id="oversightStatusSelect" th:field="*{status}">
                            <option
                                th:each="status : ${T(dk.digitalidentity.model.entity.enums.AssetOversightStatus).values()}"
                                th:value="${status}"
                                th:text="${status.getMessage()}">
                            </option>
                        </select>
                    </div>
                </div>

            </form>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuller</button>
            <button type="submit" form="createOversightForm" class="btn btn-secondary">Opret</button>
        </div>
    </div>
</div>
