<!DOCTYPE html>
<html lang="DA">
<body>
<div th:fragment="tia(asset, dbChoices)" id="tiaTab" class="tab-pane fade" role="tabpanel" aria-labelledby="tia-tab">
    <form id="tiaForm" action="#" th:action="@{/assets/tia}" th:object="${asset}" method="post" class="needs-validation" novalidate>
        <div>
            <label class="mb-2">
                <input class="form-check-input" id="setTiaOptOutCheckbox" name="tiaOptOutReason" type="checkbox" th:checked="${asset.isTiaOptOut()}"> TIA fravalgt
            </label>
        </div>
        <div id="tiaOptOutView" class="d-none">
            <label for="tiaOptOutText" class="mb-1">Begrundelse for fravalg:</label>
            <textarea id="tiaOptOutText" class="form-control" th:text="${asset.tiaOptOutReason}"></textarea>
            <div class="row mb-3 mt-2">
                <label class="col-sm-3 col-form-label">TIA-link</label>
                <div class="col-sm-9">
                    <div id="tiaLinkView" class="d-flex align-items-center gap-2">
                        <a id="tiaLinkAnchor" th:href="*{tia.link}" th:text="*{tia.link != null and !tia.link.isEmpty()} ? *{tia.link} : 'Ingen link'" target="_blank" rel="noopener noreferrer" class="form-control-link"></a>
                        <button th:if="${changeableAsset}" id="tiaLinkEditBtn" type="button" class="btn btn-secondary btn-sm"><i class="pli-pencil fs-5"></i></button>
                    </div>
                    <div id="tiaLinkEditGroup" class="input-group d-none">
                        <input id="tiaLinkInput" class="form-control" th:value="*{tia.link}" type="text" placeholder="https://...">
                        <button id="tiaLinkSaveBtn" type="button" class="btn btn-secondary"><i class="pli-disk fs-5"></i></button>
                        <button id="tiaLinkCancelBtn" type="button" class="btn btn-danger"><i class="pli-cross fs-5"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="tiaView">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 gx-4">
                <div class="row mb-3 gap-1">
                    <button id="editTIABtn" th:if="${changeableAsset}" type="button" class="btn btn-secondary btn-md col-md-2 btn-right">Rediger TIA</button>
                    <button id="cancelTIABtn" th:if="${changeableAsset}" type="button" class="btn btn-danger btn-md col-md-1 btn-right" hidden>Annuller</button>
                    <button id="saveTIABtn" th:if="${changeableAsset}" type="submit" class="btn btn-secondary btn-md col-md-1 btn-right"  hidden>Gem</button>
                </div>
                <input th:field="${asset.id}" hidden>

                <div class="row mb-3">
                    <!-- Table1-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-lg-4">Beskrivelse af overførslen</th>
                                <th class="col-lg-6">Svar</th>
                                <th class="col-lg-2">Valg</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Modtager af data (Dataimportør)</td>
                                <td>
                                    <ul>
                                        <li th:each="supplier : ${asset.suppliers.?[thirdCountryTransfer == T(dk.digitalidentity.model.entity.enums.ThirdCountryTransfer).YES]}" th:text="${supplier.supplier.name} + ' ' + (${supplier.supplier.country} ? '(' + ${supplier.supplier.country} + ')' : '')"></li>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hvilke behandlinger foretages med hvilket formål?</td>
                                <td>
                                    <dl>
                                        <th:block th:each="register : ${registers}">
                                        <dt th:text="${register.name}"></dt>
                                        <dd th:text="${register.purpose}"></dd>
                                        </th:block>
                                    </dl>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hvilke typer af personlysninger overføres til tredjelandet?</td>
                                <td>
                                    <select class="form-control form-select choices__input" data-type="select-multiple" data-trigger="" th:field="*{tia.informationTypes}" hidden="" tabindex="-1" multiple>
                                        <option th:each="choice : ${dbChoices.personCategoriesInformationIdentifiers1.values}"
                                                th:value="${choice.identifier}" th:text="${choice.caption}"></option>
                                        <option th:each="choice : ${dbChoices.personCategoriesInformationIdentifiers2.values}"
                                                th:value="${choice.identifier}" th:text="${choice.caption}"></option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hvilke kategorier af registrerede overføres til tredjelandet?</td>
                                <td>
                                    <select class="form-control form-select choices__input" data-type="select-multiple" data-trigger="" th:field="*{tia.registeredCategories}" hidden="" tabindex="-1" multiple>
                                        <option th:each="choice : ${dbChoices.personCategoriesRegisteredIdentifiers.values}"
                                                th:value="${choice.identifier}" th:text="${choice.caption}"></option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Sendes oplysningerne sendes videre til andre leverandører?</td>
                                <td>
                                    <select class="form-control form-select editField" th:field="*{tia.forwardInformationToOtherSuppliers}" tabindex="-1" disabled>
                                        <option value=""></option>
                                         <option th:each="fitos : ${T(dk.digitalidentity.model.entity.enums.ForwardInformationToOtherSuppliers).values()}"
                                                 th:value="${fitos.name}" th:text="${fitos.message}"></option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr id="details" class="collapse" th:classappend="*{tia.forwardInformationToOtherSuppliers == T(dk.digitalidentity.model.entity.enums.ForwardInformationToOtherSuppliers).YES} ? 'show' : ''">
                                <td></td>
                                <td><textarea rows="8" class="form-control editField" th:field="*{tia.forwardInformationToOtherSuppliersDetail}"></textarea></td>
                                <td></td>
                            </tr>
                         </tbody>
                         <thead>
                            <tr>
                                <th colspan="3">Grundlæggende parametre for overførsel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hvor længe påregnes overførelsen at finde sted?</td>
                                <td><textarea rows="8" class="form-control editField" th:field="*{tia.expectedTransferDuration}"></textarea></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>I hvilke tilfælde sker overførsel af data?</td>
                                <td><textarea rows="8" class="form-control editField" th:field="*{tia.transferCaseDescription}"></textarea></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hvilken adgang gives til data</td>
                                <td>
                                    <select class="form-control form-select editField" th:field="*{tia.accessType}" tabindex="-1" disabled>
                                        <option value=""></option>
                                         <option th:each="fitos : ${T(dk.digitalidentity.model.entity.enums.AccessType).values()}"
                                                 th:value="${fitos.name}" th:text="${fitos.message}"></option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                         </tbody>
                         <thead>
                            <tr>
                                <th colspan="3">Implementerede sikkerhedsforanstaltninger</th>
                            </tr>
                        </thead>
                        <tbody id="measures">
                            <tr>
                                <td>Tekniske sikkerhedsforanstaltninger</td>
                                <td><textarea rows="8" class="form-control editField" th:field="*{tia.technicalSecurityMeasures}"></textarea></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Organisatoriske sikkerhedsforanstaltninger</td>
                                <td><textarea rows="8" class="form-control editField" th:field="*{tia.organizationalSecurityMeasures}"></textarea></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Kontraktuelle sikkerhedsforanstaltninger</td>
                                <td><textarea rows="8" class="form-control editField" th:field="*{tia.contractualSecurityMeasures}"></textarea></td>
                                <td></td>
                            </tr>
                         </tbody>
                         <thead>
                            <tr>
                                <th colspan="3">Modtagerlands lovgivning</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Acceptgrundlag</td>
                                <td>
                                    <dl>
                                        <th:block th:each="supplier : ${asset.suppliers}">
                                            <dt  th:text="${supplier.supplier.name}"></dt>
                                            <dd style="text-indent: 20px;" th:each="choice: ${acceptanceBasisChoices.values}" th:if="${supplier.acceptanceBasis == choice.identifier}" th:text="${'- ' + choice.caption}"></dd>
                                        </th:block>
                                    </dl>
                                </td>
                                <td></td>
                            </tr>
                         </tbody>
                        <thead>
                        <tr>
                            <th colspan="3">Accept</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><label for="acceptCheckbox">TIA gennemgået og accepteret</label></td>
                            <td><input id="acceptCheckbox" name="acceptCheckbox" type="checkbox" class="form-check-input editField" th:field="*{tia.accepted}" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><label for="acceptComment">Bemærkning</label></td>
                            <td><textarea id="acceptComment" name="acceptComment" rows="8" class="form-control editField" th:field="*{tia.acceptedComment}"></textarea></td>
                            <td></td>
                        </tr>
                        <tr th:if="*{tia.accepted}">
                            <td></td>
                            <td><input type="text" rows="8" class="form-control" th:value="${'Accepteret af ' + asset.tia.acceptedByName + ' d. ' + #temporals.format(asset.tia.acceptedDate, 'dd-MM-yyyy')}" readonly /></td>
                            <td></td>
                        </tr>
                        </tbody>
                         <thead>
                            <tr>
                                <th colspan="2">Konklusion</th>
                                <th>Vurdering</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <textarea rows="8" class="form-control editField" th:field="*{tia.conclusion}"></textarea>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group" role="group" aria-label="Vurdering">
                                      <input type="radio" class="btn-check editField" name="btnradio" id="btnRed" value="RED" th:field="*{tia.assessment}" autocomplete="off" required >
                                      <label class="btn btn-outline-danger" for="btnRed">Rød</label>
                                      <input type="radio" class="btn-check editField" name="btnradio" id="btnYellow" value="YELLOW" th:field="*{tia.assessment}" autocomplete="off" required >
                                      <label class="btn btn-outline-warning" for="btnYellow">Gul</label>
                                      <input type="radio" class="btn-check editField" name="btnradio" id="btnGreen" value="GREEN" th:field="*{tia.assessment}" autocomplete="off" required >
                                      <label class="btn btn-outline-success" for="btnGreen">Grøn</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const changeableAsset = /*[[${changeableAsset}]]*/ [];
        const registeredCategories = /*[[${dbChoices.personCategoriesRegisteredIdentifiers.values}]]*/ [];
        const informationChoices1 = /*[[${dbChoices.personCategoriesInformationIdentifiers1.values}]]*/ [];
        const informationChoices2 = /*[[${dbChoices.personCategoriesInformationIdentifiers2.values}]]*/ [];
        const chosenCategories = /*[[${asset.tia.registeredCategories}]]*/ [];
        const chosenInformationTypes = /*[[${asset.tia.informationTypes}]]*/ [];
        /*]]>*/
    </script>
</div>
</body>
</html>
