<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<button th:fragment="infoButton(id, text, iconClass)" sec:authorize="hasAnyRole('ROLE_create_owner_only','ROLE_create_all')"
        th:id="${id}"
        type="button" class="btn btn-info btn-lg hstack gap-2">
    <i  th:class="${iconClass}"></i> <span class="vr"></span> <span th:text="${text}"></span>
</button>

<button th:fragment="infoButtonWithDataId(id, text, dataId, iconClass)" sec:authorize="hasAnyRole('ROLE_create_owner_only','ROLE_create_all')"
        th:id="${id}" th:data-id="${dataId}"
        type="button" class="btn btn-info btn-lg hstack gap-2">
    <i  th:class="${iconClass}"></i> <span class="vr"></span> <span th:text="${text}"></span>
</button>

<button th:fragment="openModalInfoButton(id, text, iconClass, target)" sec:authorize="hasAnyRole('ROLE_create_owner_only','ROLE_create_all')"
        th:id="${id}" data-bs-toggle="modal" th:attr="data-bs-target=${target}"
        type="button" class="btn btn-info btn-lg hstack gap-2">
    <i  th:class="${iconClass}"></i> <span class="vr"></span> <span th:text="${text}"></span>
</button>
</html>
