<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: head (gridjs = true, sweetalerts = true)}"></head>
<body class="jumping">
<script th:src="@{/js/asset/form.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/assets.css}" />

<div id="root" class="root mn--max hd--expanded">
    <section id="content" class="content">
        <div class="content__header content__boxed overlapping">
            <div class="content__wrap">
                <div class="d-md-flex">
                    <div class="me-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Hjem</a></li>
                                <li class="breadcrumb-item active" aria-current="page">DBS tilsyn</li>
                            </ol>
                        </nav>
                        <h1 class="page-title mb-0 mt-2">DBS tilsyn</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="align-self-center d-inline-flex">
                        <button type="button" onclick="createTaskService.show()" class="btn btn-success btn-lg hstack gap-2" style="margin-bottom: 8px; height: 45px">
                            <i class="ti-plus"></i> <span class="vr"></span> Ny opgave
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__boxed">
            <div class="content__wrap">
                <article class="d-md-flex gap-4">
                    <div class="flex-fill">
                        <div class="card mb-3">
                            <div class="card-body">
                            	<div th:replace="~{fragments/gridOptions :: dropdown}"></div>
                                <div id="assetsDatatable"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/navbar :: main (page='dbs_oversight')}"></nav>
</div>
<div th:replace="~{fragments/footer :: footer (taskDialog = true, gridjs = true, sweetalerts = true, gridoptions = true)}"></div>

<style>
    #assetsDatatable table {
        overflow: visible;
    }
    
    .gridjs-container .gridjs-wrapper {
        overflow: visible;
    }

</style>

<script th:inline="javascript">
    /*<![CDATA[*/

    /*[+
        var gridDBSOversightUrl = [[@{/rest/dbs/oversight/list}]];
    +]*/

    let token = document.getElementsByName("_csrf")[0].getAttribute("content");

    const defaultClassName = {
        table: 'table table-striped',
        search: "form-control",
        header: "d-flex justify-content-end"
    };

    const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    document.addEventListener("DOMContentLoaded", function(event) {

        var tableDiv = document.getElementById("assetsDatatable");

        // load saved state assets
        const assetGridKey = window.location.pathname;
        const assetGridKeySearch = assetGridKey + '-asset-search'
        const savedSearchAsset = localStorage.getItem(assetGridKeySearch);
        let initialAssetLoadDone = false;  // flag to ensure initial load only happens once

        const grid = new gridjs.Grid({
            className: defaultClassName,
            search: {
                enabled: true,
                keyword: savedSearchAsset,
                server: {
                    url: (prev, keyword) => updateUrl(prev, `search=${keyword}`)
                },
                debounceTimeout: 1000
            },
            pagination: {
                limit: 25,
                resetPageOnUpdate: false,
                server: {
                    url: (prev, page, size) => updateUrl(prev, `size=${size}&page=${page}`)
                }
            },
            sort: {
                enabled: true,
                multiColumn: false,
                server: {
                    url: (prev, columns) => {
                        if (!columns.length) return prev;
                        const columnIds = ['id', 'name', 'supplier', 'supervisoryModel', 'dbsAssets', 'oversightResponsible', 'lastInspection', 'lastInspectionStatus', 'outstandingSince' ];
                        const col = columns[0]; // multiColumn false
                        const order = columnIds[col.index];
                        return updateUrl(prev, 'dir=' + (col.direction === 1 ? 'asc' : 'desc') + ( order ? '&order=' + order : ''));
                    }
                }
            },
            columns: [
                {
                    name: "id",
                    hidden: true,
                },
                {
                    name: "Navn",
                },
                {
                    name: "Leverandør",
                },
                {
                    name: "Tilsynform",
                },
                {
                    name: "DBS",
                    sort: false,
                    formatter: (cell, row) => {
                        var html = '<ul>'
                        
                    	for (let i = 0; i < cell.length; i++) {
                    		 html += '<li>' + cell[i].name + '</li>'
                    	}
                        
                        html += '</ul>'
                        return gridjs.html(html);
                    }
                },
                {
                    name: "Ansvarlig"
                },
                {
                    name: "Sidst tilsyn"
                },
                {
                    name: "Resultat",
                    width: "100px",
                    formatter: (cell, row) => {
                        let status = cell;
                        if (cell === "Grøn") {
                            status = [
                                '<div class="d-block badge bg-green" style="width: 60px">' + cell + '</div>'
                            ]
                        } else if (cell === "Gul") {
                            status = [
                                '<div class="d-block badge bg-yellow-500" style="width: 60px">' + cell + '</div>'
                            ]
                        } else if (cell === "Rød") {
                            status = [
                                '<div class="d-block badge bg-red" style="width: 60px">' + cell + '</div>'
                            ]
                        }
                        return gridjs.html(status, 'div');
                    }
                },
                {
                    name: "Ubehandlet tilsyn"
                }
            ],
            server:{
                url: gridDBSOversightUrl,
                method: 'POST',
                headers: {
                    'X-CSRF-TOKEN': token
                },
                then: data => data.content.map(asset =>
                    [ asset.id, asset.name, asset.supplier, asset.supervisoryModel, asset.dbsAssets, asset.oversightResponsible, asset.lastInspection, asset.lastInspectionStatus, asset.outstandingSince ],
                ),
                total: data => data.totalCount
            },
            language: {
                'search': {
                    'placeholder': 'Søg'
                },
                'pagination': {
                    'previous': 'Forrige',
                    'next': 'Næste',
                    'showing': 'Viser',
                    'results': 'aktiver',
                    'of': 'af',
                    'to': 'til',
                    'navigate': (page, pages) => `Side ${page} af ${pages}`,
                    'page': (page) => `Side ${page}`
                }
            }
        }).render(tableDiv);

        // set state on grid
        grid.on('ready', function() {
            if (!document.getElementsByClassName("gridjs-currentPage")[0]) {
            	document.getElementsByClassName("gridjs-pages")[0].children[1].click();
            }
            
            // only apply saved state on the first load
            if (!initialAssetLoadDone) {

                const searchInput = document.querySelector('#assetsDatatable .gridjs-search-input');
                if (searchInput) {
                    searchInput.addEventListener('input', function() {
                        if (this.value === '') {
                            localStorage.removeItem(assetGridKeySearch);
                        } else {
                            localStorage.setItem(assetGridKeySearch, this.value);
                        }
                    });
                }

                initialAssetLoadDone = true;  // ensure this only runs once
            }
        });
        gridOptions.init(grid, document.getElementById("gridOptions"));
    });

    /*]]>*/
</script>

</body>

</html>
